
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.videoHolder {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden
}

.videoHolder .video {
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%)
}


@media only screen and (min-width:1024px) {
  .align-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
}

@media only screen and (max-width:1024px) {
  .d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }

  .d-flex .medium-order-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
  }

  .d-flex .medium-order-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2
  }
}

.bbt-simplicity {
  padding-top: 15px
}

.bbt-simplicity__content {
  max-width: 510px;
  margin: 0 auto;
  padding: 15px
}

@media only screen and (max-width:1024px) {
  .bbt-simplicity__content {
    max-width: none
  }
}

.bbt-simplicity__content h2 {
  font-size: 42px;
  line-height: 1.3;
  margin-bottom: 10px
}

@media only screen and (max-width:768px) {
  .bbt-simplicity__content h2 {
    font-size: 30px
  }
}

.bbt-simplicity__image {
  width: 100%
}

.bbt-saunaChanges {
  padding-top: 15px
}

.bbt-saunaChanges__content {
  max-width: 510px;
  margin: 0 auto;
  padding: 15px
}

@media only screen and (max-width:1024px) {
  .bbt-saunaChanges__content {
    max-width: none
  }
}

.bbt-saunaChanges__content h2 {
  font-size: 42px;
  line-height: 1.3;
  margin-bottom: 10px
}

@media only screen and (max-width:768px) {
  .bbt-saunaChanges__content h2 {
    font-size: 30px
  }
}

.bbt-saunaChanges__image {
  width: 100%
}

.bbt-sensations {
  padding-top: 15px
}

.bbt-sensations__content {
  max-width: 510px;
  margin: 0 auto;
  padding: 15px
}

@media only screen and (max-width:1024px) {
  .bbt-sensations__content {
    max-width: none
  }
}

.bbt-sensations__content h2 {
  font-size: 42px;
  line-height: 1.3;
  margin-bottom: 10px
}

@media only screen and (max-width:768px) {
  .bbt-sensations__content h2 {
    font-size: 30px
  }
}

.bbt-sensations__image {
  width: 100%
}

.bbt-saunaTypes {
  padding-top: 25px;
  padding-bottom: 25px
}

.bbt-saunaTypes__heading {
  text-align: center
}

.bbt-saunaTypes__heading h2 {
  font-size: 42px;
  line-height: 1.3;
  margin-bottom: 10px
}

@media only screen and (max-width:768px) {
  .bbt-saunaTypes__heading h2 {
    font-size: 30px
  }
}

.bbt-saunaTypes__left h4 {
  font-size: 22px;
  font-weight: 600
}

.bbt-saunaTypes__right h4 {
  font-size: 22px;
  font-weight: 600
}

.saunaLogic2__wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto
}

.saunaLogic2__heading h2 {
  text-align: center;
  font-size: 42px
}

.saunaLogic2__heading h3 {
  text-align: center !important;
  font-size: 30px !important;
  text-transform: none !important
}

.saunaLogic2 .appDownloadApple br {
  display: none
}

.saunaLogic2 .appDownloadApple p {
  font-weight: 600
}

.saunaLogic2 .appDownloadApple .appDownloadAppleInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.saunaLogic2 .appDownloadAnroid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px
}

.saunaLogic2 .appDownloadAnroid br {
  display: none
}

.saunaLogic2 .appInstructions {
  margin-bottom: 30px
}

.saunaLogic2 .appInstructions p {
  font-weight: 600
}

.saunaLogic2 .appInstructions a {
  text-decoration: underline
}

.saunaLogic2 .appInstructions a:hover {
  text-decoration: none
}

.saunaLogic2 .appVideos {
  padding-bottom: 30px
}

.saunaLogic2 .appVideos__title {
  font-weight: 600
}

.saunaLogic2 .appVideos .video-title-uniq {
  margin-top: 30px;
  margin-bottom: 30px
}

.saunaLogic2 .appVideos .videoWrapper {
  position: relative;
  padding-top: 25px;
  height: 0;
  clear: both
}

.saunaLogic2 .appVideos .videoWrapper.ratio-16-9 {
  padding-bottom: 56.25%
}

.saunaLogic2 .appVideos .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.ws-pureSauna {
  padding-top: 15px
}

.ws-pureSauna__content {
  max-width: 510px;
  margin: 0 auto;
  padding: 15px
}

@media only screen and (max-width:1024px) {
  .ws-pureSauna__content {
    max-width: none
  }
}

.ws-pureSauna__content h2 {
  font-size: 42px;
  line-height: 1.3;
  margin-bottom: 10px
}

@media only screen and (max-width:768px) {
  .ws-pureSauna__content h2 {
    font-size: 30px
  }
}

.ws-pureSauna__image {
  width: 100%
}

.ws-features {
  padding-top: 15px
}

.ws-features__content {
  max-width: 510px;
  margin: 0 auto;
  padding: 15px
}

@media only screen and (max-width:1024px) {
  .ws-features__content {
    max-width: none
  }
}

.ws-features__content h2 {
  font-size: 42px;
  line-height: 1.3;
  margin-bottom: 10px
}

@media only screen and (max-width:768px) {
  .ws-features__content h2 {
    font-size: 30px
  }
}

.ws-features__image {
  width: 100%
}

.wc-coanda {
  padding-top: 15px
}

.wc-coanda__content {
  max-width: 510px;
  margin: 0 auto;
  padding: 15px
}

@media only screen and (max-width:1024px) {
  .wc-coanda__content {
    max-width: none
  }
}

.wc-coanda__content h2 {
  font-size: 42px;
  line-height: 1.3;
  margin-bottom: 10px
}

@media only screen and (max-width:768px) {
  .wc-coanda__content h2 {
    font-size: 30px
  }
}

.wc-coanda__image {
  width: 100%
}

.is-anywhere__content {
  width: 100%;
  max-width: 1200px;
  margin: 100px auto
}

.is-anywhere__content h2 {
  text-transform: uppercase;
  font-size: 42px;
  text-align: center;
  font-weight: 600
}

@media only screen and (max-width:640px) {
  .is-anywhere__content h2 {
    font-size: 30px
  }
}

.is-anywhere__content p {
  font-size: 26px;
  line-height: 1.4;
  text-align: center
}

@media only screen and (max-width:640px) {
  .is-anywhere__content p {
    font-size: 18px
  }
}

.is-anywhere__content img {
  width: 100%
}

.is-healthier-infrared {
  padding-top: 50px;
  padding-bottom: 50px
}

.is-healthier-infrared__top {
  width: 100%;
  max-width: 960px;
  margin: 0 auto 50px;
  text-align: center
}

.is-healthier-infrared__top h2 {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 600
}

@media only screen and (max-width:640px) {
  .is-healthier-infrared__top h2 {
    font-size: 30px
  }
}

.is-healthier-infrared__top p {
  font-size: 26px;
  line-height: 1.4
}

@media only screen and (max-width:640px) {
  .is-healthier-infrared__top p {
    font-size: 18px
  }
}

.is-healthier-infrared__bottom img {
  width: 100%
}

@media only screen and (max-width:640px) {
  .is-healthier-infrared__bottom img:first-child {
    margin-bottom: 20px
  }
}

.is-infrared-technology {
  padding-top: 15px
}

.is-infrared-technology__content {
  max-width: 900px;
  margin: 0 auto;
  padding: 15px
}

@media only screen and (max-width:1024px) {
  .is-infrared-technology__content {
    max-width: none
  }
}

.is-infrared-technology__content h2 {
  font-size: 42px;
  line-height: 1.3;
  margin-bottom: 10px
}

@media only screen and (max-width:768px) {
  .is-infrared-technology__content h2 {
    font-size: 30px
  }
}

.is-infrared-technology__image {
  width: 100%
}

.is-betterWay {
  padding-top: 15px
}

.is-betterWay__content {
  max-width: 900px;
  margin: 0 auto;
  padding: 15px
}

@media only screen and (max-width:1024px) {
  .is-betterWay__content {
    max-width: none
  }
}

.is-betterWay__content h2 {
  font-size: 42px;
  line-height: 1.3;
  margin-bottom: 10px
}

@media only screen and (max-width:768px) {
  .is-betterWay__content h2 {
    font-size: 30px
  }
}

.is-betterWay__image {
  width: 100%
}

.is-bathing {
  padding-top: 15px
}

.is-bathing__content {
  max-width: 900px;
  margin: 0 auto;
  padding: 15px
}

@media only screen and (max-width:1024px) {
  .is-bathing__content {
    max-width: none
  }
}

.is-bathing__content h2 {
  font-size: 42px;
  line-height: 1.3;
  margin-bottom: 10px
}

@media only screen and (max-width:768px) {
  .is-bathing__content h2 {
    font-size: 30px
  }
}

.is-bathing__content ul {
  font-size: 20px
}

.is-bathing__image {
  width: 100%
}

.global-text-image {
  padding-top: 15px
}

.global-text-image__content {
  max-width: 510px;
  margin: 0 auto;
  padding: 15px
}

@media only screen and (max-width:1024px) {
  .global-text-image__content {
    max-width: none
  }
}

.global-text-image__content h2 {
  font-size: 42px;
  line-height: 1.3;
  margin-bottom: 10px
}

@media only screen and (max-width:768px) {
  .global-text-image__content h2 {
    font-size: 30px
  }
}

.global-text-image__image {
  width: 100%
}

.global-image-text {
  padding-top: 15px
}

.global-image-text__content {
  max-width: 510px;
  margin: 0 auto;
  padding: 15px
}

@media only screen and (max-width:1024px) {
  .global-image-text__content {
    max-width: none
  }
}

.global-image-text__content h2 {
  font-size: 42px;
  line-height: 1.3;
  margin-bottom: 10px
}

@media only screen and (max-width:768px) {
  .global-image-text__content h2 {
    font-size: 30px
  }
}

.global-image-text__image {
  width: 100%
}

.s-series-features {
  padding-top: 50px;
  padding-bottom: 50px
}

.s-series-features h2 {
  margin-bottom: 40px;
  font-size: 42px
}

@media only screen and (max-width:1024px) {
  .s-series-features h2 {
    font-size: 36px
  }
}

.s-series-features ul {
  width: 100%;
  max-width: 630px
}

.s-series-features ul li {
  font-size: 22px
}

@media only screen and (max-width:1024px) {
  .s-series-features ul li {
    font-size: 18px
  }
}

.sisu-essence {
  padding-top: 60px;
  padding-bottom: 60px
}

.sisu-essence__content {
  width: 100%;
  max-width: 740px;
  margin: 0 auto;
  text-align: center
}

.sisu-essence__content h2 {
  margin-bottom: 20px;
  font-size: 42px
}

@media only screen and (max-width:1024px) {
  .sisu-essence__content h2 {
    font-size: 36px
  }
}

.sisu-essence__content p {
  font-size: 22px;
  line-height: 1.3
}

.sisu-buildSauna {
  padding-top: 60px
}

@media only screen and (max-width:1024px) {
  .sisu-buildSauna {
    padding-bottom: 60px
  }
}

.sisu-buildSauna__title {
  text-align: center;
  font-size: 42px;
  margin-bottom: 40px
}

@media only screen and (max-width:1024px) {
  .sisu-buildSauna__title {
    font-size: 36px;
    margin-bottom: 15px
  }
}

@media only screen and (max-width:640px) {
  .sisu-buildSauna__title {
    font-size: 28px;
    margin-bottom: 0
  }
}

.sisu-buildSauna__inner {
  margin-bottom: 60px
}

@media only screen and (max-width:1024px) {
  .sisu-buildSauna__inner {
    margin-bottom: 0;
    text-align: center
  }
}

.archive-product-hero {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat
}

@media only screen and (max-width:1024px) {
  .archive-product-hero {
    height: 415px
  }
}

@media only screen and (max-width:640px) {
  .archive-product-hero {
    height: 260px
  }
}

.archive-product-links {
  position: relative
}

.archive-product-links:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 55%;
  height: 45%;
  width: 100%;
  background-color: #f7f7f7;
  border-bottom: 5px solid #48721b
}

@media only screen and (max-width:1250px) {
  .archive-product-links:before {
    bottom: 50%;
    height: 50%
  }
}

@media only screen and (max-width:1024px) {
  .archive-product-links:before {
    bottom: 0;
    height: 100%
  }
}

@media only screen and (max-width:1024px) {
  .archive-product-links .d-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 25px
  }

  .archive-product-links .small-order-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
  }

  .archive-product-links .small-order-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2
  }

  .archive-product-links .small-order-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3
  }
}

.archive-product-links .archive-product-links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px
}

@media only screen and (max-width:1024px) {
  .archive-product-links .archive-product-links-wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}

.archive-product-links .archive-product-links-wrapper a {
  font-size: 24px;
  font-weight: 600;
  color: #48721b !important;
  border: 3px solid #48721b;
  margin-right: 70px;
  width: 100%;
  max-width: 226px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 8px;
  background-color: transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s
}

@media only screen and (max-width:1460px) {
  .archive-product-links .archive-product-links-wrapper a {
    margin-right: 35px;
    font-size: 22px
  }
}

@media only screen and (max-width:1330px) {
  .archive-product-links .archive-product-links-wrapper a {
    font-size: 18px;
    margin-right: 20px
  }
}

@media only screen and (max-width:1070px) {
  .archive-product-links .archive-product-links-wrapper a {
    font-size: 16px
  }
}

.archive-product-links .archive-product-links-wrapper a:hover {
  background-color: #48721b;
  color: #fff !important
}

.archive-product-links .archive-product-links-wrapper a:last-child {
  margin-right: 0
}

.archive-product-links .archive-product-links-image {
  position: relative;
  top: -63px
}

@media only screen and (max-width:1024px) {
  .archive-product-links .archive-product-links-image {
    top: -120px;
    margin-bottom: -140px
  }
}

.row {
  max-width: 1640px
}

.main-saunas-101 {
  padding: 70px 0
}

@media only screen and (max-width:640px) {
  .main-saunas-101 {
    padding: 40px 0
  }
}

.saunas-content {
  color: #333;
  max-width: 780px;
  margin: 0 auto 80px
}

@media only screen and (max-width:640px) {
  .saunas-content {
    margin-bottom: 60px
  }
}

.saunas-content h1 {
  color: #000;
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 30px
}

.saunas-content h1:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 2px;
  width: 138px;
  background-color: #000
}

.saunas-content p {
  line-height: 1.4
}

.saunas-links {
  margin-bottom: 80px
}

@media only screen and (max-width:640px) {
  .saunas-links {
    margin-bottom: 50px
  }

  .saunas-links .row {
    padding: 0 5px
  }

  .saunas-links .row>.xsmall-6 {
    width: 50% !important
  }

  .saunas-links .row .columns {
    padding-left: 10px !important;
    padding-right: 10px !important
  }
}

.saunas-links__item {
  margin-bottom: 70px
}

@media only screen and (max-width:640px) {
  .saunas-links__item {
    margin-bottom: 20px
  }
}

.saunas-links__image {
  background-color: #a7a9ac;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #a7a9ac;
  min-height: 350px;
  position: relative
}

@media only screen and (max-width:1440px) {
  .saunas-links__image {
    min-height: 300px
  }
}

@media only screen and (max-width:640px) {
  .saunas-links__image {
    min-height: 160px
  }
}

.saunas-links__image:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.4
}

.saunas-links__image a {
  color: #fff !important;
  font-size: 26px;
  font-weight: 300;
  line-height: 1.2;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 20px
}

@media only screen and (max-width:1440px) {
  .saunas-links__image a {
    font-size: 22px
  }
}

@media only screen and (max-width:640px) {
  .saunas-links__image a {
    font-size: 16px
  }
}

.saunas-links__image a:hover:after {
  border-color: #fff
}

.saunas-links__image a:after {
  content: '';
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  border: 2px solid transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s
}

.saunas-links__description {
  color: #333;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
  max-width: 400px;
  margin: 30px auto 0;
  padding: 30px 10px 0;
  position: relative
}

@media only screen and (max-width:1440px) {
  .saunas-links__description {
    font-size: 18px
  }
}

@media only screen and (max-width:640px) {
  .saunas-links__description {
    display: none
  }
}

.saunas-links__description:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 104px;
  height: 2px;
  background-color: #3f6418
}

.saunas-benefits {
  margin-bottom: 60px
}

@media only screen and (max-width:640px) {
  .saunas-benefits {
    margin-bottom: 40px
  }
}

.saunas-benefits__title {
  color: #333;
  font-size: 48px;
  line-height: 1.3;
  max-width: 1200px;
  margin: 0 auto 50px;
  padding-bottom: 40px;
  position: relative
}

@media only screen and (max-width:1024px) {
  .saunas-benefits__title {
    font-size: 40px
  }
}

@media only screen and (max-width:640px) {
  .saunas-benefits__title {
    font-size: 28px;
    margin: 0 auto 30px;
    padding-bottom: 30px
  }
}

.saunas-benefits__title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 2px;
  width: 140px;
  background-color: #000
}

@media only screen and (max-width:640px) {
  .saunas-benefits__title:after {
    height: 3px;
    width: 100px
  }
}

.saunas-benefits__item {
  max-width: 420px;
  margin: 0 auto 100px
}

@media only screen and (max-width:640px) {
  .saunas-benefits__item {
    margin-bottom: 50px
  }
}

.saunas-benefits__item img {
  margin-bottom: 15px
}

.saunas-benefits__item h4 {
  color: #4b4b4b;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 15px
}

@media only screen and (max-width:640px) {
  .saunas-benefits__item h4 {
    font-size: 22px
  }
}

.saunas-benefits__item p {
  color: #333;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4
}

.saunas-brochure {
  margin-bottom: 80px
}

@media only screen and (max-width:640px) {
  .saunas-brochure {
    margin-bottom: 40px
  }
}

.saunas-brochure__content {
  color: #333
}

.saunas-brochure__content h3:first-of-type {
  color: #333;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative
}

@media only screen and (max-width:640px) {
  .saunas-brochure__content h3:first-of-type {
    font-size: 24px;
    padding-bottom: 25px;
    margin-bottom: 25px
  }
}

.saunas-brochure__content h3:first-of-type:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 140px;
  height: 2px;
  background-color: #000
}

.saunas-brochure__content p {
  line-height: 1.4
}

.saunas-brochure__content .button {
  margin: 20px 0 !important
}

.saunas-brochure__placeholder {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #a7a9ac;
  padding-top: 65%;
  position: relative
}

@media only screen and (max-width:1024px) {
  .saunas-brochure__placeholder {
    margin-bottom: 20px
  }
}

.saunas-brochure__play {
  font-size: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff !important;
  background-color: #599021;
  padding: 20px 40px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s
}

@media only screen and (max-width:640px) {
  .saunas-brochure__play {
    font-size: 18px;
    padding: 15px 30px
  }
}

.saunas-brochure__play:hover {
  background-color: #619c24
}

/*reviews*/
/* .collection-video-reviews h2.title {
  color: black;
} */

.collection-video-reviews .quote-section blockquote,
.collection-video-reviews .quote-section p.quote-author {
  color: black;
}

.container.new__reviews h2 {
  text-align: center;
}

.container.new__reviews .artificial__hr {
  margin: 0 auto;
}

/*reviews*/


/*a-spot section*/
.video-header .overlay .container .the-content h3,
.img-pan .overlay .container .the-content h3 {
  width: 100%;
  max-width: 100%;
  text-align: center;
  bottom: 0;
  font-size: 3.5em;
}

@media only screen and (max-width: 640px) {

  .video-header .overlay .container .the-content h3,
  .img-pan .overlay .container .the-content h3 {
    font-size: 42px;
    text-align: left;
  }
}

@media only screen and (max-width: 1024px) {
  .video-header .overlay .container .the-content {
    width: 100%;
    left: 0;
    padding: 0 15px;
  }
}

.the-links.block-menu {
  display: none;
}

.overlay {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, .5) 0%, transparent 55%);
}

/*a-spot section*/

/*health and wellness content block */
.health__wellness__container {
  display: flex;
  flex-wrap: wrap;
}

.background__wellness__block,
.health__wellness__content__block {
  flex: 1;
}

.background__wellness__block {
  background: url(https://s3.amazonaws.com/wp-agilitysquared/finnleo/wp-content/uploads/2019/08/infrared-sauna-cta-billboard@2x.png);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.health__wellness__container {
  display: flex;
  flex-wrap: wrap;
  min-height: 650px;
}

.health__wellness__content__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
}

.health__wellness__content__block p:empty {
  display: none;
}

a.content__block__link {
  display: inline-block;
  background: #406418;
  color: white !important;
  padding: .5em 2em;
  border-radius: 5px;
  text-align: center;
}

.health__wellness__content__container {
  padding: 2em;
  max-width: 700px;
}

.health__wellness__content__container h2 {
  color: #000;
  font-size: 40px;
}

@media (max-width: 767px) {
  .health__wellness__container {
    flex-direction: column;
  }

  .background__wellness__block {
    order: 2;
    min-height: 350px;
  }

  hr.artificial__hr {
    margin: 0 auto;
    margin-bottom: 1em;
  }

  .health__wellness__content__block {
    order: 1;
    background-color: #fff;
  }

  .health__wellness__content__container {
    padding: 1em;
  }

  .health__wellness__content__container hr.artificial__hr {
    margin: 0.5em 0 1em;
  }

  .health__wellness__content__container h2 {
    font-size: 30px;
  }

  .health__wellness__content__container a.content__block__link {
    width: 100%;
  }
}

section.general.block.section-block.health__wellness {
  padding-top: 6em;
  padding-bottom: 3em;
}

@media only screen and (max-width: 767px) {
  section.general.block.section-block.health__wellness {
    padding: 1em 0;
  }
}


/*health and wellness content block */


/*reviews blok*/

.new__reviews hr.artificial__hr {
  margin: 0 auto;
  margin-bottom: 2em;
  margin-top: 1em;
}

.new__reviews button.slick-prev.slick-arrow {
  background: url(https://s3.amazonaws.com/wp-agilitysquared/finnleo/wp-content/uploads/2019/08/LEFT-ARROW.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  font-size: 0;
  width: 50px;
  height: 50px;
  margin: 5px !important;
}

.new__reviews button.slick-prev.slick-arrow:before {
  display: none;
}

.new__reviews button.slick-next.slick-arrow {
  background: url(https://s3.amazonaws.com/wp-agilitysquared/finnleo/wp-content/uploads/2019/08/Group-283.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  font-size: 0;
  width: 50px;
  height: 50px;
  margin: 5px !important;
}

.new__reviews button.slick-next.slick-arrow:before {
  display: none;
}

.new__reviews button.slick-prev.slick-arrow,
.new__reviews button.slick-next.slick-arrow {
  position: absolute;
  top: 50%;
}

@media only screen and (max-width: 1024px) {

  .new__reviews button.slick-prev.slick-arrow,
  .new__reviews button.slick-next.slick-arrow {
    top: 101%;
    margin: 10px !important;
  }
}

.new__reviews button.slick-next.slick-arrow {
  right: 0;
}

.new__reviews button.slick-prev.slick-arrow {
  left: 0;
}

.name__of__reviewer {
  font-weight: 600;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.row.row__review .columns.large-6.medium-12.small-12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.review__container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
  text-align: left;
}

@media only screen and (max-width: 1024px) {
  .review__container {
    max-width: none;
  }
}

.review__container p {
  line-height: 1.4;
}

.row.row__review a.content__block__link {
  display: inline-block;
  background: #406418;
  color: white !important;
  padding: .5em 2em;
  border-radius: 5px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

@media (min-width: 1024px) {
  .row.row__review {
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
  }
}

@media (min-width: 1024px) {
  section.general.block.section-block.new__reviews {
    padding-top: 6em;
    padding-bottom: 6em;
  }
}

@media (max-width: 1023px) {
  section.general.block.section-block.new__reviews {
    padding-top: 2em;
    padding-bottom: 3em;
  }
}

.review__container img {
  padding: 0 !important;
}


/*reviews block*/


/*b-spot*/
.saunas__container {
  display: flex;
  flex-wrap: wrap;
  background: white;
}

.sauna__block {
  flex: 1;
  position: relative;
  margin: 0.8em;
  min-height: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

@media only screen and (max-width: 767px) {
  .sauna__block {
    min-height: 400px;
  }
}

.sauna__block.traditional {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(https://s3.amazonaws.com/wp-agilitysquared/finnleo/wp-content/uploads/2019/08/1.png);
}

.sauna__block.infrared {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(https://s3.amazonaws.com/wp-agilitysquared/finnleo/wp-content/uploads/2019/08/2.png);
}

.sauna__block.infraSauna {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(https://s3.amazonaws.com/wp-agilitysquared/finnleo/wp-content/uploads/2019/08/3.png);
}

.sauna__block h3,
.sauna__block p {
  color: white;
}

a.block__content__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.custom__separator {
  width: 110px;
  border-bottom: 3px solid white;
  margin: 0 auto;
  margin-bottom: 2em;
  margin-top: 2em;
}

.sauna__block .block__content {
  max-width: 350px;
  padding: .5em;
  margin: .5em;
  text-align: center;
  border: 3px solid transparent;
}

.sauna__block .block__content:hover {
  border-color: #fff;
}

section.general.block.section-block.saunas__bspot {
  margin-top: -60px;
  padding: 0 10px;
  z-index: 1;
}

.video-header .overlay .container .the-content h3,
.img-pan .overlay .container .the-content h3 {
  bottom: 50px;
}

.sauna__block h3 {
  font-size: 1.9em !important;
}


@media (min-width: 1024px) {
  .sauna__block {
    min-height: 620px;
  }

  .sauna__block.infrared {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 1023px) {
  .saunas__container {
    flex-direction: column;
  }

  .video-header .overlay .container .the-content h3,
  .img-pan .overlay .container .the-content h3 {
    margin-bottom: 1em;
  }

  .sauna__block {
    margin-bottom: 0;
  }
}

.video-header .overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.82) 0%, rgba(44, 44, 44, 0.24) 50%, rgba(33, 33, 33, 0) 100%);
}

/*b-spot*/


/*review fixes*/

.saunas__container {
  max-width: 1600px;
  margin: 0 auto;
}

/*review fixes*/
.green__me a {
  color: #5c8f2d !important;
}

.green__me a:hover {
  color: white !important;
  background: #5c8f2d;
  padding: 1em;
}


.flex-row {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 430px) {

  .flex-row,
  .row>.columns {
    width: 100%;
  }
}

.ds-product__image {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
}

.ds-product__title {
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  color: #595959;
  margin-bottom: 30px;
}

.ds-filters {
  border-radius: 10px;
  background-color: #f7f7f7;
  padding: 25px 35px;
  margin: 20px 0;
}

@media only screen and (max-width: 1024px) {
  .ds-filters {
    display: none;
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    overflow: scroll;
    margin: 0;
    border-radius: 0;
    padding: 65px 35px 80px;
  }

  .ds-filters__top {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    padding: 10px 30px;
  }

  .ds-filters__top h4 {
    color: #202020;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
  }

  .ds-filters__bottom {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    padding: 10px 30px;
    border-top: 1px solid #adadad;
    display: flex !important;
    justify-content: space-between;
  }

  .ds-filters__bottom button {
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    padding: 8px 20px;
    margin: 0 !important;
    width: 48%;
  }

  .ds-filters__bottom input[type="reset"] {
    color: #7e7e7e;
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    background-color: #fff;
    border: 3px solid #7e7e7e;
    padding: 8px 20px;
    width: 48%;
  }
}

.ds-filters__top #js-toggle-filters {
  color: #202020;
  font-size: 32px;
}

.ds-filters .content-categories input[type="checkbox"] {
  display: none
}

.ds-filters .content-categories label {
  color: #3e3e3e;
  font-size: 18px;
  width: auto;
  display: inline-block !important;
  position: relative;
  margin: 0 0 15px 0 !important;
  cursor: pointer;
  padding-left: 40px
}

.ds-filters .content-categories label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 24px;
  width: 24px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: 0.3s;
}

.ds-filters .content-categories label:hover:before {
  background-color: #48721b;
}

.ds-filters .content-categories input:checked~label:before {
  background-color: #48721b;
  border-color: #48721b;
}

.ds-filters .content-categories label:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 9px;
  width: 7px;
  height: 12px;
  display: none;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border: solid white;
  border-width: 0 3px 3px 0;
  background-color: transparent;
}

.ds-filters .content-categories input:checked~label:after {
  display: block
}

.ds-filters form {
  margin: 0;
}

.ds-filters .content-categories ul {
  margin: 0;
}

.ds-filters .article-title {
  color: #202020;
  font-size: 22px;
  font-weight: 500;
  position: relative;
  margin: 15px 0 5px;
  padding: 20px 0;
  border-top: 2px solid #adadad;
  cursor: pointer;
}

.ds-filters .article-title:first-child {
  border-top: none;
  margin-top: 0;
}

.ds-filters .article-title:after {
  content: "\f067";
  font-family: FontAwesome;
  color: #808080;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.ds-filters .article-title.open:after {
  content: "\f068";
}

#ds-filter ul li {
  list-style: none;
}

.pagination {
  list-style: none;
}

.pagination li {
  display: inline-block;
}

.ds-filters-nav-right {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
  margin-bottom: 35px;
  border-bottom: 1px solid #adadad;
}

.ds-filters-nav-right #ds-sort_by {
  width: 100%;
  max-width: 283px;
  height: 50px;
  margin: 0;
}

.ds-filters-nav-right .ds-filters-name .ds-filters-name__value {
  color: #202020;
  font-size: 40px;
  line-height: 1.4;
  font-weight: 500;
}

.ds-filters-nav-right #ds-filters-search {
  color: #7e7e7e;
  font-size: 21px;
  font-weight: 400;
  width: 100%;
  height: 48px;
  margin: 0;
  padding: 0 20px;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  background-color: #ffffff;
}

.ds-filters-nav-right #ds-filters-search-wrap {
  display: inherit;
  margin: 0;
  width: 100%;
  max-width: 500px;
}

.ds-filters-footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 100px;
}

@media only screen and (max-width: 1024px) {
  .ds-filters-nav-right #ds-filters-search-wrap {
    max-width: none;
  }

  .ds-filters-nav-right {
    padding-bottom: 30px;
    margin: 30px 0;
  }

  .ds-filters-footer-nav {
    justify-content: center;
  }
}


/*.ds-filters-footer-nav #ds-posts_per_page {*/
/*	width: 220px;*/
/*	margin: 0;*/
/*}*/

.ds-filters-footer-nav #ds-posts_per_page {
  list-style-type: none;
  margin: 0;
}

.ds-filters-footer-nav #ds-posts_per_page:before {
  content: 'Show Per Page';
  color: #000;
  font-size: 22px;
  font-weight: 500;
  display: inline-block;
  margin: 5px 5px 5px 0;
}

.ds-filters-footer-nav #ds-posts_per_page li {
  color: #000;
  font-size: 22px;
  font-weight: 400;
  display: inline-block;
  width: 55px;
  line-height: 40px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #4b4b4b;
  margin: 5px 7px;
  cursor: pointer;
  transition: 0.3s;
}

.ds-filters-footer-nav #ds-posts_per_page li:hover {
  background-color: #f7f7f7;
}

.ds-filters-footer-nav #ds-posts_per_page li.selected {
  color: rgba(0, 0, 0, 0.5);
  border-color: #d9d9d9;
  background-color: #f7f7f7;
  cursor: default;
}

.ds-filters-footer-nav .js-pagination .pagination {
  color: #000;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}

.ds-filters-footer-nav .js-pagination .pagination .pagination {
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
  width: 35px;
  line-height: 35px;
  text-align: center;
  transition: 0.3s;
}

.ds-filters-footer-nav .js-pagination .pagination .pagination:hover {
  background-color: #48721b;
}

.ds-filters-footer-nav .js-pagination .pagination .pagination.current {
  background-color: #48721b;
}

.ds-filters-footer-nav .js-pagination .pagination .pagination.dots {
  background-color: rgba(0, 0, 0, 0.3);
}

.ds-filters-toggle {
  font-size: 28px;
  color: #fff !important;
  background-color: #406418 !important;
  margin: 0 0 0 15px !important;
  padding: 10px 18px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

@media only screen and (max-width: 1240px) and (min-width: 1025px) {
  .ds-filters-nav-right {
    flex-direction: column;
  }

  .ds-filters-nav-right .ds-filters-name {
    margin-bottom: 20px;
  }
}

.fl-accordion {
  border: 1px solid #5c8f2d;
  list-style: none;
  margin-left: 0;
}

.fl-title {
  display: block;
  margin: 50px auto 30px;
  padding-bottom: 50px;
  border-bottom: 2px solid #5c8f2d;
}

.fl-toggle {
  padding: 15px 20px 15px 50px;
  display: block;
  color: #5c8f2d !important;
  position: relative;
  font-weight: 700;
}

.fl-toggle:before {
  content: "\f067";
  font: normal normal normal 14px/1 FontAwesome;
  font-weight: 900;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

.show .fl-toggle,
.fl-toggle:hover {
  color: #fff !important;
  background-color: #5c8f2d;
}

.show .fl-toggle:before {
  content: "\f068";
}

.fl-toggle:hover {
  color: #fff;
  background-color: #5c8f2d;
}

.fl-accordion-content {
  overflow: hidden;
  display: none;
  padding: 50px;
  color: #000;
}

.fl-accordion-content ul {
  list-style: disc;
}

.show .fl-accordion-content {
  /*display: block;*/
}

@media (max-width: 767px) {
  .fl-accordion-content {
    padding: 15px 25px;
  }

  .fl-accordion-content p {
    font-size: 1rem;
  }

  .fl-accordion-content ul {
    margin-left: 30px;
  }
}

.cards {
  background-color: #f6f6f6;
  padding: 50px 0 35px;
}

.cards h4 {
  margin-bottom: 35px;
}

.card-item .wp-caption {
  padding: 5px 7px 10px;
  margin-bottom: 15px;
}

.card-item .wp-caption img {
  width: 100%;
  max-width: 100%;
}

.btn-default {
  display: inline-block;
  font-size: 15px;
  padding: 12px 24px;
  color: #5c8f2d !important;
  transition: 0.3s all ease;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #487224;
  margin-right: 15px;
  margin-bottom: 15px;
  font-weight: 700;
}

.btn-default:hover {
  color: #fff !important;
  background-color: #487224;
}

.responsiveWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.responsiveWrapper iframe,
.responsiveWrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-video-wrap {
  background-color: rgba(244, 244, 244, 0.78);
  padding: 50px 30px;
  margin-bottom: 70px;
}

.fl-wrap {
  margin-bottom: 90px;
}

.fl-wrap hr {
  border-color: #000;
}

div.tab {
  max-height: none !important;
}

body .prod.btns .button.ask-question,
body .prod.btns .button.dwlbrochure {
  display: flex !important;
  align-items: center;
  justify-content: center;
}