
@media only screen and (min-width:1024px){
    .header4 header.desktop.nav{
        display: block;
        background-color: $header-primary-bg !important;
        background: $header-bg-image;
    		background-repeat: $header-bg-image-repeat;
    		background-size: $header-bg-image-size;
    }
    .header4 header.mobile{
        display: none;
    }
    .header4 .desktop.nav .container{
        position: relative;
    }
    .header4 header h1{
        margin: 24px 0 24px 0px !important;
        height: 40px;
        overflow: hidden;
        width: auto;
        display: inline-block;
        padding: 0 !important;
        padding-left: 1em!important;
    }
    .header4 header h1 a{
        display: inline-block;
        width: auto;
        height: 100%;
        text-indent: -999em;
    }
    .header4 header h1 a img{
        height: 100%;
        width: auto;
        display: block;
        margin: -1.4em 0 0 0;
        padding: 0;
    }
    .header4 .head-text{
        position: absolute;
        right: 0;
        top: 30%;
        padding-right: 1em;
		line-height: 2.5em;
    }

    .header4 .desktop.nav{
        padding-top: 45px;
        position: relative;
        padding-bottom: 50px;
    }
    .header4 nav.utilities.nav{
        position: absolute;
        height: 45px;
        top: 0;
        background-color: $utility-nav-bg;
        width: 100%;
    }
    .header4 .utilities.nav .container{
        max-width: 1800px;
        margin: 0 auto;
    }
    .header4 .utilities.nav ul li:first-of-type{
        border-left: 1px solid rgba(255,255,255,.25);
    }
    .header4 .utilities.nav ul li{
        display: inline-block;
        list-style: none;
        border-right: 1px solid rgba(255,255,255,.25);
        margin-left:-3px;
    }
    .header4 .utilities.nav ul li a:hover{
        background-color: $utility-nav-bg-hover;
        color: $util-nav-link-action!important;
    }
    .header4 .utilities.nav ul li a{
        font-size: 1em;
        display: inline-block;
        padding: 9.5px 1em;
        color: $util-nav-link!important;
    }
    .header4 ul.menu.utilities{
        float: left;
    }
    .header4 div.cart-search-combo{
        float: left;
    }
    .header4 .cart{
        position: relative;
        display: inline-block;
        height: 45px;
        padding: 9px 11px 13px;
	width: 45px;
        border-right: 1px solid rgba(255,255,255,.25);
    }
	.header4 .cart:hover {
		background-color: $utility-nav-bg-hover;
    }
    .header4 .the-cart-quantity{
		position: absolute;
		top: 11px;
		left: 26px;
		line-height: 0px;
		color: white;
		background-color: black;
		border-radius: 50%;
		padding: 5px 3px;
		font-size: 9px;
    }
    .header4 .cart img{
        height: 100%;
        width: auto;
    }
    .header4 .the-search-icon{
        text-indent: -999em;
        display: inline-block;
        background-image: url('//watkinsdealer.s3.amazonaws.com/Images/Icons/lupa.png');
        height: 45px;
        background-size: 21px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        width: 38px;
        top: -9px;
        position: relative;
        border-right: 1px solid rgba(255,255,255,.25);
    }
	.header4 a.the-search-icon:hover{
        background-color:$utility-nav-bg-hover;
    }
    .header4 .global.nav{
        background-color: $primary-nav-bg;
        position: absolute;
        bottom: 0;
        height:  45px;
        width: 100%;
    }
    .header4 .global.nav ul.main.nav{
        margin: 0;
		text-align: center;
    }
    .header4 .global.nav ul li:first-of-type{
        border-left: 1px solid rgba(255,255,255,.25);
    }
    .header4 .global.nav ul.sub-menu li.menu-item-has-children span{
        display: block;
    }
    .header4 .global.nav ul li.menu-item-has-children.active > span:first-of-type{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    .header4 .global.nav ul li.menu-item-has-children span{
        display: none;
        width: 39px;
        height: 39px;
        position: absolute;
        top: 3px;
        right: 0;
//        background-color: red;
        background-image: url('../dist/img/dropdown-triangle.png');
        background-position: 50% 50%;
        background-size: 15px auto;
        background-repeat: no-repeat;
        cursor: pointer;
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    .header4 .global.nav ul li.menu-item-has-children.active > ul:first-of-type{
        display: block!important;
    }
    .header4 ul li ul li ul{
        display: none!important;
    }
    .header4 .global.nav ul li{
        display: inline-block;
        list-style: none;
        border-right: 1px solid rgba(255,255,255,.25);
        margin-right: -3px;
        position: relative;
    }
    .header4 .global.nav ul.main.nav li a{
        display: inline-block;
        width: 100%;
        height: 100%;
        // padding: 9.5px 1.75em 9.5px 1em; // 4-28-16 Todd-DS
        padding: 9.5px 0.75em 9.5px 1em; // Added 4/28-16 Todd-DS
        color: $primary-nav-link!important;
    }
    .header4 .global.nav ul.main.nav li:hover > a:first-of-type,
    .header4 .global.nav ul.main.nav li a:hover{
        background-color: $primary-nav-bg-hover;
        color: $primary-nav-link-action!important;
    }
    .header4 .global.nav ul li ul{
        display: none;
    }
    ///////////////dropdown
    .header4 nav.global.nav ul li:hover > ul{
        display:block;
        height: auto!important;
        -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.25);
        box-shadow: 0 5px 10px 0 rgba(0,0,0,.25);
    }
    .header4 nav.global.nav ul ul{
        position: absolute;
        z-index: 99;
        width: 100%;
        margin-left: 0px;
        height: auto !important;
        margin-top: -1px;
        background-color: $primary-nav-bg!important;
        opacity: 0.98;
        border: 0px !important;
    }
    .header4 nav.global.nav ul.sub-menu li:first-of-type{
        border-top: 1px solid rgba(255,255,255,.1)!important;
    }
    .header4 nav.global.nav ul.sub-menu li:last-of-tyoe{
        border-top: 0px solid rgba(255,255,255,.1)!important;
    }
    .header4 nav.global.nav ul ul li{
        width: 100%!important;
        text-align: left!important;
        display: block;
        border: 0px!important;
        border-bottom: 1px solid rgba(255,255,255,.1)!important;
        background:transparent!important;
    }
    .header4 nav.global.nav ul ul li a:hover,
    .header4 nav.global.nav ul ul li a{
        background-color: transparent;
    }

    .header4 nav.global ul li ul li ul{
//        display: block!important;
        position: relative!important;
        top: 0;
        left: 0;
        box-shadow: none!important;
    }
    .header4 nav.global ul li ul li ul li a{
        padding-left: 1.5em!important;
    }
    .header4 nav.global ul li ul li ul li ul li a{
        padding-left: 2.25em!important;
    }
}

.header4 .ds-nav-container {
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (min-width:1800px){
    .header4 header h1{
        padding-left: 0!important;
    }
    .header4 .head-text{
        padding-right: 0!important;
    }
}
