@media only screen and (min-width:1024px){
    .header8 header h1{
        width: 275px;
        height: 150px;
        border-radius: 50%;

        text-align: center;
        margin: -32px auto 0;
        position: relative;
        z-index: 10;
        text-indent: -999em;
    }
    .header8 header h1 a{
        width: 88%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 14px;
    }
    .header8 header h1 img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin:  auto auto;
        height: auto;
        width: 100%;
        padding: 5px;
    }
    .header8 .mobile{
        display: none!important;
    }
    .header8 header.desktop.nav{
        background-color: $header-primary-bg !important;
        display: block;
        position: relative;
        padding-top: 40px;
        padding-bottom: 55px;
        background: $header-bg-image;
    		background-repeat: $header-bg-image-repeat;
    		background-size: $header-bg-image-size;
    }
    .header8 header.desktop.nav .container{
        position: relative;
    }
    .header8 .header-text{
        position: absolute;
        left: 5%;
        top: 3.5em;
        margin: 0!important;
        color: $header-secondary-bg !important;
		line-height: 3em;
    }
    .header8 .header-text2{
        position: absolute;
        right: 5%;
        top: 3.5em;
        margin: 0!important;
        color: $header-secondary-bg !important;
        text-align: right;
		line-height: 3em;
    }
    .header8 nav.utilities.nav{
//        background-color: $utility-nav-bg;
        height: 40px;
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        font-weight: bold;
    }
    .header8 header.desktop.nav nav.utilities.nav .container{
        position: absolute;
        right: 0%;
    }
    .header8 header.desktop.nav .util{
        background-color: $utility-nav-bg;
        width: 100%;
        height: 40px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .header8 header.desktop.nav .util.container{
        position: absolute;
        top: 0px;
        left: 0px;
        height: 40px;
        width: 100%;
        bottom: 0;
        right: 0px;
        margin: auto;
    }
    .header8 .utilities.nav2 ul,
    .header8 .utilities.nav ul{
        margin:0;
        height: 100%;
        float: left;
        position: relative;
    }
    .header8 .utilities.nav2 ul li,
    .header8 .utilities.nav ul li{
        list-style: none;
        display: inline-block;
        padding: 7.2px 1em;
        font-size: 1em;
        border-right: 1px solid rgba(255,255,255,.25);
        margin-left: -3px;
    }
    /* Remove Nested drop-down menus */
    .header8 ul ul ul {
      display:none;
    }

    .header8 .utilities.nav2 ul li:first-of-type,
    .header8 .utilities.nav ul li:first-of-type{
        border-left: 1px solid rgba(255,255,255,.25);
    }

.header8 .utilities.nav2 ul li a,
.header8 .utilities.nav ul li a{
  color: $util-nav-link !important;
}

    .header8 .utilities.nav2 ul li:hover a,
    .header8 .utilities.nav ul li:hover a{
        color: $util-nav-link-action !important;
    }
    .header8 .utilities.nav2 ul li:hover,
    .header8 .utilities.nav ul li:hover{
        background-color: $utility-nav-bg-hover;
    }
    .header8 .utilities.nav2 ul li a,
    .header8 .utilities.nav ul li a{
        color: $util-nav-link;
    }
    .header8 .utilities.nav2 .cart-search-combo,
    .header8 .utilities.nav .cart-search-combo{
        float: left;
        height: 40px;
        color: $util-nav-link !important;
        position: relative;
    }
    .header8 .cart-search-combo a.cart:hover{
        background-color: $utility-nav-bg-hover;
    }
    .header8 .cart-search-combo a.cart{
        height: 40px;
        padding: 6px .5em 14px;
        position: relative;
        display: inline-block;
        border-right: 1px solid rgba(255,255,255,.25);
    }
    .header8 .cart-search-combo a.cart img{
        height: 100%;
        width: auto;
    }
    .header8 .the-cart-quantity{
        position: absolute;
        top: 8px;
        left: 22px;
        line-height: 1px;
        color: white;
        background-color: black;
        border-radius: 50%;
        padding: 5px 3px;
        font-size: 7px;
    }
    .header8 a.the-search-icon:hover{
        background-color:$utility-nav-bg-hover;
    }
    .header8 a.the-search-icon{
        text-indent: -999em;
         background-image: url('//watkinsdealer.s3.amazonaws.com/Images/Icons/lupa.png');
        height: 40px;
        background-size: 17px;
        width: 40px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-right: 1px solid rgba(255,255,255,.25);
        float: right;
//        margin-right: .5em;
    }
    .header8 nav.utilities.nav2{
//        background-color: $utility-nav-bg;
        height: 40px;
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        font-weight: bold;
    }
    .header8 nav.utilities.nav2 .container{
        position: absolute;
//        left: 5%;
    }
    .header8 nav.global.nav{
        background-color: $primary-nav-bg;
        height: 56px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .header8 nav.global ul{
        height: 100%;
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .header8 nav.global ul li a:hover{
        color:$primary-nav-link-action !important;
        background-color: $primary-nav-bg-hover;
    }
    .header8 nav.global ul li:first-of-type{
        border-left: 1px solid rgba(255,255,255,.25);
    }
    .header8 nav.global ul li{
        height: 100%;
//        padding: .92em $primary-nav-link-padding;
        list-style: none;
        display: inline-block;
        border-right: 1px solid rgba(255,255,255,.25);
        margin-left: -2px;
        position: relative;
        vertical-align: top;
    }
    .header8 nav.global ul li a{
        color: $primary-nav-link !important;
        width: 100%;
        height: 100%;
        padding: .92em 0;
        display: inline-block;
    }
    .header8 .global.nav ul.main.nav li:hover > a:first-of-type,
    .header8 .global.nav ul.main.nav li a:hover{
        background-color: $primary-nav-bg-hover;
        color: $primary-nav-link-action!important;
    }
    .header8 ul ul{
        display: none;
    }
    .header8 ul ul ul{
        display: none!important;
    }
    .header8 .global.nav ul.sub-menu li.menu-item-has-children span{
        display: block;
    }
    .header8 nav.global.nav ul li:hover > ul{
        display:block;
    }
    .header8 .global.nav ul li.menu-item-has-children.active > span:first-of-type{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    .header8 .global.nav ul li.menu-item-has-children span{
        display: none;
        width: 46px;
        height: 40px;
        position: absolute;
        top: 8px;
        right: -3px;
//        background-color: red;
        background-image: url('../dist/img/dropdown-triangle.png');
        background-position: 50% 50%;
        background-size: 15px auto;
        background-repeat: no-repeat;
        cursor: pointer;
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    .header8 .global.nav ul li.menu-item-has-children.active > ul:first-of-type{
        display: block!important;
    }
    .header8 ul ul{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: auto!important;
        opacity: .95;
        background-color: $primary-nav-bg;
        z-index: 10;
        border: 0px!important;
    }
    .header8 ul ul ul{
        top: auto!important;
        left: auto!important;
        position: relative!important;
    }
    .header8 ul ul li a{
        display: block!important;
        padding-left: 1em!important;
        padding-right: 3em!important;
    }
    .header8 ul ul li:first-of-type{
        border-top: 1px solid rgba(255,255,255,.1)!important;
    }
    .header8 ul ul li:last-of-type{
        border-bottom: 0px solid rgba(255,255,255,.1)!important;
    }
    .header8 ul ul li{
        display: block!important;
        margin: 0!important;
        height: auto;
        width: 100%!important;
        border: 0px!important;
        text-align: left!important;
        border-bottom: 1px solid rgba(255,255,255,.1) !important;
    }
    .header8 ul ul ul li a{
        padding-left: 1.5em!important;
    }
    .header8 ul ul ul ul li a{
        padding-left: 2.25em!important;
    }

}

.header-8 .ds-nav-container {
  padding-left: 1em;
  padding-right: 1em;
}
