/* Hot Tub Color Switcher */
/*.design-hot-tub{
    background-color: #ddddde;
    padding: 80px;
}
.design-hot-tub .row{
    max-width: 960px;
}
.design-hot-tub .title{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: #1d1d1d;
}
.design-hot-tub .tub-customizer{
    width: 500px;
    margin: 0 auto;
}
.tub-options{
    width: 52%;
    margin: 0 auto;
}
.cabinet-select.tub-options{
    padding-left: 16px;
}
.spa-cabitnet-colors-li {
    padding:0 !important;
}
.spa-info-titles li, .spa-info-content li {
    padding:5px 0px;
}
.spa-cabitnet-colors, .spa-shell-colors {
    padding:0;
}
.spa-shell-colors li,
.spa-cabitnet-colors li{
    background:url('../img/colors-sheet.png')0 0 no-repeat;
    height:34px;
    width:35px;
    display:inline-block;
    border:4px solid transparent;
    border-radius: 50%;
}
.spa-shell-colors li.selected,
.spa-cabitnet-colors li.selected{
    border-color: rgba(0,0,0,.7);
}
.spa-info-content{
    list-style: none;
}
.spa-info-content li{
    display: inline-block;
}
.spa-shell-colors-li,
.spa-cabitnet-colors-li{
    width: 45%;
}
.spa-divider{
    border-left: 2px solid #aaa7a7;
    margin: 0 20px;
    height: 120px;
}
.spa-shell-colors li.options-container,
.spa-cabitnet-colors-li li.options-container,
.spa-shell-colors li.spa-shell-header,
.spa-cabitnet-colors-li li.spa-cabinet-header,
.spa-shell-colors-li li.spa-shell-selected,
.spa-cabitnet-colors-li li.spa-cabinet-selected{
    background-image: none;
    border: transparent;
    width: 100%;
    height: auto;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

*/


/* Hide Shell Selectors from Fantasy and Freeflow */
.fantasy-spas #spa-selector img.ds_shell,
.freeflow-spas #spa-selector img.ds_shell{
    display: none;
}

.fantasy-spas .product-selectors ul.shell-list,
.freeflow-spas .product-selectors ul.shell-list{
    display: none !important;
}


.spa-cabinet-mocha {background:url('../img/colors-sheet.png')-3px -42px no-repeat !important;}
.spa-cabinet-mgray {background:url('../img/colors-sheet.png')-45px -42px no-repeat !important;}
.spa-cabinet-teak {background:url('../img/colors-sheet.png')-87px -42px no-repeat !important;}
.spa-cabinet-coastal-gray {background:url('../img/colors-sheet.png')-117px -42px no-repeat !important;}
.spa-cabinet-espresso {background:url('../img/colors-sheet.png')-151px -42px no-repeat !important;}
.spa-cabinet-redwood {background:url('../img/colors-sheet.png')-185px -42px no-repeat !important;}
.spa-cabinet-stone-earth {background:url('../img/colors-sheet.png')-248px -42px no-repeat !important;}
.spa-cabinet-stone-gray {background:url('../img/colors-sheet.png')-288px -42px no-repeat !important;}

.spa-shell-alpine-white {background:url('../img/colors-sheet.png')-5px -4px no-repeat !important;}
.spa-shell-creme {background:url('../img/colors-sheet.png')-45px -4px no-repeat !important;}
.spa-shell-ice-gray {background:url('../img/colors-sheet.png')-87px -4px no-repeat !important;}
.spa-shell-tuscan-sun {background:url('../img/colors-sheet.png')-127px -4px no-repeat !important;}
.spa-shell-desert {background:url('../img/colors-sheet.png')-169px -4px no-repeat !important;}
.spa-shell-platinum {background:url('../img/colors-sheet.png')-208px -4px no-repeat !important;}
.spa-shell-sand {background:url('../img/colors-sheet.png')-216px -4px no-repeat !important;}
.spa-shell-champagne-opal {background:url('../img/colors-sheet.png')-252px -4px no-repeat !important;}
.spa-shell-pearl {background:url('../img/colors-sheet.png')-287px -4px no-repeat !important;}
.spa-shell-steriling-marble{background:url('../img/colors-sheet.png')-322px -4px no-repeat !important;}

ul.swatches {
    position: relative;
    margin: 0;
}

ul.swatches p {
    margin-bottom: 10px;
}

ul.swatches li {
    border-radius: 100%;
    margin: 0;
    height: 48px;
    width: 48px;
    cursor: pointer;
}

ul.swatches li img {
    border-radius: 100%;
    width: 46px;
    height: 46px;
    border: 4px solid $white;
    transition: all .5s ease-in-out;
}
ul.swatches li.cabinet-item {
    display: inline-block;
    float: left;
}
ul.swatches li.cabinet-item:hover > img {
    border: 5px solid $black;
    background-color: black;
}
ul.swatches li.cabinet-item.cab-selected > img{
    border: 5px solid $black;
    background-color: black;

}

ul.shell-list {
    position: absolute;
    right: 0;
    top: 0;
}

ul.shell-list p {
    text-align: right;
    padding-right: 10px;
}

ul.shell-list li.shell-item {
    display: inline-block;
    float: left;
}

ul.shell-list li.shell-item:hover > img {
    border: 5px solid $black;
}
ul.shell-list li.shell-item.shell-selected > img{
    border: 5px solid $black;
}

.cabinet-item > p ,
.shell-item > p {
 display: none;
}
.cabinet-item.cab-selected > p {
    display: block;
    position: absolute;
    left: 0;
    padding-top:10px;
    margin-bottom: 0;
}
.shell-item.shell-selected > p {
    display: block;
    position: absolute;
    right: 0;
    padding-top:10px;
    margin-bottom: 0;
}

/* PRODUCT COLOR PICKER IMAGE SETTINGS */
#spa-selector img:first-of-type {
    margin-bottom:-3.0%;
    position:relative;
    z-index:1;
}

#spa-selector img {
    position:relative;
    z-index:0;
    width: 600px;
    max-width: 100%;
    /*float: left;*/
}
.shell-list { display: none; }

/* Tub Specifics */
//Hotspring/////////////
//---Higlife NXT
#spa-selector img.grandee-nxt-shell { margin-bottom: -10px; }
//---Highlife
#spa-selector img.grandee-shell { margin-bottom: -2.7%; }
#spa-selector img.envoy-shell { margin-bottom: -3%; }
#spa-selector img.aria-shell { margin-bottom: -2%; }
#spa-selector img.vanguard-shell { margin-bottom: -2.2%; }
#spa-selector img.sovereign-shell { margin-bottom: -2.7%; }
#spa-selector img.prodigy-shell { margin-bottom: -2%; }
#spa-selector img.jetsetter-shell { margin-bottom: -2%; }
//---LimeLight
#spa-selector img.flair-shell { margin-bottom: -2%; }
#spa-selector img.glow-shell { margin-bottom: -2.4%; }
#spa-selector img.bolt-shell { margin-bottom: -2%; }
#spa-selector img.pulse-shell { }
#spa-selector img.gleam-shell { margin-bottom: -1.6%; }
//---HotSpot
#spa-selector img.tempo-shell { margin-bottom: -2.4%; }
#spa-selector img.relay-shell { }
#spa-selector img.rhythm-shell { margin-bottom: -2.3%; }
#spa-selector img.sx-shell {  }
#spa-selector img.tx-shell { margin-bottom: -14%; }

//Caldera Spas//////////
//---Utopia
#spa-selector img.cantabria-shell { margin-bottom: -2.3%; }
#spa-selector img.geneva-shell { margin-bottom: -2.9%; }
#spa-selector img.niagara-shell { margin-bottom: -3.4%; }
#spa-selector img.tahitian-shell { margin-bottom: -3.4%; }
//---Vacanza
#spa-selector img.palatino-shell { margin-bottom: -3.4%; }
#spa-selector img.marino-shell { margin-bottom: -3.9%; }
#spa-selector img.vanto-shell { margin-bottom: -3.4%; }
#spa-selector img.tarino-shell { margin-bottom: -3.4%; }
#spa-selector img.aventine-shell { margin-bottom: -106px; }
@media screen and (max-width:680px){
#spa-selector img.aventine-shell { margin-bottom: -18%; }
}
@media screen and (min-width:1030px){
#spa-selector img.aventine-shell { margin-bottom: -18%; }
}
//---Paradise
#spa-selector img.makena-shell { margin-bottom: -3.4%; }
#spa-selector img.salina-shell { margin-bottom: -2.4%; }
#spa-selector img.martinique-shell { margin-bottom: -3.4%; }
#spa-selector img.kauai-shell { margin-bottom: -3.4%; }






/***********************************************************************/
/************************* RESPONSIVE STYLES ***************************/
/***********************************************************************/
@media screen and (max-width:1200px) {
    ul.swatches li{
        height: 38px;
        width: 38px;
        margin: 0;
    }

    ul.swatches li img {
        height: 38px;
        width: 38px;
    }

}


@media screen and (max-width:1024px) {
    ul.swatches li{
        height: 52px;
        width: 52px;
        margin-bottom: 40px;
    }

    ul.swatches li img {
        height: 52px;
        width: 52px;
    }

}


@media screen and (max-width:820px) {
    ul.swatches li{
        height: 40px;
        width: 40px;
        margin: 0 3px 40px;
    }

    ul.swatches li img {
        height: 40px;
        width: 40px;
        border: 3px solid $white;
    }
    ul.swatches li img:hover {
        height: 40px;
        width: 40px;
        border: 3px solid $black;
    }
    ul.swatches li.cabinet-item.cab-selected > img {
        border: 3px solid $black  ;
    }
    ul.shell-list li.shell-item.shell-selected > img {
        border: 3px solid $black;
    }

    ul.shell-list li.shell-item:hover > img {
        border: 3px solid $black;
    }
    ul.swatches li.cabinet-item:hover > img {
        border: 3px solid $black;
    }
}

@media screen and (max-width:720px) {
    ul.swatches li{
        height: 32px;
        width: 32px;
    }

    ul.swatches li img {
        height: 32px;
        width: 32px;
        border: 2px solid $white;
    }
    ul.swatches li img:hover {
        height: 32px;
        width: 32px;
        border: 2px solid $black;
    }
    ul.swatches li.cabinet-item.cab-selected > img {
        border: 2px solid $black  ;
    }
    ul.shell-list li.shell-item.shell-selected > img {
        border: 2px solid $black;
    }

    ul.shell-list li.shell-item:hover > img {
        border: 2px solid $black;
    }
    ul.swatches li.cabinet-item:hover > img {
        border: 2px solid $black;
    }
}

@media screen and (max-width:540px) {
    ul.swatches {
        position: relative;
        margin: 0 auto;
        text-align: center;
        display: block;
        max-width: 280px;
        margin-bottom: 60px;
    }

    .product-selectors ul > p {
        margin-bottom: 30px;
    }
    ul.swatches li {
        margin: 0 1px 40px;
    }
    ul.swatches li.cabinet-item {
        float: none;
    }

    .cabinet-item.cab-selected > p{
        top: 15px;
        width: 100%;
    }

    ul.shell-list {
        left: 0;
        top: 100px;
        max-width: 280px;
        margin: 0;
    }
    ul.shell-list p {
        text-align: center;
        padding-right: 0;
    }

    .shell-item.shell-selected > p {
        left: 0;
        top: 25px;
        width: 100%;
        padding: 0;
    }

    ul.shell-list li.shell-item {
        float: none;
    }

    .product-price-button {
       /* margin: 85px 30% 0;*/
    }
}
