// .single-product,
// .page-template-template-visuallist,
// .page-template-template-50-50 footer{
//     margin-top: 2em;
// }

footer{
    color: $footer-text;
    padding-bottom: 0!important;
}
.facebook-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/facebook-icon.jpg);
}
.youtube-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/youtube-icon.jpg);
}
.yelp-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/yelp-icon.jpg);
}
.houzz-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/houzz-icon.jpg);
}
.insta-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/insta-icon.jpg);
}
.gplus-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/gplus-icon.jpg);
}
.twitter-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/twitter-icon.jpg);
}
.linkedin-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/linkedin-icon.jpg);
}

footer.footer2 {
  background-color: $footer-primary-bg;
  // background: $footer-bg-image;
  // background-repeat: $footer-bg-image-repeat;
  // background-size: $footer-bg-image-size;
}

footer h2,
footer h3,
footer h4{
    color: $footer-text;
}
footer ul li{
    display: inline-block;
}
footer h2{
    text-align: center;
    color: white;
}
footer nav{
    width: 100%;
    height: 45px;
    background-color: $footer-nav-bg;
    margin-top: 2em;
}
footer nav ul{
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    height: 45px;
}
footer nav ul li:first-of-type{
    border-left: 1px solid rgba(255,255,255,.25);
}
footer nav ul li{
    height: 45px;
    margin-left: -3.5px;
    border-right: 1px solid rgba(255,255,255,.25);
}
footer nav ul li a:hover{
	color: 	$footer-nav-link-action !important;
}
footer nav ul li a{
    padding: .6em 2em;
    display: block;
    height: 45px;
	color: $footer-nav-link !important;
}
footer a:hover{
    color: $footer-link-hover!important;
}
footer a{
    color: $footer-link!important;
}
footer .gencontent-wrap{
    text-align: left;
    padding: 3em 1em;
	max-width: 1400px;
	margin: 0 auto;
}
footer .gencontent p{
    font-size: 1em;
    margin-bottom: 0;
}
footer .gencontent{
    display: block;
    float: left;
    padding: 1em 1.5em;
    color: $footer-text;
    font-size: 1em;
}



.gmap{
    max-width: 1400px;
    width: calc(100% - 4em);
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    height: 400px;
}

footer.footer2 .gmap {
  margin-bottom: 40px;
}

.footer2 div#map-overlay {
  height: 100%;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
}

.footer2 iframe#map {
  position: relative;
  top: -45px;
  border: medium none;
  border-radius: 15px;
  overflow: hidden !important;
}

div.copy.social p a{
    font-size: 1em;
    color: $footer-text;
}
div.copy.social p{
    margin-bottom: .9;
    font-size: 1em;
    color: $footer-text;
}
div.copy.social{
    background-color: $footer-secondary-bg;
    text-align: center;
    padding: 2em 1em 1em;
}
div.social-button{
    float: none;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    padding: 0;
//    margin-bottom: 1em;
    margin-bottom:0px;
}

.social-button.col-social:first-of-type a {
  margin: 5px 5px 0 0 !important;
}

.social-button .footer2 {
  width:100%;
}

div.copy.social p {
    margin-bottom: 0;
}

ul#menu-footer-lower-footer {
    margin:0;
}

ul#menu-footer-lower-footer li {
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0px 5px;
}

ul#menu-footer-lower-footer li:last-of-type {
    border-right: none;
    padding: 0px 5px;
}

div.social-button .social-icon{
    display: inline-block;
    margin-right: .75em;
}

div.social-button .social-icon:last-of-type{
    margin-right: 0;
}

.social-button.footer2 {
    margin-bottom:15px;
    width:100%;
}

footer2-lower-menu {
    margin-bottom:-10px;
}

footer .gencontent-wrap {
  padding: 1em 1em;
  max-width: 1400px;
  margin: 0 auto;
}

footer .gencontent ul{
    margin: 0 auto;
    display: inline-block
}
footer .gencontent ul li{
    display: block;
    text-align: left;
}
footer .gencontent ul li strong{
    margin-right: .5em;
}
footer .list-column{
    display: inline-block;
    width: 100%;
}
footer .gencontent strong{
    margin-top: 1em;
    display: inline-block;
}
footer .gencontent h3 {
	line-height: 1.1em;
}
footer .fifty50:nth-child(even){
    text-align: left;
    padding-right: 1em;
    clear: right;
    padding-left: .5em;
min-width:50%;
}
footer .fifty50:nth-child(odd){
    padding-right: .25em;
    max-width: 80px;
	width:50%;
}
footer a{
    color: $footer-link;
}
footer a:hover{
    color: $footer-link-hover;
    color: $footer-link-hover;
}
footer .fifty50{
    line-height: 1em;
    float: left;
}

.footer4 .gmap {
  margin-top:4.5em;
}

.footer4 ul.accordion {
  margin-top: 4.5em;
}

.footer4 .row {
  max-width: 100% !important;
}

.footer4 .maps .xsmall-12.columns {
  // padding-left: 0 !important;
  // padding-right: 0 !important;
}

.footer4 li.accordion-navigation {
  width:100%;
}

.footer4 .accordion-navigation {
  height:45px;
}

.footer4 .accordian-wrapper {
  background-color: $footer-nav-bg;
  border-radius:15px;
}

.footer4 .accordian-wrapper h3 {
  font-size: 1.3em;
  color: $footer-link;
  margin-bottom:5px;
}

.footer4 .footer-tabs .ui-accordion-content {
  max-height:350px;
  padding-left:1em;
}

.footer-tabs {
  margin-top: 4.5em;
}
/* .footer4 .content.ui-accordion-content.ui-accordion-content-active {
  height:auto !important;
}
 */

@media only screen and (max-width:450px){
	footer ul li {
    	display: block;
	}

	footer nav ul {
    	height: auto;
	}
	footer nav {
    	height: auto;
	}
	footer nav ul li:first-of-type {
    	border-left: none;
	}
	footer nav ul li {
    	border-right: none;
		border-bottom: 1px solid rgba(255, 255, 255, .25);
	}
    ul#menu-footer-lower-footer li {
        border-right: none;
    }

}
@media only screen and (min-width:451px) and (max-width:960px){
	footer nav ul {
		height: auto;
	}
	footer nav {
		height: auto;
		border: 1px solid rgba(255, 255, 255, 0.14)
	}
	footer nav ul li {
		border-left: 1px solid rgba(255, 255, 255, .25);
		border-right: none;
		border-bottom: 1px solid rgba(255, 255, 255, .25);
		width: 50%;
	}
	footer nav ul li:last-of-type {
		border: 0;
	}


}
@media only screen and (min-width:650px) and (max-width:900px){
	footer.footer3 section.maps div.gencontent-wrap.cf h3 {
		margin-bottom: 20px;
		max-width: 300px;
	}
	footer .gencontent,
  footer .gencontent2 {
		width: 50% !important;
	}
}
@media only screen and (max-width:1025px){
	.product-reviews {
		border-top: none !important;
	}
}
@media only screen and (min-width:964px) and (max-width:1186px){
    footer nav ul li a {
        padding: 0.6em 1em;
    }
}
