.header7 header.desktop.nav {
	/*CUBE FLIP*/
	/* basic menu styles */
	.block-menu {
		display: block;
		// background: #000;
	/*margin-top: 50px;*/
	}

	.block-menu li {
		display: inline-block;
	}

	.block-menu li a {
		color: #fff;
		display: block;
		text-decoration: none;
		font-smoothing: antialiased;
		-webkit-font-smoothing: antialiased;
		text-transform: uppercase;
		overflow: visible;
		/*font-size: 24px;*/
		padding: 18px 13px;
		line-height: 8px;
		text-align: center;

	}

	/* animation domination */
	.three-d {
		perspective: 200px;
		transition: all .07s linear;
		position: relative;
		cursor: pointer;
	}
		/* complete the animation! */
		.three-d:hover .three-d-box,
		.three-d:focus .three-d-box {
			transform: translateZ(-25px) rotateX(90deg);
		}

	.three-d-box {
		transition: all .3s ease-out;
		transform: translatez(-25px);
		transform-style: preserve-3d;
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
	}

	/*
		put the "front" and "back" elements into place with CSS transforms,
		specifically translation and translatez
	*/
	.front {
		transform: rotatex(0deg) translatez(20px);
	  color: $primary_link;
	  outline: 2px solid $primary_link;
	}

	.back {
		transform: rotatex(-90deg) translatez(20px);
		// color: #ffe7c4;
	  color: $primary_action;
	  outline: 2px solid $primary-nav-link-action;
	}

	.front, .back {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		// background: black;
	  // background: #0698d5;
	  background-color: $primary_nav_bg;
		padding: 18px 10px;
		color: $primary_link;
		pointer-events: none;
		box-sizing: border-box;
	    outline: 2px solid white;
	}

	.back {
		// background: #222;
	  // background: #174883;
	  background-color: $primary_nav_bg_hover;

	}
}


.header7 header.desktop.nav{
    display: none;
    padding-right: 40px;
}
.header7 .container{
    max-width: 1800px;
    margin: 0 auto;
}
.header7 header.mobile{
    margin-top: -5px;
    height: 80px;
    background-color: $header-primary-bg  !important;
    width: 100%;
    position: relative;
    padding-top: 10px;
}
.header7 .right-off-canvas-menu{
    background-color: $header-secondary-bg  !important;
}
.header7 a.right-off-canvas-toggle span.menu{
    font-size: .5em;
    margin: 25px 0 0 0!important;
    padding: 0!important;
    line-height: normal;
    color: $primary-nav-link  !important;
}
.header7 a.right-off-canvas-toggle span.sign{
    font-size: 65px;
    margin: 4px 0 0 0!important;
    padding: 0!important;
    line-height: normal;
    color: $primary-nav-link  !important;
}
.header7 .mobile h1 a{
    display: block;
    height: 60px;
    margin-left: 5%;
    float: left;
    background-size: cover;
    width: 150px;
    text-indent: -999em;
}
.header7 .mobile .search{
    text-align: left;
    margin: 0 auto;
    display: block;
    border-radius: 15px;
    padding: .25em .5em;
    font-size: 1em;
    margin-top: 1em;
    width: 90%;
    border: 1px solid white;
    background-color: rgba(255,255,255,1);
    color: black;
}
.header7 .mobile ul{
    width: 100%;
    margin: 0;
    padding: 0;
}
.header7 .mobile ul li{
    list-style: none;
    width: 100%;
    text-align: center;
    font-size: 1em;
    border-top: 1px solid white;
}
.header7 .mobile ul.utilities li{
    background-color: rgba(0,0,0,.25);
}
.header7 .mobile ul li a{
    display: block;
    color: $primary-nav-link !important;
    padding: .75em 0;
}
.header7 .mobile ul li a:hover{
    background-color: $primary-nav-link-action  !important;
    transition-duration: .25s;
}
@media only screen and (min-width:1024px){
    .header7 .mobile{
        display: none!important;
    }
    .header7 header.desktop.nav{
        display: block;
        margin-top: -30px;
        height: 180px;
        padding-top: 45px;
        background-color: $header-primary-bg  !important;
        position: relative;
    }
    .header7 header .container{
        z-index: 4;
        position: relative;
    }
    .header7 .thewhiteline{
        position: absolute;
        top: 110px;
        z-index: 1;
        color: white;
        width: 100%;
    		border: 1px solid rgba($primary-nav-link, .10);
    }
   .header7 h1 a{
        display: block;
        height: 42px;
        float: left;
        background-size: cover;
        width: 227px;
        text-indent: -999em;
        z-index: 5;
        margin-left: 5%;
        margin-top: 50px;
				background-color: $header-primary-bg;
    }
    .header7 nav.global.nav{
        float: right;
        margin-top: 3.6em;
    }
    .header7 nav.global.nav ul li{
        float: left;
        list-style: none;
    }
    .header7 nav.global ul li a{
        // border: 1px solid $primary-nav-link  !important;
        // padding: 1.75em .75em;
        padding: 1.1em .75em;
        color: $primary-nav-link !important;
        margin: -0.19em 0.5em;
        // background-color: $header-primary-bg  !important;
    }
    .header7 nav.global ul li a:hover{
        // border: 1px solid $primary-nav-link-action  !important;
        // background-color: $primary-nav-link-action  !important;
        color: $primary-nav-link;
        transition-duration: .25s;
    }
    .header7 nav.utilities.nav{
        position: absolute;
        right: 0;
        top: 0;
        text-transform: uppercase;
        padding-right: 8px;
    }
    .header7 nav.utilities.nav a:hover{
        color: $util-nav-link-action !important;
    }

    .header7 nav.utilities.nav ul{
        float: left;
    }
    .header7 nav.utilities.nav ul li{
        float: left;
        list-style: none;
    }
    .header7 nav.utilities.nav ul li a{
        font-size: .8em;
        padding: 0 .5em;
        color: $util-nav-link !important;
    }
    .header7 nav.utilities .cart-search-combo{
        float: left;
        height: 14px;
        margin-top: 5px;
    }
    .header7 nav.utilities .cart-search-combo a.cart{
        font-size: 12px;
        float: left;
        color: $util-nav-link  !important;
		padding: 0 0.5em;
    }
    .header7 nav.utilities .cart-search-combo a.cart img{
        float: right;
        height: 15px;
        margin-right: .75em;
        width: auto;
        margin-left: .25em;
        margin-top: 1px;
    }
    .header7 nav.utilities .cart-search-combo a.the-search-icon{
        height: 100%;
        width: 14px;
        float: left;
        display: block;
         background-image: url('//watkinsdealer.s3.amazonaws.com/Images/Icons/lupa.png');
        background-size: cover;
        text-indent: -999em;
    }
        .header7 div.form-wrapper{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.75);
        z-index: 20;
        display: none;
    }
    .header7 div.esc-form{
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .header7 form#fast-search-desktop{
        width: 50%;
        display: block;
        float: right;
        margin-bottom: 0;
    }
    .header7 .popup-search-bar{
        width: 25%;
        padding: 0 1em;
        margin: auto auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255,255,255,.15) !important;
        text-align: left !important;
        border: 1px solid white;
        text-align: left;
        color: white;
        padding: 1em;
        border-radius: 5px;
    }
    .header7 ul li ul{
        display: none;
    }
}

@media screen and (max-width:1100px){
	.header7 nav.global ul li a {
		margin: 0 0.15em;
	}
}

@media screen and (max-width:1240px){
	.header7 nav.global ul li a {
		font-size: 13.5px;
	}
}

.container-fluid {
    max-width: 100%;
    margin: 0 auto;
    z-index: 4;
    position: relative;
}
