.header5 header.desktop.nav{
    display: none;
    background-color:$header-primary-bg !important;
    background: $header-bg-image;
    background-repeat: $header-bg-image-repeat;
    background-size: $header-bg-image-size;
}
.header5 .container{
    max-width: 1800px;
    margin: 0 auto;
}
.header5 header.mobile{
    margin-top: -5px;
    height: 80px;
    background-color: $header-primary-bg;
    background: $header-bg-image;
    background-repeat: $header-bg-image-repeat;
    background-size: $header-bg-image-size;
    width: 100%;
    position: relative;
    padding-top: 10px;
}
.header5 .right-off-canvas-menu{
    background-color: $header-secondary-bg;
}
.header5 a.right-off-canvas-toggle span.sign{
    font-size: 70px;
    margin: 46px 16px 0 0!important;
    padding: 0!important;
    line-height: 0;
    color: $primary-nav-link;
}
.header5 .mobile header h1{
    margin: 15px 0 0 5%!important;
    height: 35px;
    overflow: hidden;
    width:  auto;
    display: inline-block;
    padding: 0!important;

}
.header5 .mobile header h1 a{
    display: block;
    width: auto;
    height: 100%;
    text-indent: -999em;
}
.header5 .mobile header h1 a img{
    height: 100%;
    width: auto;
    margin-top: -1.4em;
    display: block;
}
.header5 #nav-toggle.active{
    position: relative;
    z-index: 20;
    float: right;
    margin-top: -11px;
}
.header5 #nav-toggle {
    position: absolute;
    right:5%;
    top: 30px;
    z-index: 11;
    cursor: pointer;
    padding: 11px 31px 15px 0px;
}
.header5 #nav-toggle span,
.header5 #nav-toggle span:before,
.header5 #nav-toggle span:after{
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 30px;
  background: $header-secondary-bg;
  position: absolute;
  display: block;
  content: '';
}
.header5 #nav-toggle span:before {
  top: -10px;
}
.header5 #nav-toggle span:after {
  bottom: -10px;
}
.header5 #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
.header5 #nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
.header5 #nav-toggle.active span:before {
  transform: rotate(45deg);
}
.header5 #nav-toggle.active span:after {
  transform: rotate(-45deg);
}
html.active{
    overflow: hidden;
}
.header5 nav.mobile.nav{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.95);
    z-index: 10;
    overflow: scroll;
    display: none;
}
.header5 .mobile .cart-search-combo{
    display: inline-block;
    position: absolute;
    right: calc(5% + 3.5em);
}
.header5 .mobile .the-search-icon{
    height: 30px;
    width: 30px;
    background-image: url('//watkinsdealer.s3.amazonaws.com/Images/Icons/lupa.png');
    background-size: cover;
    display: inline-block;
    text-indent: -999em;
    margin-top: 23px;
    margin-left: 1.5em;
}
.header5 .mobile a.cart{
    height: 32px;
    display: inline-block;
    position: relative;
}
.header5 .mobile a.cart img{
    height: 100%;
    width: auto;
}
.header5 .mobile a.cart .the-cart-quantity{
    position: absolute;
    top: -1px;
    left: 27px;
    line-height: 1px;
    color: white;
    background-color: black;
    border-radius: 50%;
    padding: 5px 3px;
    font-size: 10px;
}
.header5 .the-navigation{
    width: 100%;
    margin-top: 80px;
}
.header5 a.the-logo-nav{
    text-align: center;
    width: 100%;
    display: block;
}
.header5 a.the-logo-nav img{
    height: 35px;
    widows: auto;
    margin-bottom: 1em;
}
.header5 .mobile ul:first-of-type li a:first-of-type{
    border-top: 1px solid rgba(255,255,255,.25);
}
.header5 .mobile ul{
    width: 100%;
    margin: 0;
}
.header5 .mobile ul li{
    list-style: none;
    text-align: center;
}
.header5 .mobile ul li ul li a{
    padding: .25em 0;
    background-color: rgba(255,255,255,.075);
}
.header5 .mobile ul li a{
    display: inline-block;
    width: 100%;
    padding: .75em 0;
    color: white;
    border-bottom: 1px solid rgba(255,255,255,.25);
}
.header5 .mobile ul li a:hover{
    background-color: rgba(255,255,255,.75);
    color: rgba(0,0,0,.75);
}
@media only screen and (min-width:1024px){
    .header5 header.mobile{
        display: none;
    }
    .header5 header.desktop.nav{
        display: block;
        position: relative;
        padding-top: 40px;
    }
    .header5 nav.utilities{
        position: absolute;
        top: 0;
        left: 0;
        height: 40px;
        background-color: $utility-nav-bg !important;
        width: 100%;
        box-shadow: inset 0px -1px 5px rgba(0, 0, 0, 0.5);
    }
    .header5 .utilities .themenu{
        height: 40px;
        text-align: center;
    }
    .header5 .utilities ul{
//        text-align: right;
        display: inline-block;
        margin: 0;
        position: relative;
        top: -17px;
        height: 40px;
        width: calc(100% - 80px);
    }
    .header5 .utilities ul li:first-of-type{
        border-left: 1px solid rgba(255,255,255,.25);
    }
    .header5 .utilities ul li{
        display: inline-block;
        margin-left: -3px;
        list-style: none;
        height: 40px;
        border-right: 1px solid rgba(255,255,255,.25);
    }
    .header5 .utilities ul li a:hover{
//        color: $utility-nav-link-hover;
        color: $util-nav-link-action !important;
//        background-color: $utility-nav-link-bg-hover;
    }
    .header5 .utilities ul li a{
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 0.35em 1em 0;
        color: $util-nav-link !important;
//        background-color: $utility-nav-link-bg;
//        box-shadow: inset 0px -1px 5px rgba(0, 0, 0, 0.5);
    }
    .header5 .utilities .cart-search-combo{
        height: 40px;
        display: inline-block;
        margin-left: -3px;
    }
    .header5 a.cart{
        height: 40px;
        position: relative;
        width: 45px;
        display: block;
        float: left;
        border-right: 1px solid rgba(255,255,255,.25);
        margin-left: -3px;
    }
    .header5 a.cart img{
        height: 100%;
        width: auto;
        padding: .65em 0em;
    }
    .header5 a.cart .the-cart-quantity {
        position: absolute;
        top: 9px;
        right: 3px;
        background-color: black;
        color: white;
        padding: 0.65em 0.35em;
        border-radius: 50%;
        line-height: 0px;
        font-size: 0.5em;
    }
    .header5 .the-search-icon{
        text-indent: -9999em;
        background-image: url('//watkinsdealer.s3.amazonaws.com/Images/Icons/lupa.png');
        background-size: 19px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        display: block;
        float: left;
        height: 40px;
        width: 37px;
        border-right: 1px solid rgba(255,255,255,.25);
    }
    .header5 .main.nav{
        float: left;
        margin: 0;
    }

   .header5 header h1{
        text-indent: -999em;
        display: block;
        float: left;
        height: 125px;
        margin: 0;
        width: 35%;
        min-width: 200px;
        position: relative;
        border-right: 1px solid rgba(255,255,255,.25);
    }
    .header5 header h1 a img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        padding: 0 1.5em;
        margin-top: .7em;
    }

///* BEGIN HEADER 4 nav */
//    .header5 .global.nav{
//        background-color: $primary-nav-bg;
//        position: absolute;
//        bottom: 0;
//        height:  45px;
//        width: 100%;
//    }
    .header5 .global.nav ul.main.nav{
        margin: 0;
		text-align: center;
    }
    .header5 nav.global ul{
        width: 32.5%;
    }
    .header5 .global.nav ul li:first-of-type{
        border-left: 1px solid rgba(255,255,255,.25);

    }
    .header5 .global.nav ul.sub-menu li.menu-item-has-children span{
        display: block;
    }
    .header5 .global.nav ul li.menu-item-has-children.active > span:first-of-type{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    .header5 .global.nav ul li.menu-item-has-children span{
        display: none;
        width: 39px;
        height: 39px;
        position: absolute;
        top: 3px;
        right: 0;
        background-image: url('../dist/img/sign.png');
        background-position: 50% 50%;
        background-size: 15px auto;
        background-repeat: no-repeat;
        cursor: pointer;
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
        transition: all 0.5s ease;
    }
    .header5 .global.nav ul li.menu-item-has-children.active span{
        background-image: url('../dist/img/line.png');
        transition: all 0.5s ease;
    }

    .header5 .global.nav ul li.menu-item-has-children.active > ul:first-of-type{
        display: block!important;
        padding-left: 1em;

    }
    .header5 ul li ul li ul{
        display: none!important;
    }
    .header5 .global.nav ul li{
        display: inline-block;
        list-style: none;
        border-right: 1px solid rgba(255,255,255,.25);
        margin-right: -3px;
        position: relative;
        float: left;
        width: 50%;
        height: 140px;
    }
    .header5 .global.nav ul.main.nav li a{
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 2.49em 1em 0;
        font-size: 1.18em;
        color: $primary-nav-link!important;
        font-weight: 900;
    }
    .header5 .global.nav ul.main.nav li:hover > a:first-of-type,
    .header5 .global.nav ul.main.nav li a:hover{
        background-color: $primary-nav-bg-hover;
        color: $primary-nav-link-action!important;
    }
    .header5 .global.nav ul li ul{
        display: none;
    }

    .header5 nav.global.nav ul li:hover > ul{
        display:block;
        height: auto!important;
        -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.25);
        box-shadow: 0 5px 10px 0 rgba(0,0,0,.25);
    }
    .header5 nav.global.nav ul ul{
        position: absolute;
        z-index: 99;
        width: 100%;
        margin-left: 0px;
        height: auto !important;
        margin-top: -1px;
        background-color: $header-primary-bg;
        opacity: 0.9;
    }
    .header5 nav.global.nav ul.sub-menu li:first-of-type{
        border-top: 1px solid rgba(255,255,255,.1)!important;
    }
    .header5 nav.global.nav ul.sub-menu li:last-of-tyoe{
        border-top: 0px solid rgba(255,255,255,.1)!important;
    }
    .header5 nav.global.nav ul ul li{
        width: 100%!important;
        text-align: left!important;
        display: block;
        border: 0px!important;
        border-bottom: 1px solid rgba(255,255,255,.1)!important;
        background:transparent!important;
        height: auto;
        padding: 1em auto;

    }
    .header5 nav.global.nav ul ul li a:hover,
    .header5 nav.global.nav ul ul li a{
        background-color: transparent;
    }
    .header5 nav.global.nav ul ul li a{
        padding: 8px 20px !important;

    }

    .header5 nav.global ul li ul li ul{
//        display: block!important;
        position: relative!important;
        top: 0;
        left: 0;
        box-shadow: none!important;
    }
    .header5 nav.global ul li ul li ul li a{
        padding-left: 1.5em!important;
        font-weight: 500 !important;
    }
    .header5 nav.global ul li ul li ul li ul li a{
        padding-left: 2.25em!important;
    }
/* END HEADER 4 nav */


    ///////pop up form stuff
    .header5 div.form-wrapper{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.75);
        z-index: 20;
        display: none;
    }
    .header5 div.esc-form{
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .header5 form#fast-search-desktop{
        width: 50%;
        display: block;
        float: right;
        margin-bottom: 0;
    }
    .header5 .popup-search-bar{
        width: 25%;
        padding: 0 1em;
        margin: auto auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255,255,255,.15) !important;
        text-align: left !important;
        border: 1px solid white;
        text-align: left;
        color: white;
        padding: 1em;
        border-radius: 5px;
    }
    .header5 .close-search:hover{
        color: white;
    }
    .header5 .close-search{
        color: white;
        font-size: 2em;
        position: absolute;
        display: block;
        right: 3em;
        top: 2em;
    }
}
