/*for clearfixing*/
.cf:before,
.cf:after{
  content:"";
  display:block;
}
.cf:after {
    clear:both;
}
.cf {
    zoom:1;
}
.breadcrumbs .row > span{
    padding: 0 .25em!important;
}
section.general.block{
    width: 100%;
    position: relative;
}
section.general.block img{
    padding:  0 1em;
}
.page-template-template-blog .entry-title a{
    color: black!important;
}
.general.block div.gb-header{
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
    position: relative;
}
.gblocks.wrapper article{
    padding: 0 1em;
}
.general.block div.gb-header div.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.general.block div.gb-header div.content{
    position: relative;
    z-index: 2;
    padding: 1em;
}
.general-block-inner p{
}
.general-block-inner h3{
    margin: 0!important;
}
.general.block div.gb-header div.content h2{
    margin-top: 0!important;
}
.general.block article{
    float: left;
}

.imgwithtitletop,
.imgwithtitle{
    position: relative;
}
.imgwithtitletop h3{
    position: absolute;
//    text-align: center;
    width: 100%;
    background-color: rgba(0,0,0,.75);
    color: white;
}
.imgwithtitle h3{
    position: absolute;
//    text-align: center;
    width: 100%;
    background-color: rgba(0,0,0,.75);
    color: white;
}
.general-block-outer{
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: 50% 50%!important;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
/************************************************onex3 only stylez*/
section.general.block.onex3 .container,
section.general.block.onex3 article,
.onex3 .general-block-outer,
.onex3 .general-block-inner{
    width: 100%;
    height: 100%;
}
.onex3 h2,
.onex3 h3,
.onex3 h4{
    margin: 0!important;
    padding: .25em .3em;
}
.onex3 .gblocks.wrapper{
    max-height: 500px;
    height: 500px;
    overflow: hidden;
}
.onex3 .general-block-0{
    width: 50%!important;
    min-height: 100%!important;
    height: 100%!important;
}
.onex3 .general-block-1,
.onex3 .general-block-2{
    width: 25%!important;
    max-height: 50%!important;
    height: 50%!important;
    overflow: hidden;
}
.onex3 .general-block-3{
    width: 50%!important;
    max-height: 50%!important;
    height: 50%!important;
    overflow: hidden;
}
.onex3 .block1,
.onex3 .block2,
.onex3 .block3,
.onex3 .block4{
    width: 100%;
    height: 100%;
}

.client1 h2,
.client1 h3,
.client1{
    color: white;
}
.client1 .block1{
    background: #333333;
    text-align: center;
}
.client1 .block1 img{
    width: 65%;
}
.client1 .block4{
    background: #333;
}
/************************************************hot tubs 101 only stylez*/

.hot-tubs-101 .row {
  max-width:1400px !important;
}

section.hottubs101{
    color: white;
}
section.hottubs101 .xsmall-12{
    width: 100%!important;
    max-width: 750px;
    margin: 0 auto;
    float: none;
}
section.hottubs101 article{
    padding: 1em 1em;
    box-sizing: border-box;
}
section.hottubs101 article h3{
    color: white;
    font-size:2em;
    font-weight: normal;
    padding-top: 5em!important;
}
section.hottubs101 article:hover a{
    background-color: white;
    color: black !important;
    transition-duration: .25s;
}
section.hottubs101 article a{
    display: inline-block;
    margin-top: 1.5em;
    color: white !important;
    padding: .75em 1em;
    border: 1px solid white;
}
section.hottubs101 .general-block-outer{
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: 50% 50%;
}
section.hottubs101 .general-block-inner{
    height: 550px;
}
.fity50{
    padding: 1em;
    max-width: 700px;
    margin: 0 auto;
}
a.button101{
    padding: .75em 1em;
    display: inline-block;
    border: 1px solid #1e73be;
}
a.button101:hover{
    border: 1px solid $inherit;
}
.hottubs101-2 .custom div + div .fity50 p{
    margin-bottom: .5em;
}
@media only screen and (min-width:1025px){
    section.hottubs101 .xsmall-12{
        width: 50%!important;
        float: left!important;
    }
    section.hottubs101 article{
        padding: 1em 2em;
    }
    .fity50{
        float: left!important;
        width: 50%;
        padding: 1em 3em;
    }
}
/************************************************owners manual only stylez*/
.own-manual .custom{
    margin: 1em;
    background-color: #009aa6;
    padding: 1em;
    color: white;
    height: 100%;
}
.own-manual .custom h3{
    color: white;
}
.own-manual .custom a{
    color: white !important;
    margin: .25em 0;
    display: inline-block;
    text-decoration: underline;
}
.trade-in p{
    max-width: 600px;
    margin: 0 auto;
}

.videos-block .gblocks.wrapper.cf {
    padding-top: 1.5em;
}

/*******************************************EXCLUSIVE FEATURES ONLY STYLEZZZZZZ*/

section.general.block.section-block.exclusive-features {
  max-width: 1400px !important;
  margin: 0 auto;

  article {
    height: 465px;
  }

  .gblocks {
    margin: 0 0 8em;
  }

  h2 {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    color: #333 !important;
  }

  h3 {
    color: #069;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    text-align: left;
    text-transform: none;
    font-weight: normal;
  }

  img {
    padding: 0;
  }

  .gb-header {
    p {
      text-align: center;
      width: auto;
      margin: 0 auto;
      color: #333 !important;
      font-weight: bold;
      font-size: 20px;
    }
  }
}

/*******************************************EXCEPTIONAL FEATURES ONLY STYLEZZZZZZ*/

.exceptional-design {

  .gb-header {
    border-top: 1px solid #c2c2c2;
    background: #f1f1f1 !important;
    padding: 4em 0 0 0 !important;

    .custom {

      h2 {
        text-align: center !important;
        font-size: 45px;
        font-weight: bold;
      }

      .jet-system.cat-page {
        border-top: none !important;
        padding: 0 0 4em 0 !important;
      }
    }
  }
}


/*******************************************TABBED SECTION GENERAL BLOCK STYLEZZZZZZ*/

//  {
//   // background: #00B1B0;
// }
.tabbed-section .gb-header {
  padding-top: 2em;
}

.tabbed-section  h2 {
  text-align:center;
  color: #fff;
  margin-bottom: 50px;
}

.tabbed-section p,
.tabbed-section li,
.tabbed-section h3,
.tabbed-section h4
 {
  color: #fff !important;
}

.tabbed-section li {
  text-align:left;
}

.tabbed-section div.tabs .row.tab-nav ul {
  width: 100%;
  text-align: center;
}

/*.tabbed-section div.tabs .row ul li.ui-state-default {
  border: 2px solid white;
  margin: 0 3px;
  width: 19%;
}*/
/*.tabbed-section div.tabs .row ul li.ui-state-default a{
  padding: 19px 97px;
}*/

.tabbed-section div.tabs .tab-content,
.single-product .prod-description .tab-content
{
    background-color: transparent;
}

.tabbed-section div.tabs .ui-tabs-nav,
.single-product .prod-description .ui-tabs-nav
{
    text-align: center;
}

.tabbed-section div.tabs .ui-tabs-nav li,
.single-product .prod-description .ui-tabs-nav li
{
    background-color: transparent;
    text-align: center;
    /*border: 4px solid $white;*/
    padding: 0;
    /*margin-right: 4.16666%;*/
}

.tabbed-section div.tabs .ui-tabs-nav li a:hover,
.single-product .prod-description .ui-tabs-nav li a:hover
{
    background-color: rgba(255, 255, 255, 0.3);
}

.single-product .prod-description .ui-tabs-nav li:last-child a,
.tabbed-section div.tabs .ui-tabs-nav li:last-child a
{
    margin-right: 3% !important;
}

.tabbed-section div.tabs .ui-tabs-nav li:first-child,
.single-product .prod-description .ui-tabs-nav li:first-child
{
    /*margin-left: 0 !important;   */
}

.tabbed-section div.tabs .ui-tabs-nav li a,
.single-product .prod-description .ui-tabs-nav li a
{
    padding: 10px 0;
    display: block;
    font-size: 20px;
    color: #fff;
    border: none !important;
    font-weight: bold;
    border: 4px solid #fff !important;
    margin-right: 3%;
    margin-bottom: 3%;
}

.tabbed-section div.tabs .ui-tabs-nav li a.more-than-5,
.single-product .prod-description .ui-tabs-nav li a.more-than-5
{
    margin-bottom: 10px;
}

.tabbed-section div.tabs .ui-tabs-nav li:nth-child(3n) a.more-than-5,
.single-product .prod-description .ui-tabs-nav li:nth-child(3n) a.more-than-5
{
    margin-right: 0;
}

.tabbed-section div.tabs .ui-tabs-nav li.ui-state-active a,
.single-product .prod-description .ui-tabs-nav li.ui-state-active a
{
    background-color: #fff !important;
}

.tabbed-section div.tabs .ui-tabs-nav li.ui-state-active:before,
.single-product .prod-description .ui-tabs-nav li.ui-state-active:before
{
    background-color: transparent;
}

.tabbed-section div.tabs .ui-tabs-nav li.ui-state-active a,
.single-product .prod-description .ui-tabs-nav li.ui-state-active a
{
    color: #333 !important;
    text-decoration: none;
}



.tabbed-section div.tabs .tab-content,
.single-product .prod-description .tab-content
{
    padding: 60px 0;
}

@media screen and (max-width:641px) {
  .tabbed-section div.tabs .ui-tabs-nav li a {
    margin: 2.5px 0;
    margin-right: 0%;
  }
  .single-product .prod-description .ui-tabs-nav li:last-child a,
  .tabbed-section div.tabs .ui-tabs-nav li:last-child a
  {
      margin-right: 0 !important;
  }
}

/************************************************HotSpring Family **/
.hotspring-fam{
    position: relative;
    width: 100%;
    padding: 1em;
    max-width: 100%;
    overflow: hidden;
    max-width: 1400px;
    margin: 0 auto;
}
.hotspring-fam p{
    margin: 0!important;
    line-height: 0!important;
    padding: 0!important;
}
.hotspring-fam article {
    position: relative;
    margin: 1em 0;
    width: 100%;
}

.hotspring-fam article:hover .overlay {
    opacity: 1;
    transition-duration: .25s;
}

.hotspring-fam article .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 154, 166, .95);
    top: 0;
    left: 0;
    padding: 1em;
    opacity: 0;
    transition: opacity 1s linear;
}

.general.block.section-block .hotspring-fam article .overlay a:hover,
.general.block.section-block .hotspring-fam article .overlay a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto auto;
    width: 100%;
    text-align: center;
    height: 100%;
    color: white!important;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 0 1em;
    padding-top: 20%;
}
.hotspring-fam article h3{
    text-align: center!important;
    margin-bottom: .25em!important;
}
.hotspring-fam article img{
    width: 100%;
    max-width: 100%;
    padding: 0!important;
}
.the-logo img{
    margin-bottom: 1.5em;
}
/* PERFECT QUIZ */

.perfect_quiz .copy * {
    color: #fff;
}

.perfect_quiz .copy {
    padding: 100px 20px 100px 20px;
}

.perfect_quiz .gform_heading {
    text-align: center;
}



/* Quiz block */
.perfect_quiz .gform_wrapper h3.gform_title {
    font-size: 2em;
}

.perfect_quiz {
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;

    .content {
        padding: 0em !important;
    }
}


.perfect_quiz .inner {
    background: rgba(0, 0, 0, 0.7) url(https://s3.amazonaws.com/wp-agilitysquared/myproductdata/wp-content/uploads/2016/04/stripe-overlay-pattern.png) repeat;
    min-height: 600px;
    position: relative;
    height: 100%;
}

.perfect_quiz li {
    border-bottom: none !important;
}

.perfect_quiz .gform_column li ul li label {
    font-size: 18px;
    text-align: left;
}

.perfect_quiz .gform_wrapper ul.gform_fields {
    max-width: 650px;
    margin: 0 auto !important;
    padding-bottom: 4px;
}

.perfect_quiz .gform_wrapper ul.gform_fields li {
    display: block;
    float: left;
}


.perfect_quiz .gform_wrapper input[type=email],
.perfect_quiz .gform_wrapper input[type=number],
.perfect_quiz .gform_wrapper input[type=password],
.perfect_quiz .gform_wrapper input[type=tel],
.perfect_quiz .gform_wrapper input[type=text],
.perfect_quiz .gform_wrapper input[type=url] {
    min-width: 200px;
}

.perfect_quiz .gform_fields.top_label.form_sublabel_below.description_below {
    display: none;
}

.perfect_quiz section h3:first-of-type {
    margin-bottom: 0px;
}

.perfect_quiz body .gform_wrapper label.gfield_label+div.ginput_container {
    margin: 0 auto;
}

.perfect_quiz .gform_body,
.perfect_quiz .gform_wrapper .gf_page_steps {
    max-width: 650px;
    margin: 16px auto;
    text-align: center;
}

.perfect_quiz .gform_wrapper .gf_page_steps,
.gform_wrapper .gform_page_footer {
    border: none !important;
    border-top: none !important;
    border-bottom: none !important;
    margin: 1em auto;
}

.perfect_quiz .gform_wrapper .gform_page_footer {
    margin: 0;
    padding: 0;
    padding-right: 30px;
    padding-top: 6px;
}

.perfect_quiz .gform_wrapper .gform_page_footer .button.gform_button,
.gform_wrapper .gform_page_footer .button.gform_next_button {
    margin: 10px 0 0px 0 !important;
    background-color: #2262ab;
}

.perfect_quiz .gf_step {
    line-height: 0 !important;
    display: inline-block;
    padding: 10px;
}


.perfect_quiz .ginput_container {
    margin: 0;
}
.perfect_quiz .gchoice_68_4_0, .gchoice_68_4_1, .gchoice_68_4_2, .gchoice_68_4_3 {
    max-width: 165px;
    padding-left: 35px;
}
.perfect_quiz .gform_wrapper .gsection {
    padding: 0;
}

.perfect_quiz .gf_step_number {
    font-size: 1.25em;
    float: left;
    font-family: arial, sans-serif;
    border-radius: 50%;
    border: 2px solid white;
    width: 40px !important;
    height: 40px !important;
    line-height: 35px;
}

.perfect_quiz ul.gform_fields.top_label li h3 {
    font-size: 1.4em;
    padding-left: 12px;
}

.perfect_quiz ul.gform_fields.top_label li {
    float: none;
    @media (max-width: 768px) {
        margin: auto;
    }
}
.perfect_quiz .gform_body ul {
    list-style: none;
    margin: 30px auto;
    text-align: left;
}

.perfect_quiz {
    .ginput_container.ginput_container_radio,
    .ginput_container.ginput_container_checkbox {
        display: flex;
        justify-content: center;
    }
}

.gform_wrapper .gform_page_footer .button.gform_previous_button, .gform_wrapper .gform_page_footer .button.gform_next_button {
    display: -moz-inline-stack;
    display: inline-block;
    min-width: 100px;
    min-height: 40px;
    margin: 0 6px !important;
}
.perfect_quiz .gform_wrapper input[type="text"] {
    width: 47.5% !important;
    background: rgba(255,255,255,0.4) !important;
    margin: 0 auto 0.5em !important;
    border-radius: 4px !important;
    color: white !important;
    padding: 4px;
    border: solid 2px white;
}
#input_68_4 {
    margin: 1em auto;
    max-width: 26%;
    @media (max-width: 768px) {
        max-width: 100%;
    }
}
#input_68_8 {
    max-width: 30%;
    margin: 1em auto;
}
#input_68_13 {
    margin: 1em auto;
}
#field_68_22, #field_68_23, #field_68_24,
#field_68_32, #field_68_32  {
    text-align: center;
    padding-bottom: 4px;
}

.general.block.section-block.jetsrow {
    margin-top: 1em;
}

.hot-tubs-101-six-blocks {

 figure.effect-lily {
        position: relative;
        float: left;
        overflow: hidden;
        margin: 1em;
        background: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
         height: 500px;

    }

    figure.effect-lily img {
        position: relative;
        display: block;
        min-height: 100%;
        max-width: 100%;
        opacity: 1;
        width: calc(100% + 300px) !important;
        max-width: none;
        width: -webkit-calc(100% + 50px);
        width: calc(100% + 50px);
        opacity: 1;
        -webkit-transition: opacity 1s, -webkit-transform 1s;
        transition: opacity 1s, transform 1s;
        -webkit-transform: translate3d(-40px,0, 0);
        transform: translate3d(-40px,0,0);
    }

    figure.effect-lily figcaption > div {
        position: absolute;
        bottom: 0;
        left: 0;
        padding-left: 2em;
        width: 100%;
        height: 50%;
    }

    figure.effect-lily figcaption {
         text-align: left;
        padding: 2em;
        color: #fff;
        font-size: 1.25em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        max-width: 60%;
        z-index: 2;
    }

    figure.effect-lily figcaption::before,
    figure.effect-lily figcaption::after {
        pointer-events: none;
    }

    figure.effect-lily figcaption,
    figure.effect-lily figcaption > a {
        position: absolute;
/*        top: 0;*/
/*        left: 0;*/
        width: 100%;
        height: 100%;
        transition: all 1s ease-out;

    }

    figure.effect-lily figcaption > a {
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;

    }

    figure.effect-lily h2 {
        font-weight: 300;
        -webkit-transition: -webkit-transform 1s;
        transition: all 1s ease-out;
        color: white;
        text-shadow: 1px 1px 1px #000;
        position: absolute;
        bottom: 55px;
    }

    figure.effect-lily h2,
    figure.effect-lily p {
            margin-bottom: 12px !important;
        -webkit-transform: translate3d(0,40px,0);
        transform: translate3d(0,40px,0);
    }
    figure.effect-lily h2 span {
        font-weight: 800;
    }


    figure.effect-lily p {
        letter-spacing: 1px;
        font-size: 68.5%;
        opacity: 0;
        -webkit-transition: opacity 0.2s, -webkit-transform 1s;
        transition: opacity 1s, transform 1s;

    }


    figure.effect-lily:hover img {
        opacity: 0.4;
    }


    figure.effect-lily:hover h2 {
            bottom: 90%;
    }

        .img-container {
            background-size: cover;
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-position: 10%;
             transition: opacity 1s ease-out, background-position 1s ease-out;
            opacity: 1;
        }
        figure.effect-lily:hover .img-container {
            background-position: 0%;
            opacity: 0.4;
        }


    figure.effect-lily:hover h2,
    figure.effect-lily:hover p {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    figure.effect-lily:hover p {
        opacity: 1;
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
    }

}



@media only screen and (min-width:1100px){
    .hotspring-fam article{
        width: calc(50% - 2em);
        margin: 1em;
        float: left;
    }
    .hotspring-fam article h3{
        text-align: left!important;
    }
    .hotspring-fam article.to-the-left h3{
        text-align: right!important;
    }
    .the-logo{
        position: absolute;
        top: 21px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto auto;
        width: 373px;
        height: 143px;
        z-index: 10;
        background-color: white;
        border-radius: 100px;
        /*border: 1em solid white;*/
        padding: 0 2em;
            /*-moz-box-shadow: 1px 1px 1px 1px rgba(194, 194, 194, 0.54);
            -webkit-box-shadow: 1px 1px 1px 1px rgba(194, 194, 194, 0.54);
            box-shadow: 1px 1px 1px 1px rgba(194, 194, 194, 0.54);*/
        -webkit-box-shadow: 0px 4px 17px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 4px 17px -3px rgba(0,0,0,0.75);
        box-shadow: 0px 4px 17px -3px rgba(0,0,0,0.75);
    }
    .the-logo img{
        margin-top: 1.5em;
        margin-bottom: 0;
    }
}

// DID YOU KNOW GENERAL CONTENT BLOCK

@media (min-width:1025px) {
    .did-you-know .right, .did-you-know .left {
        height: 400px;
    }
}

.did-you-know .left {
  padding-left: 0 !important;
}

.did-you-know .row {
  max-width: inherit !important;
}

.did-you-know h2,
.did-you-know p {
  color: #fff;
}

.did-you-know h2 {
  line-height: 1;
  font-size: 2.6em;
  margin-bottom: 25px;
}

.did-you-know p {
  font-size: 24px;
  line-height: 30px;
}

.did-you-know .right .content-overlay,
.did-you-know .left .unit {
  background: #006395;
}

.did-you-know .unit {
  position:relative;
  z-index: 1;
  padding-top:10%;
}

.did-you-know .left .unit {
  position: relative;
  margin-right: 0em;
  height: 100%;
}

.did-you-know .right .unit {
  padding-top: 4.8%;
}

.did-you-know .left .content {
  height: 100%;
  padding: 10% 1em 0 1em;
  max-width: 375px;
  text-align: left;
  float: right;
}



.did-you-know .right {
  background-repeat: no-repeat;
  background-size: cover;
}

.did-you-know .right .content {
  max-width: 700px;
  padding-left: 2em;
}

.did-you-know .right .content-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(41,94,158,1);
  background: -moz-linear-gradient(left, rgba(41,94,158,1) 0%, rgba(41,94,158,0.88) 26%, rgba(252,252,252,0.68) 66%, rgba(252,252,252,0.52) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(41,94,158,1)), color-stop(26%, rgba(41,94,158,0.88)), color-stop(66%, rgba(252,252,252,0.68)), color-stop(100%, rgba(252,252,252,0.52)));
  background: -webkit-linear-gradient(left, rgba(41,94,158,1) 0%, rgba(41,94,158,0.88) 26%, rgba(252,252,252,0.68) 66%, rgba(252,252,252,0.52) 100%);
  background: -o-linear-gradient(left, rgba(41,94,158,1) 0%, rgba(41,94,158,0.88) 26%, rgba(252,252,252,0.68) 66%, rgba(252,252,252,0.52) 100%);
  background: -ms-linear-gradient(left, rgba(41,94,158,1) 0%, rgba(41,94,158,0.88) 26%, rgba(252,252,252,0.68) 66%, rgba(252,252,252,0.52) 100%);
  background: linear-gradient(to right, #006395 0%, #006395 26%,  #009AA6 66%, #009AA6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#295e9e', endColorstr='#fcfcfc', GradientType=1 );
}

@media screen and (max-width:1024px) {
  .did-you-know .left {
    padding: 0 !important;
  }
  .did-you-know .left .content {
    max-width: 700px;
    float: none;
    padding-left: 2em !important;
  }
  .did-you-know .right .content {
    padding-top: 8% !important;
  }
}

// OUR PRODUCTS 2 CONTENT BLOCK HOME PAGE

.our-products-2 {
    padding-top: 0;
    padding-bottom: 60px;
}
.our-products-2 img {
    width: 100%;
    height: auto;
}
.our-products-2 p {
    text-align: center;
    margin: 0 auto;
    max-width: 580px;
    font-weight: bold;
    margin-bottom: 3em;
}
.our-products-2 .content {
    text-align: center;
    min-height: 300px;
    background-size: cover;
}
.our-products-2-overlay {
    background-color: rgba(13, 18, 66, 0.62);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
.our-products-2-overlay:hover {
    opacity: 1;
    cursor: pointer;
}
.our-products-2 h4 {
    font-size: 24px;
    color: white;
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    bottom: 0;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

.driving-directions .gblocks{
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}



// HOT TUB OWNERS PAGE BLOCKS

body.hot-tub-owners {
  .own-manual .custom {
    margin: 2em 0 !important;
  }
  .container {
    max-width: 1400px !important;
  }
  section.maint-care {
    article.general-block {
      text-align: left;
      padding: 0 !important;

      h3:first-of-type {
        margin: 30px 0 !important;
        text-align: left !important;
      }
      img {
        padding: 0;
      }
    }

  }
}

body.caldera-spas-owners-manuals {
  .page-middle-col-content {
    section.owners-manual {
      padding: 3em 0;
    }
    a {
      color: $333 !important;
    }
    a:hover {
      color: $caldera !important;
    }
    a.button101 {
      border: 1px solid $caldera !important;
    }
    a.button101:hover {
      border: 1px solid $caldera !important;
    }
    li {
      text-align: left !important;
      max-width: 282px;
      margin: auto;
    }
  }
}
