@media only screen and (min-width:1024px){
    .header3 header.mobile{
        display: none;
    }
    .header3 header.desktop.nav{
        display: block;
        background: $header-bg-image;
    		background-repeat: $header-bg-image-repeat;
    		background-size: $header-bg-image-size;
        background-color: $header-primary-bg;
    }
    header .container{
        max-width: 1800px;
    }
    header.header3 {
        // background-color: $header-primary-bg;
    }
    header.header3  p{
        margin: 0;
    }
    .header3 h1{
        text-indent: -999em;
        position: relative;
        width: 341px;
        margin: 1em auto;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        height: 63px;
    }
    .header3 h1 a{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .header3 header > nav:first-of-type{
        border-bottom: 1px solid rgba(0,0,0,.1);
        height: 2.25em;
        background-color: $utility-nav-bg;
    }
    .header3 header nav:first-of-type p{
        color: $util-nav-link;
        padding-top: .45em;
        display: inline-block;
        font-size:15px !important;
    }
    .header3 div.cart-search-combo{
        float: right;
        height: 2.25em;
    }
    .header3 div.cart-search-combo a.cart{
        position: relative;
        height: 100%;
        width: 30px;
        display: block;
        padding: 0 0;
        float: left;
    }
    .header3 .the-cart-quantity{
        position: absolute;
        top: 6px;
        left: 21px;
        line-height: 0px;
        color: white;
        background-color: black;
        border-radius: 50%;
        padding: 5px 3px;
        font-size: 9px;
        z-index: 10;
    }
    .header3 div.cart-search-combo a.cart img{
        position: absolute;
        top: 0;
        left: 0;
        height: auto;
        width: 100%;
        padding: .45em .15em;
    }
    .header3 a.the-search-icon{
        float: left;
        width: 30px;
        height: 100%;
        display: block;
        background-size: 21px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-image: url('//watkinsdealer.s3.amazonaws.com/Images/Icons/lupa.png');
        text-indent: -999em;
        margin-left: 1em;
    }
    .header3 nav.global{
        box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);
        height: 2.5em;
        width: 100%;
        background-color: $primary-nav-bg;
    }
    .header3 nav.global ul{
        margin: 0;
    }
    .header3 nav.global ul li{
        float: left;
        list-style: none;
        height: 2.5em;
        position: relative;
        border-top: 3px solid $primary-nav-bg;
    }
    .header3 nav.global ul li:hover{
        border-top: 3px solid $primary-nav-bg-hover;
    }
    .header3 nav.global ul li:hover ul{
        display: block;
    }
    .header3 nav.global ul li ul{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        margin: 0;
        height: auto;
        background-color: $primary-nav-bg;
        opacity: .95;
        z-index: 100;
        -webkit-box-shadow: 0 10px 10px 5px rgba(0,0,0,.25);
        box-shadow: 0 10px 10px 5px rgba(0,0,0,.25);
    }
    .header3 nav.global ul li ul li{
        text-align: left!important;
        float: none;
        display: block;
        width: 100%!important;
        height: auto;
    }
    .header3 nav.global ul li ul li a:hover{
        background-color: $primary-nav-bg-hover;
        opacity: .95;
    }
    .header3 nav.global ul li ul li a{
        border-top: 0px!important;
        padding: .5em 1em;
    }
    .header3 nav.global ul li ul li ul{
        display: none!important;
    }
    .header3 nav.global ul li:hover{
        background-color: transparent;
        position: relative;
    }
    .header3 nav.global ul li a{
        width: 100%;
        height: 100%;
        padding: 0em 1em;
        padding-top: .25em;
        display: inline-block;
        color: $primary-nav-link!important;
    }
    .header3 nav.global ul li a:hover{
        background-color: transparent;
        color: $primary-nav-link-action!important;
    }
    .header3 nav.global ul li:hover ul li ul li{
        text-align: left!important;
    }
    .header3 nav.global ul li:hover ul li ul li a{
        padding-left: 2em;
    }
    .header3 nav.global ul li:hover ul li ul{
        display: block!important;
        position: relative!important;
        top: 0;
        left: 0;
        box-shadow: none!important;
    }

    .header3 nav.utilities-nav {
      min-height: 42px;
    }


    .header3 nav.utilities-nav ul li:first-of-type{
        border-left: 1px solid rgba(255,255,255,.1);
    }
    .header3 nav.utilities-nav ul li{
        display: block;
        float: right;
        border-right: 1px solid rgba(255,255,255,.1);
    }
    .header3 nav.utilities-nav ul li a:hover{
        background-color: $utility-nav-bg-hover;
        color: $util-nav-link-action!important;
    }
    .header3 nav.utilities-nav ul li a{
        display: block;
        width: 100%;
        height: 100%;
        padding: .5em 1em;
        color: $util-nav-link!important;
    }
}
