.media-library-tab-video {
  text-align: center;
}

.woocommerce #content div.product div.thumbnails a.last, .woocommerce div.product div.thumbnails a.last, .woocommerce-page #content div.product div.thumbnails a.last, .woocommerce-page div.product div.thumbnails a.last {
   margin-right: 3.8%;
}

.woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    float:left;

}

.prod.btns {
  padding: 0 1em;
}

.single-product a.button.ask-question {
  max-width: 400px;
  float: none;
}

// ACE SALT WATER SANTIZING SYSTEM PRODUCT PAGE
body.ace-salt-water-sanitizing-system div.prod.btns {
  width: 100%;
  float: left;
  margin: 0.25em;
}

@media screen and (max-width:1200px){
  body.ace-salt-water-sanitizing-system a.ask-question {
    margin: 0 auto !important;
  }
}


@media screen and (min-width:1200px){
  body.ace-salt-water-sanitizing-system div.prod.btns {
    // width: 48%;
    // float: left;
    // margin: 0.25em;
  }
}


.prod-description .tab-content .row,
section.jet-systems .jet-system .row {
  max-width:1400px !important;
}

section.jet-systems .jet-system .row h2.title {
  margin-top:15px;
  margin-bottom:5px;
}

section.jet-systems .jet-system .row p.description {
  margin-bottom:60px;
}



/* 360 View */
/* PRODUCT DETAILS PAGE */
body.single-360-view footer,
body.single-360-view header {
    display: none !important;
}
.product.has-default-attributes.has-children > .images {
    opacity: 1;
}
/*Product Top */
.product-heading {
    padding: 20px 1em 40px;
}
.product-title-line {
    //    padding: 0px 15px 0px;
    position: relative;
    text-align: center;
}
.inner-wrap .product-heading,
.product-heading.single-product-heading {
    //    border-bottom: 1px solid rgba(0,0,0,.25);
    padding: 50px 0 !important;
    // margin-bottom: 1em;
}

.inner-wrap .product-heading, .product-heading.single-product-heading {
  padding: 2.5em 1em 1em !important;
  margin-bottom: 0;
}

.product-heading > .row,
.product-heading.single-product-heading > .row {
    //    border-bottom: 1px solid rgba(0,0,0,.25);
    padding-bottom: 1em;
}
div.the-product {
    // max-width: 1400px;
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 50px;
    // margin-bottom: 1em;
}
.product-title-line .title {
    margin: 0;
    padding-bottom: 0;
    text-transform: capitalize;
    line-height: 1;
    text-align: center;
}
.product-heading .breadcrumbs {
    padding-bottom: 0;
    border-bottom: 0 solid #ccc;
    margin-bottom: 0;
    margin-left: 0;
}
.product-description {
    float: right !important;
    position: relative;
}
.custom-product-view img.product-img {
    /*width: 100%;*/
    /*max-height: 400px;*/
    margin-bottom: 20px;
}
.custom-product-view {
    padding: 0 1.875em;
    max-width: 100%;
}
.product-price-button {
    padding: 10px;
    background-color: $primary;
    /*max-width: 200px;*/
    text-align: center;
    color: $white;
    font-weight: bold;
    margin-top: 30px;
    transition: background-color 0.3s ease-in-out;
}
.product-price-button:hover {
    background-color: $secondary;
    transition: background-color 0.3s ease-in-out;
    color: $white;
}
.custom-product-view {
    text-align: center;
}
//fix button/color picker sitting to the left;
.product-selectors {
    clear: right;
    float:right;
    h3 {
    @media (max-width: 657px) {
          text-align: center;
        }
    }
}
/* Product Jet System */
.single-product .jet-system li {
    background-color: transparent;
    border: none;
    border-top: 1px solid $dark;
}
.single-product .jet-system .ui-tabs-nav {
    margin: 0;
}
.single-product .jet-system .ui-tabs-vertical .ui-tabs-nav li:first-child {
    border: none;
    border-top: 1px solid $dark;
}
.single-product .jet-system .ui-tabs-vertical .ui-tabs-nav li a {
    color: $dark;
    font-weight: bold;
    text-decoration: none;
    border: none;
}
.single-product .jet-system .ui-tabs-vertical .ui-tabs-panel {
    width: 100%;
    background-color: transparent;
    color: $dark;
    padding: 0 0 10px 55px;
}
.single-product .jet-system .ui-tabs-vertical .ui-tabs-panel img {
    width: 100%;
}
.single-product .jet-system .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    border-bottom: none !important;
}
.single-product .jet-system .ui-tabs-vertical .ui-tabs-nav li.ui-state-active a {
    background-color: transparent;
    color: $dark;
    border-bottom: none !important;
}
.single-product .jet-system .ui-tabs-vertical .ui-tabs-nav li a:before {
    color: $dark;
    padding-right: 20px;
    padding-left: 5px;
}
.prod-description {
    padding: 0 1em !important;
}
.single-product .prod-description h2.title {
    margin-bottom: 50px;
    margin-top:30px;
}
.single-product .prod-description h2.title,
.single-product .prod-description p.description {
    color: $white;
}
.single-product .prod-description .tab-content h4.title {
    font-size: 30px;
    text-align:left;
}
.single-product .prod-description .tab-content {
    background-color: transparent;
}
.single-product .prod-description .ui-tabs-nav {
    text-align: center;
}
.single-product .prod-description .ui-tabs-nav li {
    background-color: transparent;
    /*border: 4px solid $white;*/
    padding: 0;
    /*margin-right: 4.16666%;*/
}

.single-product .prod-description .ui-tabs-nav li:last-child {
    margin-right: 0 !important;
}
.single-product .prod-description .ui-tabs-nav li a {
    padding: 10px 0;
    display: block;
    font-size: 20px;
    color: $white;
    border: none !important;
    font-weight: bold;
}

.single-product .prod-description .ui-tabs-nav li.ui-state-active:before {
    background-color: transparent;
}
.single-product .prod-description .ui-tabs-nav li.ui-state-active a {
    // color: $primary !important;
    text-decoration: none;
}
.single-product .jet-system .ui-tabs-vertical .ui-tabs-nav li.ui-state-active a:before {
    padding-right: 19px !important;
    padding-left: 0 !important;
}
.single-product .prod-description .tab-content {
    padding: 60px 0;
}
/* Product Reviews */
.single-product .collection-reviews {
    background-color: $dark;
    border-top: 1px solid $medium-dark;
    border-bottom: 1px solid $medium-dark;
}
.single-product .quote-section {
    border-radius: 10px;
    padding: 20px 0;
    background-color: transparent;
    color: white;
}
.single-product blockquote p {
    font-size: 20px;
    color: #ffffff;
}
.single-product .quote-author {
    color: $white;
}
.single-product .left-quote,
.single-product .right-quote {
    padding-top: 40px;
}
/* PRODUCT ACCESSORIES*/
.single-product .accessories h2.title {
    text-align: center;
    margin: 0 0 50px;
}
/* NON-HOT-TUB PRODUCTS PAGES*/

.single-product .product {
  padding-top: 2em;
}

.single-product .product-carousel {
    padding: 40px 0 60px;
    background: url('https://myproductdata.com/wp-content/uploads/2015/06/strip-white.jpg');
}
.single-product .product-carousel h2.title {
    text-align: center;
    margin: 0 0 40px;
}
.single-product .product-carousel p.product-model-slide-title {
    color: $dark;
}

.single-product .summary.entry-summary h2 {
  padding: 0 16px;
}

/* PRODUCT ACCESSORIES*/
.single-product .accessories {
    background-color: $light;
    padding: 50px 0 60px;
    border-top: 1px solid $light-border;
    border-bottom: 1px solid $light-border;
}

.single-product .accessories .row {
    max-width: 1400px !important;
}

.single-product .accessories h2.title {
    text-align: center;
    margin: 0 0 40px;
}
.single-product .collection-reviews {
    background-color: $dark;
    border-top: 1px solid $medium-dark;
    border-bottom: 1px solid $medium-dark;
}

.single-product .quote-section {
    border-radius: 10px;
    padding: 20px 0;
    background-color: transparent;
}
.single-product blockquote p {
    font-size: 20px;
    color: #ffffff;
}
.single-product .quote-author {
    color: #ffffff;
}
.single-product .feature-desc {
    display: none;
}
a.learn-more-link {
    line-height: 50px;
    display: none;
}
.block-img-wrap {
    height: 250px;
    overflow: hidden;
    max-height: 250px;
}
a.feature-block-link {
    display: block;
    border: 1px solid $medium-light;
    max-height: 250px;
    overflow: hidden;
}
.single-product .feature-block-img {
    border: none;
}
.accessories-all-link {
    max-width: 200px;
    background-color: $medium-dark;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}
.accessories-all-link:hover {
    background-color: $medium-light;
}
.accessories-all-link p {
    color: $white;
    margin: 0;
    font-weight: bold;
}
.learn-more-link:after {
    content: '\f054';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-left: 20px;
}
/* Product Taxonomy Category Page (i.e. Accessories ) */
.tax-product_cat .main > #footer,
.tax-product_cat .main > hr {
    display: none;
}
/* Single Product Non Hot Tub (accessories, etc.) */
.product-heading .product ins span.amount {
    padding-left: 20px;
}
.product-heading .product a.add_to_cart_button {
    margin-left: 20px !important;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}
.product-heading .product a.add_to_cart_button:hover {
    background-color: $primary !important;
}
.product-heading a.ask-question {
    text-transform: uppercase; //    position: absolute;
    //    bottom: -40px;
    //    left: 1.875em;
    transition: all 0.3s ease-in-out;
    display: inline;
    margin: 0 !important;
}
.product-heading a.ask-question:hover {
    background-color: $primary !important;
}
a.button:hover {
    color: $white !important;
}
a.button.ask-question:hover {
    color: $white !important;
}
.related-products-section .hide {
    max-height: 0;
    max-width: 0;
    overflow: hidden;
}

.single-product.hot-tub #design-main-img {
    // max-width: 90%;
    max-width: 100%;
}
.single-product .breadcrumbs .row > span:first-of-type {
    padding: 0 !important;
}
///////////////////alex single prod
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    background-color: $link-hover!important;
    color: $white !important;
}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: $link!important;
    margin: 0 0 1em 1em !important;
    text-transform: uppercase;
}
div.orSeparator,
form.cart,
form.variations_form.cart {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-transform: uppercase;
}
div.orSeparator {
    text-align: center;
}
div.orSeparator:last-of-type {
    margin-top: 1em !important;
}
span.orLine:last-of-type {
    float: right;
}
span.orLine {
    float: left;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
    width: calc(50% - 1.5em);
    display: inline-block;
    margin: 0 auto;
    position: relative;
    top: 17px;
}
div.orSeparator p {
    display: inline-block;
}
a.dwlbrochure:hover {
    background-color: $link--hover;
}
a.dwlbrochure {
    padding: 0.5em 1em;
    color: white;
    background-color: $link;
    margin: 0 0 1em !important;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-transform: uppercase;
}
div.woocommerce-variation-price span.price {
    font-size: 1.25em;
    display: block;
    margin-bottom: 0.5em;
}
div.woocommerce-variation-price span.price:before {
    content: 'Price: ';
}
a.reset_variations {
    display: none!important;
}
.custom-product-view .images {
    margin-bottom: 2em;
}
.thumbnails {
    text-align: center;
}
.thumbnails img {
    width: 100px;
    display: inline-block;
    margin-bottom: 0.5em;
}
.product-description .button.ask-question {
    text-transform: uppercase;
}
@media only screen and (min-width:1025px) {
    .product-description .button.ask-question,
    a.dwlbrochure,
    div.orSeparator {
        margin: 0 !important;
    }
    form.cart,
    form.variations_form.cart {
        margin: 0 !important;
    }
    div.orSeparator:last-of-type {
        margin-top: 1em !important;
    }
}
table.variations, table.variations tbody, table.variations tbody tr {
    width: 100%;
}

table.variations tbody tr td {
    width: 100%;
    display: block;
}
div.quantity {
    width: 25%;
    display: inline-block;
}
div.quantity input.qty.text {
    width: 100%;
    padding: 0.38em 1em;
    border-radius: 0;
    border: 1px solid rgba(0,0,0,.25);
}
.woocommerce-variation-add-to-cart {
    margin-bottom: 1em;
}
div.woocommerce-variation-add-to-cart button.single_add_to_cart_button,
form.cart button.single_add_to_cart_button {
    width: calc(74% - 1em);
    margin-left: 1em !important;
}
.woocommerce div.product div.summary {
    margin-bottom: 2em;
    margin-right: 1em;
}
.single.single-product ins {
    text-decoration: none;
}
.single.single-product ins:before {
    content: '|';
    padding: 0 0.5em;
    text-decoration: none!important;
}
.single.single-product .product.woocommerce.add_to_cart_inline del,
.single.single-product .product.woocommerce.add_to_cart_inline ins {
    display: none;
}
.button.ask-question {
    // width: 100%;
    display: block !important;
    margin: 0 auto !important;
    // max-width: 250px;
    width: auto;
    padding: 15px;
}
ul.tab-links {
    width: 100%;
    padding: 0 2.5em;
    margin: 0 auto;
    display: none;
    max-width: 1400px;
    top: 30px;
    position: relative;
}
.tab-links li {
    list-style: none;
    float: left;
    position: relative;
//    border-top-right-radius: 5px;
//    border-top-left-radius: 5px;
    border-top: 1px solid rgba(0,0,0,.1);
    border-left: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid rgba(0,0,0,.1);
    margin-right: 0.25em;
    height: 44px;
    top: 1px;
}
div.tab {
    margin-bottom: 3em;
}

.tab-links li.current-tab a,
.tab-links li:hover a {
    z-index: 10;
    // color: rgba(0,0,0,.5);
    color: $dark;
    transition-duration: 0.15s;
}
.tab-links li.current-tab a {
    background-color: $white;
    color: black !important;
}
.tab-links li:hover a {
    background-color: $light;
}
.tab-links li a {
    z-index: 5;
    width: 100%;
    height: 100%;
    display: block;
    padding: 0.5em 1em;
    background-color: $primary;
    position: relative;
    color: lighten($primary, 65%) !important;
    //color: $dark !important;
    font-weight: bold;
    text-transform: uppercase;
    font-family: prelolight;
    letter-spacing: 0.3px;
}
.specslist-heading {
    background-color: $primary;
    color: lighten($primary, 65%) !important;
    padding: 6px;
    font-size: 1.2em;
}
.tab-links li a:hover {
    // color: black;
    color: $dark !important;
}
div.tabs-wrapper {
    width: calc(100% - 2em);
    max-width: 1400px;
    margin: 0 auto;
    padding: 1em;
    transition-duration: 0.25s;
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
     min-height: 400px;
    top: 30px;
    position: relative;

}
div.tab.current-tab {
    max-height: 1000em;
//    overflow: auto;
}
div.grid-list,
div.swatches-wrapper {
    text-align: center;
}
div.grid-item,
div.swatch {
    text-align: center;
    width: 50%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    padding: 0.5em 1em;
}
div.grid-item img {
    width: 100%;
    margin-bottom: 0.5em;
    height: auto;
}
div.swatch-type {
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    height: 0;
    padding-bottom: 100%;
    margin: 0 auto;
}
section.swatches {
    max-width: 1400px;
    margin: 0 auto;
}
section h3:first-of-type {
    text-align: center;
//    margin: 0 0 40px;
    font-size: 2em;
    text-transform: uppercase;
}
.gallery-page-product {
    padding: 0 1em;
    max-width: 960px;
    margin: 0 auto;
}
.gallery-page-product img {
    width: auto;
    height: auto;
    max-height: 500px;
    margin: 0 auto;
}
.single .grid-list p {
    line-height: 1.25em!important;
}
div.tabs-wrapper ul.slick-dots {
    margin-bottom: 2em !important;
}
a.title.expander-link {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.5em 1em;
    background-color: rgb(204, 204, 204);
    color: black !important;
}
.gen.specs .thespecslist ul:last-of-type {
    display: none;
}
.thespecslist td {
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}
.thespecslist tbody {
    outline: solid 3px black;
}
.tabs-wrapper p {
//    max-width: 750px;
    margin: 0 auto;
}
.product-heading .afterProdDetails.container.cf {
    margin: 0 !important;
}
.woocommerce span.onsale {
    padding: 0 !important;
    left: 1em;
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
    margin: 10px 4px 0 0;
}
@media only screen and (min-width:500px) {
    div.grid-item,
    div.swatch {
        width: 33.3%;
    }
}
@media only screen and (min-width:720px) {
    div.grid-item,
    div.swatch {
        width: 25%;
    }
    div.col-2,
    div.col-4 {
        width: 50%;
        float: left;
        padding: 1em;
    }
    div.col-3 {
        width: 33%;
        padding: 1em;
        float: left;
    }
    div.tab {
        max-height: 0;
        overflow: hidden;
    }
    ul.tab-links {
        display: block;
    }
    div.tab {
        margin-bottom: 0.5em;
    }
}
@media only screen and (min-width:960px) {
    div.grid-item,
    div.swatch {
        width: 20%;
    }
    div.col-4 {
        width: 25%;
    }
}
@media only screen and (min-width:1080px) {
    div.swatch {
        width: 14.28%;
    }
}

.gen.specs .img-container,
.prod-specs .spec-img-wrapper {
    margin: 0 auto;
    width: 75%;
    position: relative;
}
.gen.specs .img-container .height,
.prod-specs .spec-img-wrapper .height {
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -10px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.gen.specs .img-container .width,
.prod-specs .spec-img-wrapper .width {
    position: absolute;
    width: 100%;
    height: 10px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
//    bottom: -30px;
}
.gen.specs .img-container .width p, .prod-specs .spec-img-wrapper .width p {
    position: absolute;
    left: calc(50% - .75em);
    top: 20px;
}
.gen.specs .img-container .height p, .prod-specs .spec-img-wrapper .height p {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 35px;
}

.gen.specs .specsimg,
.prod-specs .specsimg {
    position: relative;
    margin-bottom: 2em;
}
.gen.specs .specsimg,
.gen.specs .thespecslist,
.prod-specs .specsimg,
.prod-specs .thespecslist {
    width: 100%;
    padding: 1em;
}
@media only screen and (min-width:1025px) {
    .gen.specs .specsimg,
    .gen.specs .thespecslist {
        float: left;
    }
}
/***********************************************************************/
/************************* RESPONSIVE STYLES ***************************/
/***********************************************************************/
@media screen and (max-width:1024px) {
    /*.single-product .row > div { padding-left: 8em; padding-right: 8em; }*/
}
@media only screen and (min-device-width : 769px) and (max-device-width : 860px) {
    .woocommerce-variation-add-to-cart .single_add_to_cart_button.button.alt {
        margin-left: 0 !important;
    }
}
@media screen and (max-width: 769px) {
    .dwlbrochure.button,
    .product-heading a.ask-question {
        margin: 0 auto !important;
        display: block !important;
    }
}
@media screen and (max-width:640px) {
    /*** PRODUCT DETAIL PAGE *************************/
    /* .single-product .row > div { padding-left: 5em; padding-right: 5em; }*/
    img {
        max-width: 100% !important;
    }
    .single-product h2.title {
        margin-bottom: 20px !important;
    }
    .cat-page,
    .collection-reviews,
    .get-pricing,
    .prod-specs,
    .product-heading,
    .quote-section,
    .single-product .accessories {
        padding: 20px 0 !important;
    }

}
@media screen and (max-width:410px) {
    /*.single-product .row > div { padding-left: 3em; padding-right: 3em; }*/
    /*Top Area */
    .product-price-button {
        width: 100% !important;
        margin: 0 0 10px !important;
    }
}
@media only screen and (min-width:720px) and (max-width: 790px) {
    .tab-links li a {
        padding: 0.5em 0.7em;
    }
}
@media only screen and (min-width:768px) {
    .product-heading .up-sells .products li {
        width: 46% !important;
        max-width: 370px;
    }
}
@media only screen and (min-width:640px) {

    .product-heading .zoom {
        width: 16.9% !important;
        clear: none !important;
    }
}

// ENDLESS POOLS DESCRIPTION TAB specs

.product_cat-endless-pools {
  padding-top:60px !important;
}
.x200-fitness-systems-swim-spa table.thespecslist,
.e-500-fitness-systems table.thespecslist,
.e-500-fitness-systems table.thespecslist,
.e2000-fitness-systems table.thespecslist,
.e700-fitness-systems table.thespecslist,
.x200-fitness-systems-swim-spa table.thespecslist,
.recsport-r120-recreation-systems table.thespecslist,
.x2000-swimcross-exercise-systems table.thespecslist,
.x500-swimcross-exercise-systems table.thespecslist,
.x200-swimcross-exercise-systems table.thespecslist,
.x200-fitness-systems-swim-spa table.thespecslist  {
  width:90%;
  margin:0 auto;
}
.x200-fitness-systems-swim-spa table.thespecslist tbody,
.x2000-swimcross-exercise-systems table.thespecslist tbody,
.e2000-fitness-systems table.thespecslist tbody
.recsport-r120-recreation-systems table.thespecslist tbody
.x200-fitness-systems-swim-spa table.thespecslist tbody
.e-500-fitness-systems table.thespecslist tbody,
.e700-fitness-systems table.thespecslist tbody,
.x500-swimcross-exercise-systems table.thespecslist tbody,
.x200-swimcross-exercise-systems table.thespecslist tbody,
.x200-fitness-systems-swim-spa  table.thespecslist tbody {
  outline: solid 3px #ccc !important;
}
.x200-fitness-systems-swim-spa table.thespecslist tbody tr:nth-child(even),
.e-500-fitness-systems table.thespecslist tr:nth-child(even),
.e700-fitness-systems table.thespecslist tr:nth-child(even),
.x500-swimcross-exercise-systems table.thespecslist tr:nth-child(even),
.x200-swimcross-exercise-systems table.thespecslist tr:nth-child(even),
.x2000-swimcross-exercise-systems table.thespecslist tr:nth-child(even),
.e2000-fitness-systems table.thespecslist tr:nth-child(even),
.x200-fitness-systems-swim-spa table.thespecslist tr:nth-child(even),
.recsport-r120-recreation-systems table.thespecslist tr:nth-child(even) {
    background: #eee !important;
}

// Endless Pools Smaller Titles
.e-500-fitness-systems .summary h1,
.x200-swimcross-exercise-systems .summary h1,
.x500-swimcross-exercise-systems .summary h1,
.e700-fitness-systems .summary h1,
.x200-fitness-systems-swim-spa .summary h1,
.x2000-swimcross-exercise-systems h1,
.e2000-fitness-systems h1,
.recsport-r120-recreation-systems h1
{
  font-size: 2em !important;
}



// RESPONSIVE TABLES



table.stacktable {
  border-collapse: collapse;
  width: 100%;

  th {
    background-color: #ccc;
    font-weight: bold;
    font-family: 'prelobold', arial, sans-serif;
  }
  th,
  td {
    border: 1px solid #ccc;
    line-height: 1.5;
    padding: 0.75em;
    text-align: left;
  }
  @media (min-width:769px) {
    tr:nth-child(even) {
      background: #eee !important;
    }
  }
  /* Stack rows vertically on small screens */
  @media (max-width: 768px) {
    /* Hide column labels */
  	thead tr {
  		position: absolute;
  		top: -9999em;
  		left: -9999em;
  	}
  	tr {
      border: 1px solid #ccc;
      border-bottom: 0;
    }
  	/* Leave a space between table rows */
    tr + tr {
      margin-top: 1.5em;
    }
    /* Get table cells to act like rows */
    tr,
    td {
  		display: block;
  	}
  	td {
  		border: none;
  		border-bottom: 1px solid #ccc;
  	/* Leave a space for data labels */
  		padding-left: 50%;
  	}
    td:first-child {
      background: #eee !important;
    }
  	/* Add data labels */
    td:before {
      content: attr(data-label);
      font-family: 'prelobold', arial, sans-serif;
      display: inline-block;
      font-weight: bold;
      line-height: 1.5;
      margin-left: -100%;
      width: 100%;
    }
  }
  /* Stack labels vertically on smaller screens */
  @media (max-width: 768px) {
    td {
      padding-left: 0.75em;
    }
    td:before {
      display: block;
      margin-bottom: 0.75em;
      margin-left: 0;
    }
  }

}

// ENDLESS POOLS CUSTOM STYLING

body.endless-pools,
body.x500-swimcross-exercise-systems,
body.x200-swimcross-exercise-systems,
body.e700-fitness-systems,
body.e-500-fitness-systems,
body.x2000-swimcross-exercise-systems,
body.e2000-fitness-systems,
body.recsport-r120-recreation-systems,
body.x200-fitness-systems-swim-spa,
body.e550-endless-pools-fitness-systems
 {

  .prod.btns {
    padding: 0 1em;
  }

  .cta-button,
  .woocommerce a.button,
  .woocommerce button.button,
  .woocommerce input.button,
  .product-heading .button.ask-question,
  .tab-links li a,
  a.dwlbrochure.button  {
    background-color: #007297 !important;
  }
  .cta-button:hover,
  .woocommerce a.button:hover,
  .woocommerce button.button:hover,
  .woocommerce input.button:hover,
  .product-heading .button.ask-question:hover,
  a.dwlbrochure.button:hover {
    background-color: #8f8f8f !important;
  }
  .tab-links li.current-tab a {
    background-color: #fff !important;
  }
}
