.slick-track{
    display: inline-block!important;
}
.slick-list{
    text-align: center!important;
}
.product-model-slider .slick-track{
    min-height: auto!important;
}
.product-model-slider .slick-prev, .product-model-slider .slick-next{
    top: 48%!important;
    height: calc( 100% - 10px )!important;
    z-index: 100;
}
ul.slick-dots{
    text-align: center;
//    margin: 0!important;
    margin: 0 0 8px !important;
}
.slick-dots li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
li.slick-active button{
    background-color: $primary;
}
.slick-dots li button{
    text-indent: -999em;
    margin: 0!important;
    padding: 0 10px!important;
}
.product-carousel{
    padding: 40px 0 40px!important;
}
.slick-list{
    height: calc(100% - 5em)!important;
}

.home .slick-list.draggable {
  padding-bottom: 10px;
}

.product-slider-box{
    padding: 0px 1.875em 0px!important;
}
.slick-list .product-slider-box a{
    margin-bottom: 0px!important;
    max-width: 100%!important;
    max-height: 100%!important;
}
.product-model-slider .slick-prev,
.product-model-slider .slick-next{
    background: transparent!important;
}
.product-model-slider .slick-prev::before,
.product-model-slider .slick-next::before {
    color: $primary!important;
    opacity: .75;
}
.slick-list .product-model-slide-title{
    margin-bottom: 0!important;
}
.product-model-slide-title{
    // margin-bottom: 1em!important;
}
.slick-track{
    display: inline-block
}
.slick-list{
    text-align: center;
}
.product-slider-box p{
    color: #333!important;
}
