.hot-tub-benefits {

  @mixin prelo {
    font-family: 'prelo', Helvetica, Roboto, Arial, sans-serif;
  }
  @mixin prelobold {
    font-family: 'prelobold', Helvetica, Roboto, Arial, sans-serif;
  }
  @mixin teal {
    color: #009aa6;
  }

  p {
    // color: #707070;
  }

  a.blue-outline {
    font-size: 18px;
    color: #009aa6 !important;
    font-style: italic;
    text-align: center;
    border: 1px solid #009aa6;
    padding: 15px 35px;
    line-height: 32px;
    &:hover {
      text-decoration: underline;
      color: #009aa6 !important;
    }
    &:after {
      content: url('https://watkinsdealer.s3.amazonaws.com/images/hot-tubs-101/hot-tub-benefits/blue-outline-arrow.png');
      display: inline-block;
      margin-left: 8px;
      vertical-align: middle;
    }
  }

  a.arrow {
    border: 1px solid #fff;
    padding: 15px 35px;
    font-size: 15px;
    color: #fff !important;
    font-style: italic;
    &:hover {
      text-decoration: underline;
      color: #fff !important;
    }
    &:after {
      content: url('https://watkinsdealer.s3.amazonaws.com/images/hot-tubs-101/hot-tub-benefits/blue-outline-arrow.png');
      display: inline-block;
      margin-left: 8px;
      vertical-align: middle;
    }
  }

  .page-50-50-content {
    padding-top:0;
    padding-bottom:0;
    display: none;
  }

  section#learn-section {
    // background: url(/wp-content/uploads/2016/09/discover-the-hotspring-difference.jpg) center center no-repeat;
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Pages/Hot-Tubs-101/Hot-Tub-Benefits/discover-the-hotspring-difference.jpg) center center no-repeat;
    background-size: cover;
    background-position: 50% 20%;
    margin: 2% 20%;
    padding: 0;
    height: 415px;
    @media (max-width:1024px) {
      width: 100%;
      margin: auto;
    }
    .learn-link {
      margin-top: 40px;
      text-align: center;
    }
    h3 {
      @include prelo;
      color: #fff;
    }
    p {
      @media (min-width:1024px) {
        font-size: 18px;
        line-height:24px;
      }
      font-size: 18px;
      line-height: 22px;
      text-transform: none;
    }
    .learn-block-container {
      position: relative;
      height: 415px;
      width: 100%;
      .learn-block {
        width: 100%;
        text-align: center;
        margin: auto;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        position: absolute;
        left: 0;
        right: 0;
        color: #fff;
        p {
          max-width: 700px;
          margin: auto;
        }
      }
    }
  }

  section.benefits-circles {
    padding-top: 2em;
    padding-bottom: 2em;

    h3 {
      font-size: 3em;
      line-height: 48px;
      // font-size: 32px;
      // line-height: 32px;
      text-transform: uppercase;
      color: #009aa6;
      margin-top: 20px;
      margin-bottom: 10px;
      text-align: center;
      @include prelo;
    }
    p {
      @media (min-width:1024px) {
        font-size: 24px;
      }
      color: #585858;
      // line-height: 22px;
      font-size:18px;
      line-height:32px;
      text-transform: none;
      max-width:400px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    p.circles-description {
      margin: 1em auto 4em;
      text-align: center;
    }
  }

  section.benefits-section {
    height: 821px;
    position: relative;
    overflow: hidden;
    padding: 0;

    .benefits-title {
      width: 50%;
      overflow: auto;
      margin: auto;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      left: 0;
      right: 0;
      z-index: 100;
      text-align: center;
      color: #fff;
      text-shadow: 0px 2px 3px #707070;
    }

    p {
      font-size: 14px;
      line-height: 32px;
    }

    h2 {
      color: #fff;
      font-size: 48px;
      @media (min-width:1024px) {
        font-size: 3em;
        line-height: 48px;
      }
      color: #fff;
      text-transform: uppercase;
      text-shadow: 0px 2px 3px #707070;
      @include prelo;
    }

    .benefits-description {
      font-size: 18px;
      line-height: 32px;
      @media (min-width:1024px) {
        font-size:24px;
        line-height:42px;
      }
      padding-top: 5px;
    }


    .benefits-testimonial {
      font-style: italic;
      font-size: 18px;
      @media (min-width:1024px) {
        font-size:24px;
        line-height:32px;
      }
      @include prelobold;
    }
    .benefits-review-author {
      font-size:18px;
    }

    .benefits-home-background {
      // background: url('/wp-content/uploads/2016/09/why-buy-hot-tub-aspot.jpg');
      background: url('https://watkinsdealer.s3.amazonaws.com/Images/Pages/Hot-Tubs-101/Hot-Tub-Benefits/why-buy-hot-tub-aspot.jpg');
      background-size: cover;
      height: 100%;
      background-position: center bottom;
    }
    .benefits-better-life-background {
      // background: url('/wp-content/uploads/2016/09/hot-tub-benefits-better-life.jpg');
      background: url('https://watkinsdealer.s3.amazonaws.com/Images/Pages/Hot-Tubs-101/Hot-Tub-Benefits/hot-tub-benefits-better-life.jpg');
      background-size: cover;
      height: 100%;
      background-position: center bottom;
    }
    .overlay {
      background: rgba(0, 0, 0, 0.50);
    }
  }
  section#benefits-better-life {
    margin-top: -1px;
  }

  .benefits-collage {
    .row {
      max-width: none !important;
    }
    .collage-row-1 {
      height: 777px;
      .collage-column {
        min-height: auto;
        visibility: visible;
        height: 100%;
        margin-top: -1px;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
    }
    h3 {
      font-size: 32px;
      line-height: 32px;
      margin-bottom: .5em;
      @media (min-width:1024px) {
        font-size: 3em;
      }
      text-transform: uppercase;
      margin-top: 0;
      text-align: center;
      @include teal;
      @include prelo;
    }

    .collage-text-block {
      text-align: center;
      font-style: italic;
      padding: 20%;
      visibility: visible;
      @media (min-width:1024px) {
        padding-top: 20%;
      }
    }
    .collage-description {
      font-size: 18px;
      line-height: 32px;
      @media (min-width:1024px) {
        font-size:24px;
      }
      color: #585858;
      padding-top: 5px;
    }

    .collage-testimonial {
      margin-top: 4em;
      color: #585858;
      font-size: 20px;
      line-height:32px;
      text-align: center;

    }

    .collage-author {
      font-size: 14px;
      @media (min-width:1024px) {
        font-size: 18px;
        line-height: 32px;
      }
      margin: 0 40px;
      color: #585858;
      text-align: center;
    }
  }

  .collage-one {
    .collage-column:nth-child(2) {
      background: url('https://watkinsdealer.s3.amazonaws.com/Images/Pages/Hot-Tubs-101/Hot-Tub-Benefits/hot-tub-benefits-collage-1.jpg') 0 0;
    }
  }

  .collage-two {
    .collage-column:nth-child(1) {
      @media (min-width:1024px) {
        float:right;
      }
    }
    .collage-column:nth-child(2) {
      background: url('https://watkinsdealer.s3.amazonaws.com/Images/Pages/Hot-Tubs-101/Hot-Tub-Benefits/hot-tub-benefits-collage-2.jpg') 0 0;
    }
  }

  .collage-three {
    .collage-column:nth-child(2) {
      background: url('https://watkinsdealer.s3.amazonaws.com/Images/Pages/Hot-Tubs-101/Hot-Tub-Benefits/hot-tub-benefits-collage-3.jpg') 0 0;
    }
  }
}
