/* Search feature in header */
.mobile-header-search {
    display: inline-block;
    input {
    background-image: url('../dist/img/search-icon.png');
    background-repeat: no-repeat;
    padding-left: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    margin-left: 2px;
    background-position: 3% 50%;
    }
}
.mobile.nav .cart-search-combo {
    margin-top: 20px;
}
header.desktop.nav{
    display: none;
    background-color:$header-primary-bg;
    background: $header-bg-image;
		background-repeat: $header-bg-image-repeat;
		background-size: $header-bg-image-size;

}
div.mobile.nav .container{
    max-width: 1400px;
    margin: 0 auto;
}
div.mobile.nav header.mobile{
    margin-top: -5px;
    height: 80px;
    background-color: $header-primary-bg !important;
    width: 100%;
    position: relative;
    padding-top: 10px;
    background: $header-bg-image;
		background-repeat: $header-bg-image-repeat;
		background-size: $header-bg-image-size;
}
.right-off-canvas-menu{
    background-color: $header-secondary-bg;
}
a.right-off-canvas-toggle span.sign{
    font-size: 70px;
    margin: 46px 16px 0 0!important;
    padding: 0!important;
    line-height: 0;
    color: $primary-nav-link;
}
div.mobile.nav header h1{
    margin: 15px 0 0 5%!important;
    height: 35px;
    overflow: hidden;
    width:  auto;
    display: inline-block;
    padding: 0!important;
}
div.mobile.nav header h1 a{
    display: block;
    width: auto;
    height: 100%;
    text-indent: -999em;
}
div.mobile.nav header h1 a img{
    height: 100%;
    width: auto;
    margin-top: -1.4em;
    display: block;
}
div.mobile.nav #nav-toggle.active{
    position: relative;
    z-index: 20;
    float: right;
    margin-top: -11px;
}
div.mobile.nav #nav-toggle {
    position: absolute;
    right:5%;
    top: 30px;
    z-index: 11;
    cursor: pointer;
    padding: 11px 31px 15px 0px;
}
div.mobile.nav #nav-toggle span,
div.mobile.nav #nav-toggle span:before,
div.mobile.nav #nav-toggle span:after{
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 30px;
  background: $header-secondary-bg;
  position: absolute;
  display: block;
  content: '';
}
div.mobile.nav #nav-toggle span:before {
  top: -10px;
}
div.mobile.nav #nav-toggle span:after {
  bottom: -10px;
}
div.mobile.nav #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
div.mobile.nav #nav-toggle.active span {
  background-color: transparent;
}
div.mobile.nav #nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
div.mobile.nav #nav-toggle.active span:before {
  transform: rotate(45deg);
}
div.mobile.nav #nav-toggle.active span:after {
  transform: rotate(-45deg);
}
html.active{
    overflow: hidden;
}
div.mobile.nav nav.mobile.nav{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.95);
    z-index: 10;
    overflow: scroll;
    display: none;
}
div.mobile.nav .cart-search-combo{
    /* display: inline-block;
    position: absolute;
    right: calc(5% + 3.5em); */
    text-align: center;
}
div.mobile.nav .the-search-icon{
    height: 30px;
    width: 30px;
    background-image: url(../dist/img/lupa.png);
    background-size: cover;
    display: inline-block;
    text-indent: -999em;
    margin-top: 23px;
    margin-left: 1.5em;
}
div.mobile.nav a.cart{
    height: 32px;
    display: inline-block;
    position: relative;
}
div.mobile.nav a.cart img{
    height: 100%;
    width: auto;
}
div.mobile.nav a.cart .the-cart-quantity{
    position: absolute;
    top: -1px;
    left: 27px;
    line-height: 1px;
    color: white;
    background-color: black;
    border-radius: 50%;
    padding: 5px 3px;
    font-size: 10px;
}
div.mobile.nav .the-navigation{
    width: 100%;
    margin-top: 20px;
}
div.mobile.nav a.the-logo-nav{
    text-align: center;
    width: 100%;
    display: block;
}
div.mobile.nav a.the-logo-nav img{
    height: 35px;
    widows: auto;
    margin-bottom: 1em;
}
div.mobile.nav ul:first-of-type li a:first-of-type{
    border-top: 1px solid rgba(255,255,255,.25);
}
div.mobile.nav ul{
    width: 100%;
    margin: 0;
}
div.mobile.nav ul li{
    list-style: none;
    text-align: center;
}
div.mobile.nav ul li ul li a{
    padding: .5em 1em;
    background-color: rgba(255,255,255,.075);
}
div.mobile.nav ul li a{
    display: inline-block;
    width: 100%;
    padding: 1em 0;
    color: white;
    border-bottom: 1px solid rgba(255,255,255,.25);
}
div.mobile.nav ul li a:hover{
    background-color: rgba(255,255,255,.75);
    color: rgba(0,0,0,.75);
}
@media only screen and (min-width:1024px){
    header div.form-wrapper{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($search-bg, 0.9);
        z-index: 20;
        display: none;
    }
    header div.esc-form{
        width: 100%;
        height: 100%;
        position: absolute;
    }
    header form#fast-search-desktop{
        width: 50%;
        display: block;
        float: right;
        margin-bottom: 0;
    }
    header .popup-search-bar{
        width: 100%;
        padding: 0 1em;
        margin: auto auto;
        background: rgba(255,255,255,1) !important;
        text-align: left !important;
        border: 1px solid white;
        text-align: left;
        color: rgba(0,0,0,.5);
        padding: 1em;
        border-radius: 5px;
        height:30px;
    }
    header .close-search:hover{
        opacity: 1;
    }
    header .close-search{
        background-color: white;
        color: #1e73be;
        border: 1px solid white;
        font-size: 2em;
        position: absolute;
        display: block;
        right: 3em;
        top: 2em;
        padding: 13px 12px;
        line-height: 13px;
        border-radius: 3px;
        opacity: .9;
    }
    header div.goSearch{
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin: auto;
        width: 25%;
        height: 2em;
        background: red none repeat scroll 0% 0%;
        height: 55px;
        border-radius: 5px;
        z-index: 1;
    }
    header div.goSearch input[type="Submit"]{
        position: absolute;
        top: 0px;
        right: -34px;
        display: block;
        height: 100%;
        background-color: black;
        color: white;
        padding: 1.1em 1em;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border: none;
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
    }
}
