.energy-calculator-result{
    display: none;
}
.energy-calculator {
    background-color: #E1523D;
    padding: 40px;
}

.energy-calculator h2 {
    text-align:center;
    color:$white;
    line-height: 1;
    font-size: 2rem;
}

form#energy-calculator-form fieldset {
    border:none !important;
    margin-bottom: 0;
    padding-bottom: 0;
}

form#energy-calculator-form button {
    background-color:$white;
}

form#energy-calculator-form button:hover, button:focus {
    background-color:#a1a1a1;
}

form#energy-calculator-form button span {
    color:#E1523D;
}

form#energy-calculator-form fieldset .form-group .form-control.selectpicker {
    color:#E1523D;
}

.energy-calculator-result {
    border: 1px solid white;
    padding:20px;
    color:$white;
    text-align:center; 
}

.energy-calculator-result h3 {
    color:$white;
    font-size: 16px;
}

.energy-calculator-result span {
    font-size: 72px;
}


/* PRE-DELIVERY INSTRUCTIONS PAGE */

.page-id-1000784 ul {
    list-style-type:none;
}

.page-id-1000784 p {
    margin-bottom: 0;
}

.page-id-1000784 p.small-text {
    font-size:14px;
}