footer.footer4 .gmap {
  min-height: 465px;
  margin-bottom: 0 !important;
}
.facebook-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/facebook-icon.jpg);
}
.youtube-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/youtube-icon.jpg);
}
.yelp-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/yelp-icon.jpg);
}
.houzz-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/houzz-icon.jpg);
}
.insta-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/insta-icon.jpg);
}
.gplus-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/gplus-icon.jpg);
}
.twitter-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/twitter-icon.jpg);
}
.linkedin-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/linkedin-icon.jpg);
}
footer.footer4 .container.jet-system.cat-page {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 1400px !important;
  background: inherit !important;
  border-top: none !important;
  border-bottom: none !important;
}
footer.footer4 .jet-system .ui-tabs-vertical .ui-tabs-nav li {
  background: $footer-primary-bg;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: none;
}

footer.footer4 .jet-system .ui-tabs-vertical .ui-tabs-nav li a:before, .single-product .jet-system .ui-tabs-vertical .ui-tabs-nav li a:before {
  color: $footer_text !important;
}


footer.footer4 .jet-system .ui-tabs-vertical .ui-tabs-panel {
  // padding: 17px 38px 17px 63px;
  color: $footer_text !important;
  width: 100%;
}

footer.footer4 .jet-system .ui-tabs-vertical .ui-tabs-nav li a {
  color: $footer-nav-link !important;
}
footer.footer4 .jet-system .ui-tabs-vertical .ui-tabs-nav li a:before {
    padding-right: 19px;
  }

footer.footer4 .gmap {
  // margin-top:4.5em;
  margin-top: 0 !important;
}

footer.footer4 .row {
  max-width: 100% !important;
}

footer.footer4 li.accordion-navigation {
  width:100%;
}

footer.footer4 .accordion-navigation {
  height:45px;
}

footer.footer4 .accordian-wrapper {
  background-color: $footer-nav-bg;

  h3 {
    font-size: 1.3em;
    color: $footer-link;
    margin-bottom:5px;
  }

}

footer.footer4 nav ul {
  max-width: 1800px !important;
}

footer.footer4 .footer-tabs .ui-accordion-content {
  padding-left:1em;
  max-height: 400px;
}

.footer-tabs {
  margin: 4.5em auto;
}

footer.footer4 .acc-content {
  padding-left: 53px;
  p {
    color: $footer-text;
  }
}

@media screen and (min-width:1024px) {
  footer.footer4 .acc-content {
    padding-left: 15px;
  }
}
