
/*TEMPLATE 50/50 STYLES*/
.page-50-50-header{
    padding-top: 20px;
}
.page-50-50-content{
    padding-bottom: 40px;
}

.top-block-50-50 {
    padding-bottom: 40px;
}

.two-column .slick-slide img {
    display: block;
    margin: 0 auto;
}
.gform_wrapper input[type="text"], .gform_wrapper input[type="password"], .gform_wrapper input[type="date"], .gform_wrapper input[type="datetime"], .gform_wrapper input[type="datetime-local"], .gform_wrapper input[type="month"], .gform_wrapper input[type="week"], .gform_wrapper input[type="email"], .gform_wrapper input[type="number"], .gform_wrapper input[type="search"], .gform_wrapper input[type="tel"], .gform_wrapper input[type="time"], .gform_wrapper input[type="url"], .gform_wrapper input[type="color"], .gform_wrapper textarea{
    color: rgba(0,0,0,.75);
}
.page-template-template-50-50 .page-50-50-content .column,
.page-template-template-50-50 .page-50-50-content .columns{
   /*  padding: 0 2em!important; */
}

//
// // FLOATING COLUMN //
//
// body.page-template-template-form {
//
//   .entry-title {display:none;}
//
//   div.floating_column {
//
//     .page-50-50-content {
//       padding-top: 0;
//     }
//
//     .top-block-50-50 {
//       padding-bottom: 0;
//     }
//
//     .large-6.medium-6.xsmall-12.columns {}
//
//     .large-6.medium-6.xsmall-12.columns:first-child{
//         -webkit-box-shadow: 2px 5px 11px 2px rgba(0,0,0,0.25);
//         -moz-box-shadow: 2px 5px 11px 2px rgba(0,0,0,0.25);
//         box-shadow: 2px 5px 11px 2px rgba(0,0,0,0.25);
//         background: #fff;
//
//         // position: absolute;
//         // top: 20%;
//         // right: 40px;
//         // max-width: 700px;
//       }
//     .page-50-50-content {
//       height: auto;
//       position: relative;
//     }
//
//     @media screen and (max-width:768px){
//       .large-6.medium-6.xsmall-12.columns {
//         float:none;
//         width: auto;
//         margin-left: 1em;
//         margin-right: 1em;
//       }
//       .large-6.medium-6.xsmall-12.columns:first-child {
//         float:none;
//         width: auto;
//         margin-top: -20%;
//         margin-left: 1em;
//         margin-right: 1em;
//     }
//   }
//
//     @media screen and (min-width:768px) {
//
//       .two-column {
//         padding: 0 2em;
//       }
//
//       .large-6.medium-6.xsmall-12.columns {
//         float: right;
//       }
//       .large-6.medium-6.xsmall-12.columns:first-child {
//         margin-top: -30%;
//         float: right;
//       }
//     }
//   }
// }





// FLOATING COLUMN //

body.page-template-template-form {

  .entry-title {display:none;}

  div.floating_column {

    position: relative;

    section.static-aspot {
      left: 0px;
      z-index: -1;
      top: 0px;
      right: 0px;
      object-fit: cover;
      height: 400px;
      position: absolute;
    }
    .page-50-50-content {
      padding-top: 0;
      width:100%;
    }
    .top-block-50-50 {
      padding-bottom: 0;
    }
    .large-6.medium-6.xsmall-12.columns:first-child{
        -webkit-box-shadow: 2px 5px 11px 2px rgba(0,0,0,0.25);
        -moz-box-shadow: 2px 5px 11px 2px rgba(0,0,0,0.25);
        box-shadow: 2px 5px 11px 2px rgba(0,0,0,0.25);
        background: rgba(255,255,255,0.95);
        position: absolute;
      }
      .right-block-50-50,
      .left-block-50-50 {
        padding-top:40px;
      }

    @media screen and (max-width:768px){
      .large-6.medium-6.xsmall-12.columns {
        // float:none;
        width: auto;
        margin-left: 1em;
        margin-right: 1em;
        float:left;
      }
      .large-6.medium-6.xsmall-12.columns:first-child {
        // float:none;
        width: auto;
        margin-top: -20%;
        margin-left: 1em;
        margin-right: 1em;
        position: relative;
    }

  }

    @media screen and (min-width:768px) {

      div.aspot-creator {
        position:absolute;
        img {
          width: 100%;
          height: 400px;
          object-fit: cover;
        }
      }

      .two-column {
        padding: 0 2em;
      }

      .large-6.medium-6.xsmall-12.columns {
        // float: right;
      }
      .large-6.medium-6.xsmall-12.columns:first-child {
        // margin-top: -30%;
        // float: right;
        position: absolute;
        top: 40px;
        right: 20px;

      }
      .large-6.medium-6.xsmall-12.columns:last-child {
        padding-right: 2em !important;
      }
      .page-50-50-content {
        // height: auto;
        position: relative;

      }
    }
  }
}
