/* jet systems */
/* NOTE: Page template overrides not in this file */
.jet-system{
  background-color: $white;
  padding: 80px 0 80px;
}
.jet-system .row{
  max-width: 1250px;
}
.jet-system .title,
.jet-system .title + .description{
  text-align: center;
}
.jet-system .title{
  /*font-size: 45px;*/
  font-weight: bold;
  /*text-transform: uppercase;*/
}
.jet-system .title + .description{
  text-align: center;

  margin: 0 auto;
  color: $black;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 50px;
}
.jet-system ul{
  list-style: none;
}
.jet-system li{
  border: 1px solid $white;
}
.jet-system .ui-tabs-vertical {
  width: 100%;
}
.jet-system .ui-tabs-vertical .ui-tabs-nav {
  float: left;
  width: 100%;
}
.jet-system .ui-tabs-vertical .ui-tabs-nav li {
  clear: left;
  width: 100%;
}
.jet-system .ui-tabs-vertical .ui-tabs-nav li:first-child{
  border-top: none;
}
.jet-system .ui-tabs-vertical .ui-tabs-nav li a{
  display:block;
  // color: $light;
  color: #333 !important;
  font-size: 20px;
  text-transform: uppercase;
  padding: 4px 14px;
  position: relative;
}
.jet-system .ui-tabs-vertical .ui-tabs-nav li a:before{
  content: '\f054';
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 20px;
  color: $white;
  position: relative;
}
.jet-system .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
  padding-bottom: 0;
  padding-right: 0;
  border-right-width: 0;
}
.jet-system .ui-tabs-vertical .ui-tabs-nav li.ui-state-active a{
  /*background-color: #1d1d1d;*/
}
.jet-system .ui-tabs-vertical .ui-tabs-nav li.ui-state-active a:before{
  content: '\f078';
}
.jet-system .ui-tabs-vertical .ui-tabs-panel {
  padding: 17px 38px;
  float: right;
  width: 24.9em;
  /*background-color: #1d1d1d;*/
  color: $white;
}
.jet-system .ui-tabs-vertical .ui-tabs-panel video{
  margin-bottom: .9rem;
}
.jet-system .ui-tabs-vertical .ui-tabs-panel .description{
  font-size: 17px;
  letter-spacing: .02em;
  line-height: 28px;
  margin-bottom: 0;
}
.jet-system .ui-tabs-vertical .ui-tabs-nav li.ui-state-active a:before {
    padding-right: 19px;
    padding-left: 0px;
}

/* Interactive Image (+) Signs */

.plus-container{
  display: block;
margin: 0 auto;
    max-height: 500px;
    max-width: 80%;
    position: relative;
}
.plus-container .plus-icon{
  background-image: url('../img/reg-plus.png');
  background-size: cover;
  background-repeat: no-repeat;
  /*background-position: 0 -34px;*/
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
    opacity: 0.7;
}.plus-icon{
  background-image: url('../img/reg-plus.png');
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: 0 -34px;*/
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
    opacity: 0.7;
}

.plus-container .plus-icon:hover{
    opacity: 1;
}
.plus-container .plus-icon.selected{
  background-image: url('../img/selected-plus.png');
  background-repeat: no-repeat;
  background-size: cover;
    opacity: 1;
}




/*JET SYSTEM extras */
.acc-content p:last-child {
  padding-top: 5px;
}
.acc-content iframe { width: 100% important; }

/***********************************************************************/
/************************* RESPONSIVE STYLES ***************************/
/***********************************************************************/

@media screen and (max-width:1120px) {
   .jet-system .ui-tabs-vertical .ui-tabs-nav li a { font-size: 17px }
}


@media screen and (max-width:480px) {
    .plus-container .plus-icon {
        width: 15px;
        height: 15px;
    }
}
