// BIOGUARD COLLECTIONS PAGE

body.bioguard .row {
    max-width: 1400px !important;
}

//Hot spring spas water care page
.page-id-1012696 {
    .description-box a {
        color: #ffff00 !important;

        &:hover {
            color: #ccc !important;
        }

    }

}

/* collections template */
.title-bar {
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
}

.prod-description {
    margin: 0 auto;
}

.breadcrumbs {
    margin-left: 0.8em;
    margin-bottom: 8px;
}

.anchor-wrap {
    float: right;
    margin-right: 15px;
    display: inline-block;
    padding-bottom: 13px;
    //    padding-top: 12px;
    margin-top: -12px;
}

.anchor-button {
    float: right;
    padding: 5px 10px;
    background-color: $primary;
    margin-left: 20px;
    border-radius: 5px;
    color: $white;
    transition: all .3s ease-in-out;
    font-size: .9em;
}

.anchor-button:hover {
    cursor: pointer;
}

a.aspottext {
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    background-color: $primary !important;
    color: $white !important;
    font-weight: bold;
}

a.aspottext:hover {
    background-color: $secondary !important;
}

.page-template-template-collections .anchor-links-bar {
}

.page-template-template-collections .anchor-links-bar a {
    color: $medium-light;
}

.caldera-spas .anchor-button {
    background-color: $caldera;
    color: $white;
}

.caldera-spas .anchor-button:hover {
    color: $dark;
}

.collections-page-title {
    text-align: left !important;
    padding-bottom: 10px;
    border-bottom: 1px solid $medium-light;    /*text-transform: uppercase;*/
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.title-bar .collections-page-title {
    margin: 0;
    border: none;
    float: none;
    padding-bottom: 0;
    line-height: 1;
    margin: 0 auto 0.5em;
}

.page-template-template-collections .main.large-12 {
    padding-left: 0;
    padding-right: 0;
}

/* Product Views */
.collection-wrapper {
    padding: 20px 0 40px;
    background-color: $white;
    position: relative;    /*z-index: 9;*/
}

.collection-box {
    padding-left: .8em !important;
    padding-right: .8em !important;
}

.image-title-box {
    background-position: 0 -50px !important;
    background-repeat: no-repeat !important;
    position: relative;   /*  border: 1px solid $medium-light; */

    /*border-bottom: none;*/
    text-align: center;   /*  padding: 0px 1.875em 0px !important; */
}

.image-title-box img {
    width: 100%;
}

.image-title-box h2.title {
    color: $white;
    text-align: center;
    text-shadow: 1px 1px 3px black;
    margin: 0;
    padding: 10px;
    font-size: 2.2rem;
    position: absolute;
    width: 100%;
    top: 0;
}

.image-title-box h3.title {
    color: $white;
    text-align: center;
    text-shadow: 1px 1px 3px black;
    margin: 0;
    padding: 10px;    /*font-size: 2.2rem;*/
    position: absolute;
    width: 100%;
    top: 0;
    // background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6) 30%, transparent 100%);
    // background: -moz-linear-gradient(rgba(0, 0, 0, 0.6) 30%, transparent 100%);
    // background: -o-linear-gradient(rgba(0, 0, 0, 0.6) 30%, transparent 100%);
    // background: linear-gradient(rgba(0, 0, 0, 0.6) 30%, transparent 100%);
}

.collection-box.two-col,
.image-title-box.two-col {
    //    height: 300px;
    overflow: hidden;
}

.description-box {
    background-color: $secondary;
    color: $white;
    padding: 10px 25px;
    text-align: center;
    border: 1px solid $secondary;
    border-top: none;
}

.hot-spring .description-box {
    background: $hotspring;
    border: 1px solid $medium-light;
    border-top: none;
}

.hot-spring .main.large-12.xsmall-12.columns {
    padding-left: 0em !important;
    padding-right: 0em !important;
}

.caldera-spas .description-box {
    background: $caldera;
    border: 1px solid $medium-light;
    border-top: none;
}

ul.model-list {
    margin: 0;
    padding: 5px;
    text-align: center;
    list-style: none;
    background-color: $primary;
    border-radius: 0 0 5px 5px;
    position: relative;
    z-index: 2;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

ul.model-list li a:after {
    color: $white;
    content: 'View Models';
}

ul.model-list li.ui-state-active a:after {
    color: $white;
    content: 'Hide Models';
}

ul.model-list li a:before {
    content: '\f054';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-right: 10px;
    color: $white;
}

ul.model-list li.ui-state-active a:before {
    content: '\f078';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-right: 10px;
}

.collection-model {
    background-color: $primary;
    margin-top: 0px;    /*position: relative;*/
    padding: 10px 0;
    text-align: center;
    color: $white;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.collection-model:hover {
    background-color: $secondary;
    border-top: 1px solid $white;
}

.collection-wrapper .tab-content > a:first-child .collection-model {
    margin-top: -4px;
    padding-top: 14px;
    border-top: 5px solid $primary;
}

.collection-wrapper .tab-content > a:first-child .collection-model:hover {
    border-top: 5px solid $white;
}

.collection-wrapper .tab-content > a:last-child .collection-model {
    border-radius: 0 0 5px 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.collection-model p {
    margin: 0;
}

/* product slider */
.product-carousel [class*="column"] + [class*="column"]:last-child {
    float: left !important;
}

.product-carousel {
    padding: 40px 0;
}

.product-carousel h2.title {
    margin-bottom: 40px;
    text-align: center;
}

.product-model-section {

    /*max-width: 80%; */
    margin: 0 auto;
}

.product-carousel hr {
    margin: 40px 0;
}

.product-slider-box a.collection-link:hover {
    color: $primary;
}

.product-slider-box {
    display: inline-block;
    padding: 0px 1.875em 40px;
    margin-bottom: 2em;
}

.non-hot-tub .product-slider-box {
    padding: 0px 1.875em 60px;
}

.product-slider-box a img {
    padding: 5px;
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 10px;
}

.non-hot-tub .product-slider-box {
    vertical-align: top;
}

.non-hot-tub .product-slider-box a.prod-img-wrap {
    display: block;
    //    max-height: 400px;
    max-height: 100%;
    display: block;   /*  border: 1px solid $medium-light; */
    overflow: hidden;
}

.non-hot-tub .product-slider-box a img {
    padding: 0;
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 0px;
}

.non-hot-tub .product-slider-box p.product-model-slide-title {
    padding-top: 10px;
}

.product-slider-box p {
    margin: 0;
    text-align: center;
    font-size: 16px;
}

p.product-capacity {
    text-transform: capitalize;
}

.product-slider-box p.product-model-slide-title {
    font-weight: bold;
    font-size: 15px;
}

.page-template-template-collections .product-slider-box p.product-model-slide-title {
    font-size: 22px;
    text-transform: capitalize;
}

.product-model-slider .slick-slide img {
    padding: 5px;
}

.product-model-slider .slick-center img {
    transform: scale(1.3);
    -webkit-transition: -webkit-transform 0.5s ease-in; /* Changed here */
    -moz-transition: -moz-transform 0.5s ease-in;
    -o-transition: -o-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    margin-top: 20px;
}

.product-model-slider .slick-track {
    min-height: 300px;
}

.product-model-slider .slick-prev,
.product-model-slider .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 26%;
    display: block;    /*width: 20px;
    height: 20px; */
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 10% !important;
    padding: 10px;    /*TESTING OVERRIDES*/
    top: 50%;
    transform: translateY(-50%);
    min-height: 300px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0 !important;
}

/*TESTING*/
.product-model-slider .slick-prev {
    left: 0 !important;
}

/*TESTING*/
.product-model-slider .slick-next {
    right: 0 !important;
}

.product-model-slider .slick-prev:before,
.product-model-slider .slick-next:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 30px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.product-model-slider .slick-prev:before {
    content: '\f053';
}

.product-model-slider .slick-prev {
    left: -60px;
}

.product-model-slider .slick-next:before {
    content: '\f054';
}

.product-model-slider .slick-next {
    right: -60px;
}

/* Collection Search Bar */
.search-bar {
    padding: 0 1.875em;
    text-align: center;
    height: 60px;
    background: $medium-light;
    border-radius: 5px;
}

.search-bar p.form-head {
    display: inline-block;
    vertical-align: top;
    line-height: 60px;
    width: 60px;
    margin: 0;
    font-size: 26px;
    font-weight: bold;
}

.search-bar form.tub-form {
    width: 90%;
    display: inline-block;
    margin: 0 auto !important;
    height: 40px;
    transition: all .5s ease-in-out;
    padding: 10px 0;
}

.search-bar form.tub-form input.filter-text {
    outline: none;
    height: inherit;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0 10px 0 0 !important;
    display: block;
    width: 250px;
    line-height: normal;
    vertical-align: top;
    float: left;
    width: calc(33% - 87px);
    min-width: 200px;
}

.search-bar form.tub-form select.size-select {
    outline: none;
    height: inherit;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0 10px 0 0 !important;
    display: block;
    width: calc(33% - 87px);
    min-width: 115px;
    line-height: normal;
    vertical-align: top;
    float: left;
    font-family: prelolight, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.175rem;
}

.search-bar form.tub-form select.brand-select {
    outline: none;
    height: inherit;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0 10px 0 0 !important;
    display: block;    /*width: calc(100% - 110px);*/
    width: calc(33% - 87px);
    line-height: normal;
    vertical-align: top;
    float: left;
    font-family: prelolight, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.175rem;
    min-width: 180px;
}

.search-bar form.tub-form input.filter-submit {
    width: 100px;
    display: block;
    margin-left: -3px;
    border: none !important;
    outline: none;
    height: inherit;
    box-sizing: border-box;
    padding: 0;
    margin: 0 10px 0 0 !important;
    line-height: 40px;
    vertical-align: top;
    background: $dark;
    color: $white;
    float: left;
}

.search-bar form.tub-form a.filter-reset {
    width: 100px;
    display: block;
    margin-left: -3px;
    border: none !important;
    outline: none;
    height: inherit;
    box-sizing: border-box;
    padding: 0;
    margin: 0 !important;
    line-height: 40px;
    vertical-align: top;
    background: #333;
    color: #fff;
    float: left;
}

body.page.page-template-template-collections .collection-video-reviews {
    margin-left: -1em;
    width: calc(100% + 2em);
}

@media screen and (max-width:1400px) {
    .search-bar {
        border-radius: 0;
    }

}

@media screen and (max-width:1024px) {
    .search-bar {
        height: auto;
        width: auto;
    }

    .search-bar form.tub-form {
        width: auto;
    }

    .search-bar p.form-head {
        line-height: 40px;
        width: 100%;
    }

    .search-bar form.tub-form {
        padding: 0;
    }

    .search-bar form.tub-form input.filter-text {
        min-width: 100px;
        width: auto;
        padding: 0 0 0 5px;
    }

    .search-bar form.tub-form select.brand-select {
        width: auto;
        padding: 0 0 0 5px;
    }

    .search-bar form.tub-form select.size-select {
        width: auto;
        padding: 0 0 0 5px;
    }

    .search-bar form.tub-form a.filter-reset {
        width: 75px;
    }

}

@media screen and (max-width:820px) {
    .search-bar {
        padding: 0 1.2em;
    }

    .search-bar form.tub-form {
        height: auto;
        font-size: 20px;
    }

    .search-bar form.tub-form input.filter-text {
        width: calc(33.33% - 4px);
        margin: 0 !important;
        min-width: 1px;
        line-height: 2;
    }

    .search-bar form.tub-form select.brand-select {
        width: calc(33.33% - 4px);
        margin-right: 6px !important;
        min-width: 1px;
        line-height: 2;
    }

    .search-bar form.tub-form select.size-select {
        width: calc(33.33% - 4px);
        margin-right: 6px !important;
        min-width: 1px;
        line-height: 2;
    }

    .search-bar form.tub-form input.filter-submit {
        width: calc(50% - 5px);
        margin-top: 10px !important;
        line-height: 2;
    }

    .search-bar form.tub-form a.filter-reset {
        width: calc(50% - 5px);
        margin-top: 10px !important;
        line-height: 2;
    }

}

@media screen and (max-width:640px) {
    .collection-box {
        padding-bottom: 0px;
    }

    .collection-box.two-col {
        padding-bottom: 0px;
    }

    .collection-box.two-col,
    .image-title-box.two-col {
        height: auto;
    }

}

@media screen and (max-width:500px) {
    .search-bar form.tub-form input.filter-text {
        font-size: 14px;
    }

    .search-bar form.tub-form select.brand-select {
        font-size: 14px;
    }

    .search-bar form.tub-form select.size-select {
        font-size: 14px;
    }

    .search-bar form.tub-form input.filter-submit {
        font-size: 14px;
    }

    .search-bar form.tub-form a.filter-reset {
        font-size: 14px;
    }

}

.collection-reviews,
.collection-gallery {
    margin: 0 auto;
    background-color: $light;
    border-top: 1px solid $light-border;
    border-bottom: 1px solid $light-border;
}

.collection-gallery {
    text-align: center;
    padding: 40px 0;
}

.collection-gallery h2 {
    margin: 0 0 40px 0;
}

.collection-gallery img {
    margin: 0 auto;
}

.collection-gallery p {
    text-align: center;
}

.collection-gallery p > iframe {
    height: 450px !important;
    width: 100% !important;
}

.page-template-template-collections .collection-wrapper .columns:last-child {
    float: left !important;
}

/*.collection-wrapper {
padding: 40px 0 20px;
}*/
.collection-box {
    margin-bottom: 40px;
    display: inline-block;
    vertical-align: top;
}

.collection-extra {
    display: none;
}

hr.collection-hrule {
    border: none;
    border-bottom: 1px solid #ccc;
}

.collection-video-reviews {
    margin: 0 auto;
    padding: 40px 0;
    background: url('//watkinsdealer.s3.amazonaws.com/images/sitewide/bgpattern10.png');
    background-color: $dark;
}

.collection-video-reviews h2.title {
    color: $white;
}

.collection-video-reviews .quote-section {
    background: transparent;
    padding: 0;
}

.collection-video-reviews .quote-section blockquote p {
    font-size: 18px;
    font-weight: normal;
    font-style: normal !important;
    font-family: 'prelolight', Helvetica, Roboto, Arial, sans-serif;
}

.collection-video-reviews .video-section iframe {

    /*width: 640px;
    position: relative;
    left: -76px;*/
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.collection-video-reviews .video-section .slick-slide p {

    /*max-width: 486px;
    overflow: hidden;
    margin: 0 auto; */
}

.collection-video-reviews .quote-section blockquote,
.collection-video-reviews .quote-section p.quote-author {
    color: $light;
}

.caldera-spas .collection-video-reviews {
    background-color: $caldera-light;
}

.caldera-spas .collection-video-reviews blockquote p,
.caldera-spas .collection-video-reviews p.quote-author,
.caldera-spas .collection-video-reviews h2.title {
    color: $white;
}

@media only screen {
    .collection-extra {
        display: none;
    }

}

@media only screen and (min-width:25em) and (max-width:64em) {
    .collection-extra {
        display: inline-block;
    }

}

/***********************************************************************/

/************************* RESPONSIVE STYLES ***************************/

/***********************************************************************/
@media screen and (max-width:1024px) {
    .collection-box {
        padding-bottom: 40px;
    }

    .product-reviews {
        padding-top: 20px;
        border-top: 1px solid #666;
    }

    .anchor-wrap {
        padding-top: 0;
        padding-bottom: 20px;
    }

    .breadcrumbs {
        margin-left: 2.6em;
    }

}

@media screen and (max-width:640px) {
    .collection-video-reviews h2.title {
        margin-bottom: 20px;
    }

    .anchor-links-wrapper a.anchor-link-top {
        display: none;
    }

}

@media screen and (max-width:530px) {
    .page-template-template-collections .breadcrumbs {
        display: none;
    }

    .anchor-wrap {
        margin: 0;
        width: 100%;
        float: none;
        padding: 20px 0 0 0;
    }

    .anchor-button {
        width: 90%;
        padding: 5px 20px 5px 20px;
        text-align: center;
        margin: 2px auto;
        float: none;
    }

    .title-bar {
        border: none;
        margin-bottom: 20px;
    }

    .anchor-button:before {
        padding-right: 0px;
        float: left;
        color: #ccc;
        content: '\25BC';
        font-size: 12px;
    }

    .collection-top-content {
        padding: 0 .8em;
    }

    .search-bar form.tub-form select.brand-select {
        width: 100%;
        margin-right: 0 !important;
        margin-bottom: 5px !important;
    }

    .search-bar form.tub-form select.size-select {
        width: 100%;
        margin-right: 0 !important;
        margin-bottom: 5px !important;
    }

    .search-bar form.tub-form input.filter-text {
        width: 60%;
    }

    .search-bar form.tub-form input.filter-submit {
        width: calc(40% - 11px);
        margin-top: 0 !important;
        margin-left: 10px !important;
        margin-right: 0 !important;
        height: 42px;
    }

    .search-bar form.tub-form a.filter-reset {
        padding: 0;
        background: none;
        color: $dark;
        text-align: center;
        width: 100%;
        line-height: 1;
    }

    .category-contact h2 {
        padding: 0 .8em;
    }

}

@media screen and (max-width:500px) {
    .search-bar form.tub-form input.filter-submit {
        height: 32px;
    }

}

@media screen and (max-width:400px) {
    .collection-video-reviews .video-section iframe {
        height: auto;
    }

    .product-slider-box {
        padding: 0px 0px 20px;
    }

    .product-slider-box p.extra-details {
        display: none;
    }

    .page-template-template-collections .product-slider-box p.product-model-slide-title {
        font-size: 20px;
    }

    .non-hot-tub .product-slider-box {
        padding: 0 10px 10px;
    }

}

.page-template-template-collections select {
    font-weight: bold;

    @media (max-width:530px) {
        min-height: 32px;
    }

    @media (max-width:820px) {
        min-height: 40px;
    }

}

// updated by todd after new ajax filter
.product-model-selection {
    display: flex !important;
    flex-wrap: wrap !important;
    width: 100% !important;
}

.page-template-template-watkins-collections .facetwp-search {
    height: 40px !important;
    width: 100%;
    margin: 0.5rem 0;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}

.page-template-template-watkins-collections .btn--reset {
    font-family: 'prelolight';
}

.page-template-template-watkins-collections .facetwp-facet {
    margin-bottom: initial !important;
    margin-top: 5px;
    // max-width: 500px;
    margin: 0 auto;
}

.page-template-template-watkins-collections input.facetwp-search::placeholder {
    color: #333333;
}

.page-template-template-watkins-collections .product-model-section .facetwp-template {
    display: flex !important;
    flex-wrap: wrap !important;
    width: 100% !important;
    margin-top: 50px;
}

.page-template-template-watkins-collections .search-bar button {
    height: 40px;
    background: #333;
    color: #007bf7 !important;
    margin: 0.5rem 0 !important;
    padding: 10px 30px;
}

.page-template-template-watkins-collections .search-container .search-bar .filter-col.columns--reset {
    padding: 0;
}

@media screen and (max-width: 1127px) {
    .page-template-template-watkins-collections .search-container .search-bar .filter-col.columns--reset {
        padding-left: 1em !important;
        padding-right: 1em !important;
    }

    .page-template-template-watkins-collections .facetwp-btn {
        margin-right: 0 !important;
    }

    .page-template-template-watkins-collections .btn--reset {
        width: 100%;
    }
}

.page-template-template-collections .facetwp-search,
.page-template-template-watkins-collections .facetwp-search,
.page-template-template-collections .facetwp-dropdown,
.page-template-template-watkins-collections .facetwp-dropdown {
    padding-left: 20px;
    // max-width: 500px;
    font-family: 'prelolight';
}

.page-template-template-watkins-collections .facetwp-search-wrap {
    display: flex;
    flex-direction: row-reverse;
    height: 50px;
}

.page-template-template-watkins-collections .facetwp-btn {
    top: 0;
    right: 0;
    height: 40px;
    line-height: 1;
    position: initial;
    cursor: pointer;
    opacity: 0.5;
    background-color: #333;
    padding: 10px 30px;
    margin: 0.5rem 0.625rem;
    opacity: 1;
    display: flex;
    align-items: center;
}

.page-template-template-watkins-collections  .facetwp-btn:before {
    background: none;
    width: initial;
    height: initial;
    content: 'Search';
    font-style: initial;
    color: #ffffff;
}

.page-template-template-collections .search-bar,
.page-template-template-watkins-collections .search-bar {
    min-height: 60px;
    height: initial;
    padding-top: 1em;
    padding-bottom: 1em;
    color: rgba(0, 0, 0, 0.75) !important;
}

@media (max-width:1025px) {
    .page-template-template-collections .search-bar,
    .page-template-template-watkins-collections .search-bar {
        padding-bottom: 1.5em;
    }

}

@media (max-width:1024) {
    .page-template-template-watkins-collections .btn--reset {
        margin-top: 10px !important;
    }

}

@media (min-width:642px) {
    .page-template-template-collections .facetwp-search,
    .page-template-template-watkins-collections .facetwp-search,
    .page-template-template-collections .facetwp-dropdown,
    .page-template-template-watkins-collections .facetwp-dropdown {
        font-size: 18px;
        // font-weight: bold;
    }

}

/* =========================================================================

Endless Quiz Block

========================================================================== */
.endless-quiz-inner {
    background: url('https://watkinsdealer.s3-us-west-2.amazonaws.com/Hot+Tub+Images/Endless+Pools/quiz-image.jpg');
    padding: 300px 0px;
    height: 100%;
    background-position: center center;
}

#endless-quiz {
    display: flex;
    flex-wrap: wrap;
}

.endless-quiz-right {
    background-color: #006086;
}

.endless-quiz-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.endless-quiz-right__in {
    text-align: center;
    padding: 20px;
}

.quiz-endless h3,
.quiz-endless label {
    color: #ffffff;
}

.quiz-endless label {
    font-size: 23px;
    padding: 10px 60px;
}

.recsport-recreation-systems .hottubGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.quiz-endless .gfield_radio {
    max-width: 400px;
    margin: 0 auto;
}

.quiz-endless  .ginput_container.ginput_container_checkbox {
    display: flex;
    justify-content: center;
}

.gfield_checkbox li {
    border: 2px solid #ffffff;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
    position: relative;
}

.gfield_checkbox input {
    position: absolute;
    left: 10px;
}

.gfield_checkbox label {
    text-align: center;
    width: 100%;
}

.check-active {
    background-color: #ffffff;
}

.check-active label {
    color: #000000;
}
