// Hiding Aspot Titles for Ace Pages

// ACE SALTWATER PRODUCT PAGE

body.ace-salt-water-sanitizing-system {
  a.button.ask-question {
    max-width: 400px;
    width: auto;
    display: inline-block !important;
    float: left;
    width: 100%;
    @media (max-width:420px) {
      font-size: 13px;
    }
  }
  div.prod.btns {
    width: 100%;
    float: left;
    margin: 0.25em;
  }
}

// END PRODUCT PAGE

body.ace-salt-water-system,
body.ace-caring-spa-water,
body.ace-how-it-works,
body.ace-salt-water-system-faq,
body.ace-how-to-videos {
  .hide-on-desktop {
    display: none;
  }
}


a.button-arrow {
  font-size: 24px;
  font-style: italic;
  color: #fff !important;
  background-color: #00609c;
  text-decoration: none;
  padding: 15px;
  &:after {
    content: url(https://watkinsdealer.s3.amazonaws.com/images/products/water-care-ace/ace_arrow_right.png);
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    height: 45px;
  }
}

a.view-videos {
  background: #0C619A;
  color: #fff !important;
  padding: 15px 20px;
  font-size: 26px;
  padding-right: 70px;
  background: #0C619A url(https://watkinsdealer.s3.amazonaws.com/images/products/water-care-ace/ace_arrow_right.png) no-repeat 95% 50%
}

.ace-gradient-bg {
  background: -moz-linear-gradient(top,rgba(180,222,248,1) 0%,rgba(180,222,248,0) 100%);
  background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(180,222,248,1),color-stop(100%,rgba(180,222,248,0))));
  background: -o-linear-gradient(top,rgba(180,222,248,1) 0%,rgba(180,222,248,0) 100%);
  background: -ms-linear-gradient(top,rgba(180,222,248,1) 0%,rgba(180,222,248,0) 100%);
  background: linear-gradient(to bottom,rgba(180,222,248,1) 0%,rgba(180,222,248,0) 100%);
}

.diamond {
    width: 78px;
    height: 60px;
    margin: 30px auto;
    background: url(https://watkinsdealer.s3.amazonaws.com/images/products/water-care-ace/diamond.png) center center no-repeat;
    background-size: contain;
}


body.ace-caring-spa-water {
 #section-intro {
   text-align: center;
 }
 .write-review-wrapper {
    text-align: center;
    margin-top: 1.5em;
 }
  .form-block {
   background: #dcf0fc url(https://watkinsdealer.s3.amazonaws.com/images/products/water-care-ace/ACE-Logo.png) no-repeat 95% 10%;
    padding: 0 3em 5em;
    // margin: 5% 5% 40px;
    box-shadow: 0 10px 10px -5px #ccc;
    .gorm_body {
      ul {
        padding: 0;
        margin: 0;
        margin-bottom: 0 !important;
      }
    }
    input.gform_button {
      padding: 0;
      margin:0;
      float:right;
      background: #0C619A;
      font-family: 'PT Sans',sans-serif;
      width: auto;
      float: right;
      padding: 10px 20px;
      font-size: 20px;
      margin-top: 0;
      border-radius: 0;
      font-style: italic;
    }
    h3 {
      color: #707070;
      font-size: 38px;
      font-style: italic;
      margin-top: 60px !important;
      display: inline-block;
      @media (max-width:540px) {
        margin-top: 126px !important;
      }
    }
  }
}



body.ace-salt-water-system {

  #section-intro {
    h2 {
      font-size: 46px;
      font-weight: 600;
      color: #04588c;
      margin-bottom: 0;
      line-height: 1.42857;
      text-transform: none;
    }
    .moto {
      font-size: 38px;
      font-style: italic;
      font-weight: normal;
      color: #626262;
      line-height: 1;
    }
    .review {
      font-size: 36px;
      font-style: italic;
      font-weight: normal;
      color: #006395;
      text-align: center;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      max-width: 750px;
      line-height: 1.5
    }
    .author {
      font-size: 26px;
      font-weight: normal;
      display:block;
      margin-top: 10px;
    }
    .diamond {
      background: url('https://s3.amazonaws.com/wp-agilitysquared/myproductdata/wp-content/uploads/2016/09/ace_diamond.png');
      width: 78px;
      height: 60px;
      margin-top: 24px;
      margin-right: auto;
      margin-bottom: 36px;
      margin-left: auto;
      background-size: contain;
    }
  }

  #section-description {
    .container {
      max-width: 1400px !important;
    }
    .about {
      text-align: left;
      font-size: 22px;
      font-weight: normal;
      line-height: 2;
    }
    .caption p {
      font-size: 22px;
      text-align: center;
      margin-top: 20px;
      line-height: 2;
      @media (max-width:641px) {
        text-align: left;
      }
    }
    img.ace-logo {
      margin-bottom: 40px;
    }
    .video {
      @media (min-width: 641px) {
        position:relative;
      	padding-bottom:56.25%;
      	padding-top:30px;
      	height:0;
      	overflow:hidden;
      }

      iframe {
        @media (min-width: 641px) {
          position:absolute;
        	top:0;
        	left:0;
        	width:100%;
        	height:100%;
        }
      }
    }
  }
}

.ace-saltwater-block {
  padding: 60px 0;
  background: -moz-linear-gradient(top,rgba(180,222,248,1) 0%,rgba(180,222,248,0) 100%);
  background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(180,222,248,1),color-stop(100%,rgba(180,222,248,0))));
  background: -o-linear-gradient(top,rgba(180,222,248,1) 0%,rgba(180,222,248,0) 100%);
  background: -ms-linear-gradient(top,rgba(180,222,248,1) 0%,rgba(180,222,248,0) 100%);
  background: linear-gradient(to bottom,rgba(180,222,248,1) 0%,rgba(180,222,248,0) 100%);
  .container {
    max-width: 1400px !important;
  }
  h4 {
    font-size: 39px;
    font-weight: normal;
    color: #006395;
    margin-bottom: 0;
    line-height: 1.42857;

    @media (max-width:640) {
      text-align: center;
    }
  }
  p {
    color: #666768;
    font-size: 20px;
    line-height: 2;
  }
  .summary {
    font-style: italic;
    font-weight: normal;
    font-size: 22px;
  }
}

.ace-saltwater-block.more-natural {

  .container {
    padding-left: 205px;
    // padding-right: 100px;
    padding-right:2em;
    background: url(https://watkinsdealer.s3.amazonaws.com/images/products/water-care-ace/ace_leaf.png) 0 center no-repeat;
    background-size: 180px auto;

    @media (max-width:640px) {
      background-position: 50% 0;
      padding-left: 2em;
      padding-top:20em;
    }
  }
  .content-container {
    // width: 83.3333333%;
    // margin: auto;
    padding: 2em 0;
  }


}

.ace-saltwater-block.simple-care {

  .container {
    background: url(https://watkinsdealer.s3.amazonaws.com/images/products/water-care-ace/ace_clock.png) 100% center no-repeat;
    background-size: 180px auto;
    padding-right: 205px;
    padding-left: 2em;
    @media (max-width:640px) {
      background-position: 50% 0;
      padding-right: 2em;
      padding-top: 17em;
    }
  }
}

.ace-saltwater-block.feels-better {
  .container {
    padding-left: 305px;
    padding-right: 2em;
    background: url(https://watkinsdealer.s3.amazonaws.com/images/products/water-care-ace/ace_feels_better.png) 0 center no-repeat;
    background-size: 280px auto;
    @media (max-width: 641px) {
      background-position: 50% 0;
      padding-left: 2em;
      padding-top:22em;
    }
  }
}

.ace-reviews {

  background: none;
  .stars {
  width: 380px;
  height: 72px;
  margin-top: 24px;
  margin-right: auto;
  margin-bottom: 36px;
  margin-left: auto;
  background: url(https://watkinsdealer.s3.amazonaws.com/images/products/water-care-ace/ace_5stars.png) center center no-repeat;
  background-size: contain;
  }
  .review {
    font-style: italic;
    font-weight: normal;
    color: #006395;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
    line-height: 1.5;
    margin-bottom: 45px;
    font-size: 30px;
  }
  p {
    color: #006395;
  }
  h3 {
    font-size: 39px;
    font-weight: normal;
    color: #006395;
    margin-bottom: 0;
    line-height: 1.42857;
  }
}





// ACE WATER CARE PAGES & BLOCKS

body.ace-caring-spa-water {

  .body_container h2 {
    // color: #fff !important;
    font-size: 42px;
  }

  .aspot-creator h2.aspot-page-title {
    color: #fff !important;
    font-size: 42px;
  }

  .page-50-50-content {
    padding-top: 60px !important;
    // padding-bottom: 60px !important;
  }

  // h2.aspottext {
  //   color: #fff !important;
  // }


  .body_container {
    .container {
      padding: 0 2em;
      width: 83.3333333%;
      margin: auto;
      padding: 30px 0;
      max-width: none !important;
    }
    p {
      font-size: 26px;
      line-height: 1.4;
      color: #666768;
    }

    h2 {
      font-size: 60px;
      font-weight: 300;
      color: #04588c;
      margin-bottom: 14px;
      line-height: 1;
      text-transform: none;
    }

    h4 {
      font-size: 37px;
      font-family: 'prelobold', Helvetica, Roboto, Arial, sans-serif !important;
      color: #006395;
      margin-bottom: 0;
      line-height: 1.42857;
      margin-bottom:14px;
    }

    strong, b {
      font-family: 'prelobold', Helvetica, Roboto, Arial, sans-serif !important;
    }

    li.spaced-li {
      padding: 15px 20px 15px 20px !important;
      margin-top: 0 !important;
      color: #666768 !important;
      font-size: 26px !important;
      line-height: 1.4 !important;
      color: #666768 !important;
    }

    .30-day-checkup {
      ol {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 1.25rem;
        list-style-position: outside;
        font-family: inherit;
      }

    }

    .cleaning-ace-cell {
      .view-videos {
        margin: 15px;
        @media (max-width: 960px) {
          display:block;
        }
      }

      strong {
        font-family: 'prelobold', Helvetica, Roboto, Arial, sans-serif !important;
      }

      li {
        padding: 15px 20px 15px 20px;
        margin-top: 0;
        color: #666768;
        font-size: 26px;
        line-height: 1.4;
      }
      p.caring-ace-system {
        font-size: 30px !important;
        margin: 5px;
      }
  }

    section.section-block {
      background: rgba(217,237,250,1);
      background: -moz-linear-gradient(top,rgba(217,237,250,1) 0%,rgba(217,237,250,0) 100%);
      background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(217,237,250,1),color-stop(100%,rgba(217,237,250,0))));
      background: -o-linear-gradient(top,rgba(217,237,250,1) 0%,rgba(217,237,250,0) 100%);
      background: -ms-linear-gradient(top,rgba(217,237,250,1) 0%,rgba(217,237,250,0) 100%);
      background: linear-gradient(to bottom,rgba(217,237,250,1) 0%,rgba(217,237,250,0) 100%);
      .gb-header {
        .container {
          .custom {
            // max-width:750px;
            // margin: 0 auto;
            width: 83.3333333%;
            margin: auto;
            padding: 30px 0;
          }
        }
      }
    }


    .caring-water--features {

      p {
        margin-bottom: 30px;
        color: #707070 !important;
        line-height: 1.4;
        font-size: 26px !important;
      }
      ul {
        li {
          margin-bottom: 18px;
          color: #707070 !important;
        }
      }
    }

    p.summary {
      color: #666768;
      font-size: 26px;
      line-height: 1.4;
    }

    p.description {
      font-size: 46px !important;
      color: #626262;
      line-height: 1.2 !important;
      font-style: italic;
      font-family: 'prelolight', Helvetica, Roboto, Arial, sans-serif;


    }

    a.button.ask-question {
      font-size: 22px;
      color: #fff;
      background-color: #00609c;
      text-decoration: none;
      padding: 15px;
      margin: 15px auto;
      font-family: 'prelobold', Helvetica, Roboto, Arial, sans-serif;
      background: #0C619A url(/wp-content/themes/dealer-theme/dist/img/view-videos--icon.png) no-repeat 95% 50%;
    }
    .prod.btns {
      float:left;
      width:100%;
      margin: 15px auto;
      display:block;
    }
    @media only screen and (min-width:768px) {
      .prod.btns {
        display:inline-block;
        width:48%;
        margin: 30px 5px;
      }
    }
  }
}

body.ace-how-it-works {
  .body_container {
    .section-block {
      .custom {
        // padding: 30px 0;
        p {
          color: #666768;
          font-size: 26px;
          line-height: 1.4;
        }
        p.description {
          margin-bottom: 10px;
        }
        ul {
          margin-left: 0;
        }
        li {
          padding: 40px 0 30px;
          list-style: none;
          width: 83.3333333%;
          margin: auto;
        }
        li.odd:first-of-type {
          padding: 0 0 30px;
        }
        ul.first {
          background: rgba(217,237,250,1);
          background: -moz-linear-gradient(top,rgba(217,237,250,1) 0%,rgba(217,237,250,0) 100%);
          background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(217,237,250,1),color-stop(100%,rgba(217,237,250,0))));
          background: -o-linear-gradient(top,rgba(217,237,250,1) 0%,rgba(217,237,250,0) 100%);
          background: -ms-linear-gradient(top,rgba(217,237,250,1) 0%,rgba(217,237,250,0) 100%);
          background: linear-gradient(to bottom,rgba(217,237,250,1) 0%,rgba(217,237,250,0) 100%);
        }
      }
    }
    .watch-video {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 30px;
    }
    .aspot-creator h2.aspot-page-title {
      color: #fff !important;
      font-size: 42px;
    }

    .page-50-50-content {
      padding-bottom: 0 !important;
    }
    .top-block-50-50 {
      padding-bottom: 0 !important;
    }

    p {
      color: #666768;
    }
    h2 {
      font-size: 60px;
      font-weight: 300;
      color: #04588c;
      margin-bottom: 14px;
      line-height: 1;
      text-transform: none;
    }
    h3 {
      font-size: 37px;
      font-weight: normal;
      color: #006395;
      margin-bottom: 28px;
      line-height: 1.42857;
      text-align:left;
      font-family: 'prelolight', Helvetica, Roboto, Arial, sans-serif;
    }
    p.description {
      font-size: 46px;
      font-style: italic;
      font-weight: 300;
      color: #626262;
      line-height: 1.2;
    }
    p.summary {
      font-size: 34px !important;
      font-family: 'prelobold', Helvetica, Roboto, Arial, sans-serif;
    }
    .description-small {
      font-size: 24px !important;
      line-height: 1.6 !important;
    }
    section.section-block {
      .gb-header {
        .container {
          .custom {
            // max-width:750px;
            // margin: 0 auto;
            width: 83.3333333%;
            margin: auto;
            padding: 30px 0;
            p {
              color: #666768;
              font-size: 26px;
              line-height: 1.4;
            }
          }
        }
      }
    }
  }
}

.ace-how-to-videos {
  .body_container {

    .aspot-creator h2.aspot-page-title {
      color: #fff !important;
      font-size: 42px;
    }

    h2 {
      font-size: 42px;
      font-weight: 300;
      color: #04588c;
      margin-bottom: 0;
      line-height: 1.42857;
      text-transform: none;
    }

  .xsmall-12.columns {
    padding:0 !important;
  }

  .row {
    max-width: none !important;
  }

    section.how-to-videos {
      // padding: 60px 0;
      background: -moz-linear-gradient(top,rgba(180,222,248,1) 0%,rgba(180,222,248,0) 100%);
      background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(180,222,248,1),color-stop(100%,rgba(180,222,248,0))));
      background: -o-linear-gradient(top,rgba(180,222,248,1) 0%,rgba(180,222,248,0) 100%);
      background: -ms-linear-gradient(top,rgba(180,222,248,1) 0%,rgba(180,222,248,0) 100%);
      background: linear-gradient(to bottom,rgba(180,222,248,1) 0%,rgba(180,222,248,0) 100%);
      padding-top: 60px;
      .left-side,
      .right-side {
        text-align: center;
      }

      .how-to-videos.container {
        margin:auto;
        max-width: 1400px !important;
      }
      @media only screen and (min-width:1025px) {
        .left-side {
          text-align: right;
        }
        .right-side {
          text-align: left;
        }
        .columns {
          padding: .75em 0;
        }

        .how-to-videos.container {
          background-color: #2a4a60;
          padding: 50px 0;
          // margin: 0 225px;
          margin: auto;
        }
        section.how-to-videos {
          padding: 100px;
        }
      }
    }
  }
}

body.ace-salt-water-system-faq {
  .body_container {
    #section-intro {
      p.description {
        font-size: 46px;
        font-style: italic;
        font-weight: 300;
        color: #626262;
        line-height: 1.2;
        font-family: 'prelolight', arial, sans-serif;
      }
      h2 {
        font-size: 60px;
        font-weight: 300;
        color: #04588c;
        margin-bottom: 14px;
        line-height: 1;
        text-transform: none;
      }
      .motto {
        font-size: 46px;
        font-style: italic;
        font-weight: 700;
        color: #626262;
        line-height: 1.2;
        margin-bottom: 0;
        font-family: 'prelobold', arial, sans-serif;
        text-align: center;
      }
    }

    p {
      color: #666768;
      font-size: 26px;
      line-height: 1.4;
    }
    p.description {
      font-weight: 700;
      font-weight: bold;
      font-size: 34px;
      line-height: 1.4;
      color: #666768;
      text-align: left;
      margin-bottom: 12px;
      font-family: 'prelobold', arial, sans-serif;
    }
    .ace-faq {
      ul {
        padding-left: 0;
        margin-left: 0;
        padding-top: 60px;
        li {
          list-style: none;
          width: 83.3333333%;
          margin: auto;
          padding: 40px 0;
          th {
            border-bottom: none;
            font-size: 26px;
            font-weight: 700;
            color: #666768;
            line-height: 1.4;
            text-align: left;
            font-family: 'prelobold', arial, sans-serif;
          }
          td {
            font-size: 26px;
            font-weight: 400;
            line-height: 1.4;
            color: #666768;
            padding-right: 15px;
            text-align: left;
          }
          td:first-of-type {
            padding-left: 0 !important;
          }
        }
      }

      ul:first-of-type {
        background: -moz-linear-gradient(top,rgba(180,222,248,1) 0%,rgba(180,222,248,0) 100%);
        background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(180,222,248,1),color-stop(100%,rgba(180,222,248,0))));
        background: -o-linear-gradient(top,rgba(180,222,248,1) 0%,rgba(180,222,248,0) 100%);
        background: -ms-linear-gradient(top,rgba(180,222,248,1) 0%,rgba(180,222,248,0) 100%);
        background: linear-gradient(to bottom,rgba(180,222,248,1) 0%,rgba(180,222,248,0) 100%);
      }
      ul:last-of-type {
        padding-top: 0;
      }
    }
  }
}

body.ace-how-to-videos {
  .body_container {
    .video-container {
      display: inline-block !important;

        position: relative;
        padding-bottom: 56.25%;
        padding-top: 0px !important;
        height: 0;
        overflow: hidden;
        width:100%;

    }
    iframe {

        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;

    }
    .intro-content-container {
      text-align: center;
    }
    .write-review-wrapper {
      margin: 30px 0 0;
    }
    p.description {
      font-size: 22px;
      font-style: italic;
      font-weight: 300;
      color: #626262;
      line-height: 1.2;
      margin-bottom: 0;
    }
  }
}
