.search .hero,
.archive .hero,
.page-template-template-blog .hero{
    width: 100%;
    position: relative;
    height: 350px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
}
.search .hero img,
.archive .hero img,
.page-template-template-blog .hero img{
    width: 100%;
    height: auto;
    display: none;
}
.search .hero h2,
.archive .hero h2,
.page-template-template-blog .hero h2{
    color: white;
    margin: 0;
    margin-bottom: .25em;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}
.search .hero h3,
.archive .hero h3,
.page-template-template-blog .hero h3{
    color: white;
    line-height: 1;
    font-size: 3em;
    margin:0;
    margin-top: .25em;
    margin-bottom: .5em;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.search .hero .the-content,
.archive .hero .the-content,
.page-template-template-blog .hero .the-content{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 75%;
    text-align: center;
    height: 18em;
    margin:  auto auto;
    color: white;
    z-index: 3;
}
.search .hero .overlay,
.archive .hero .overlay,
.page-template-template-blog .hero .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}
.search .hero ul,
.archive .hero ul,
.page-template-template-blog .hero ul{
    text-align: left;
    background-color: rgba(255,255,255,1);
    width: 100%;
    margin: 0;
    padding-top: 1em;
    margin-top: -.75em;
    padding-bottom: .25em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 0 5px 10px 5px rgba(0,0,0,.25);
    box-shadow: 0 5px 10px 5px rgba(0,0,0,.25);
}
.search .hero ul li,
.archive .hero ul li,
.page-template-template-blog .hero ul li{
    list-style: none;
    padding-top: .25em;
    padding-bottom: .25em;
}
.search .hero ul li ul li a,
.archive .hero ul li ul li a,
.page-template-template-blog .hero ul li ul li a{
    padding-left: 1.75em;
}
.search .hero ul li a,
.archive .hero ul li a,
.page-template-template-blog .hero ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-left: 1em;
}
.search .hero ul li ul,
.archive .hero ul li ul,
.page-template-template-blog .hero ul li ul{
    padding-top: 0;
    margin-top: .15em;
    padding-bottom: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    -webkit-box-shadow: 0 5px 10px 5px rgba(0,0,0,.0);
    box-shadow: 0 5px 10px 5px rgba(0,0,0,.0);
}
.search .hero div.dropdown,
.archive .hero div.dropdown,
.page-template-template-blog div.dropdown{
    text-align: left;
    max-width: 300px;
    margin: 10px auto;
    width: 100%;
}
.search .hero a.dropdown.active,
.archive .hero a.dropdown.active,
.page-template-template-blog a.dropdown.active{
    opacity: 1;
}
.search .hero a.dropdown,
.archive .hero a.dropdown,
.page-template-template-blog a.dropdown {
    background-color: rgba(255,255,255,1);
    color: #333;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    padding: .5em 1em;
    font-family: 'prelosemibold', Helvetica, Roboto, Arial, sans-serif;
    font-size: normal;
    font-size: 1.25em;
    opacity: .75;
    transition-duration: .5s;
}


.page-template-template-blog a.dropdown,
.archive.inside-page a.dropdown {
background-image: url('../dist/img/down-arrow.png');
background-size: 30px;
background-repeat: no-repeat;
background-position: 95% 50%;
}

.search .hero article,
.archive .hero article,
.page-template-template-blog article{
    margin-bottom: 1em;
}
.masonry-grid{
    max-width: 1400px!important;
}
article.masonry-item{
    padding: 0;
    width: calc(100% - 2em);
    box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.135);
    border-radius: 5px;
    overflow: hidden;
    margin: 1.75em 0;
}
article.masonry-item img{
    width: 100%;
    height: auto;
}
article.masonry-item div.body{
    padding: .5em 1em;
}

.blog-search {
  width:100%;
  display:block;
  position:relative;
}

.blog-search input{
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    padding: .75em 1em;
    width: 100%;
    height: auto;
    background-color: white;
    color: #333;
    border-radius: 5px;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 1em;
    border: 0;
    /* opacity: .75; */
    -webkit-box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .25);
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .25);
}
.blog-search input:focus{
    opacity: 1;
}
// .blog-search input[type="submit"]{
//     display: none;
// }
.single .hero{
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    background-position: 50% 50%;
}
.single .hero img{
    width: 100%;
    height: auto;
    display: none;
}
.single-post-wrap{
    max-width: 720px;
}
@media only screen and (min-width:960px){
    .single .hero{
        height: auto;
    }
    .single .hero img{
        display: block;
    }
    article.masonry-item{
        width: calc(46% - 1em);
    }
    article.masonry-item div.body{
        padding: 1em 2em;
    }
    .single .single-post h2:first-of-type{
        border-bottom: 1px solid black;
        margin-bottom: .5em;
    }
    .single h2,
    article.masonry-item h3{
        font-size: 32px!important;
    }
    .single h3{
        font-size: 24px;
    }

    article.masonry-item .body a,
    article.masonry-item p{
        font-size: 20px!important;
        line-height: 1.5em!important;
    }
}
@media only screen and (min-width:1025px){
    .search .hero h2,
    .archive .hero h2,
    .page-template-template-blog .hero h2{
        font-size: 2.5em;
    }
    .search .hero h3,
    .archive .hero h3,
    .page-template-template-blog .hero h3{
        font-size: 4.25em!important;
    }
    .search .hero,
    .archive .hero,
    .page-template-template-blog .hero{
        height: auto;
    }
    .search .hero img,
    .archive .hero img,
    .page-template-template-blog .hero img{
        display: block!important;
        opacity: 0;
    }
    .search .hero h3,
    .archive .hero h3,
    .page-template-template-blog .hero h3 {
        font-size: 3.5em;
    }
}
@media only screen and (min-width:2000px){
    .single h2,
    article.masonry-item h3{
        font-size: 40px!important;
    }
    .single h3{
        font-size: 30px;
    }


    article.masonry-item .body a,
    article.masonry-item p{
        font-size: 24px!important;
        line-height: 1.5em!important;
    }
    .single-post-wrap{
        max-width: 800px;
    }
}
