// SEARCH RESULTS PAGE FOR WOOCOMMERCE PRODUCTS

body.archive.search-results.woocommerce {
  h1.page-title {
    // padding-left:2em;
    padding-top:2em;
  }
  p.woocommerce-result-count {
    // padding-left:4em;
  }
  form.woocommerce-ordering {
    padding-right:4em;
  }
  ul.products {
    // max-width: 1400px;
    margin: 0 auto;
    padding: 0 2em;
    h3 {
      font-size: 1.6em;
      // min-height: 96px;
    }
    a.button {
      -webkit-font-smoothing: antialiased;
      font-family: 'prelo', Helvetica, Roboto, Arial, sans-serif;
    }
    li.product {
      margin: 1em 0;
      padding: 0 1.5% 2.992em 1.5%;
      width:100%;
    }
  }
  nav.woocommerce-pagination {
    margin-bottom: 4em;
  }
}
@media screen and (min-width:768px){
  body.archive.search-results.woocommerce ul.products li.product {
    width: 50%;
  }
}
@media screen and (min-width:1024px){
  body.archive.search-results.woocommerce ul.products li.product {
    width: 25%;
  }
}

//END RESULTS PAGE FOR PRODUCTS STYLES

.home p {
  // font-size: 24px;
  // line-height: 30px;
}


.home .header {
    box-shadow: 0 5px 10px $trans-black;
}
.homepage-copy {
    padding-top: 50px;
    text-align: center;
}
.video-container {
    display: none;
}
.videofilter {
    display: none;
}
/* Video Section */
.full-width {
    width: 100%;
    vertical-align: top;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}
.fillWidth {
    width: 100%;
    margin-bottom: -7px;
}
h1.hero {
    font-family: prelobold;
    font-size: 70px;
    color: $white;
    line-height: 1;
    text-shadow: 0 2px 2px rgba(0,0,0,0.20);
    text-transform: uppercase;
    margin-top: 10px;
}
.full-width.services .bkg-wraper {
    background: url('/wp-content/themes/shannons-theme/dist/img/image-center.jpg');
}
.section-1 .small-12.columns {
    padding: 0;
}
.intro-text {
    max-width: 920px;
    margin: 0 auto;
    padding: 4em 1em 0;
}
.intro-text p {
    font-size: 1.25em;
}
.section_content {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    /*max-height: 150px;*/
}
.section_content h1.hero {
    color: $white !important;
    font-size: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
    line-height: 1;
    text-shadow: 2px 3px 2.91px rgba(1, 1, 1, 0.75);
}
.section_content a {
    font-family: 'prelobold', arial, sans-serif;
    color: $white !important;
    text-shadow: 2px 3px 2.91px rgba(1, 1, 1, 0.25);
    display: inline-block;
    font-size: 18px;
    background: $primary;
    padding: 9px 3px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.link_2 {
    margin-top: 16px;
}
.banner {
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 0;
    vertical-align: top;
}
.banner.big_banner {
    height: 1151px;
}
.banner img {
    /*position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
    min-width: 100%;
    max-width: 9999px;
    width: auto;
    height: 100%;
    vertical-align: top;*/
}
.bkg-wraper {
    position: relative;
}
.section-bkg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
}
.section-1 {
    position: absolute;
    top: 0;
    left: 0;
    /*margin-top: 50px;*/
    margin-left: 0;
}
div.videofilter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../dist/img/overlay-pattern.png");
    background-repeat: repeat;
    opacity: 0.25;
}
/* end video section */
/* Box section */
.boxes-section {
    background-color: transparent;
    padding: 40px 0 20px;
    /*box-shadow: 0px 10px 10px $secondary;*/
    position: relative;
}
.boxes-section .columns {
    padding-left: 0;
    padding-right: 0;
}
.box {
    background: transparent;
    padding: 0 10px;
    margin-bottom: 24px;
    text-align: center;
    font-size: 20px;
    color: $primary;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}
.box:hover {
    background: $dark;
    color: $white !important;
    border-radius: 20px;
    opacity: 0.8;
}
.hot-spring.box:hover {
    background: $hotspring;
}
.caldera.box:hover {
    background: $caldera;
}
.freeflow.box:hover {
    background: $freeflow;
}
.fantasy.box:hover {
    background: $fantasy;
}
.box:hover h5 {
    color: $white !important;
}
.box_text {
    overflow: hidden;
    margin: 0 0 30px;
}
.box h5 {
    font-family: 'prelomedium_italic', arial, sans-serif;
    font-size: italic;
    font-size: 50px;
    text-transform: uppercase;
    color: $dark;
    line-height: 1;
    /* height: 95px; */
    height: auto;
    transition: all 0.8s ease-in-out;
}
.box p {
    margin: 0 17px;
    font-size: 18px;
    font-style: italic;
    line-height: 1;
}
.link_area {
    text-align: center;
    margin: 0 0 30px;
    padding: 30px 0 0;
    position: relative;
}
.link_area:before {
    content: "";
    position: absolute;
    border-bottom: 1px solid $medium;
    left: 0;
    right: 0;
    top: 0;
}
.link_area a {
    position: relative;
    font-size: 22px;
    font-style: italic;
    line-height: 1;
    color: $dark;
    text-transform: uppercase;
    padding-right: 26px;
}
.link_area a:after {
    position: absolute;
    content: "";
    background: url("../img/arrow1.png") no-repeat 100% center;
    width: 20px;
    height: 39px;
    right: 0;
    top: 0;
    margin-top: -5px;
    margin-right: -13px;
}
.section-1 {
    padding: 0 0 90px;
}
.section-1 h4 {
    font-size: 43px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    color: $white;
    margin-bottom: 39px;
    font-style: italic;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 3px 4px 4.8px rgba(0, 0, 0, 0.66);
}
.box-product {
    min-height: 257px;
}
.box-product .box_content {
    line-height: 10px;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 20px;
}
.box-product .link_area {
    background: $white;
    width: 100%;
    padding: 33px 20px;
    margin-bottom: 0;
    border-top: none;
}
a.close-panel {
    display: inline;
    border-bottom: none;
    margin: 0 0 0 14px;
    font-size: 2.5em;
    color: $white;
}
.dist-image {
    position: relative;
    height: 0;
    padding-bottom: 73%;
    margin: 0 0 -10px;
}
.dist-image div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.dist-image img {
    max-width: 100% !important;
    max-height: 100% !important;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.link_area {
    margin-bottom: 25px;
}
.link_area a:focus,
.link_area a:hover {
    color: $secondary;
    text-decoration: none;
}
.home .product-carousel {
    // padding: 60px 0;
    padding: 6em 0 !important;
    background-color: $white;
}
.home .product-slider-box p {
    color: $primary;
}
.home .product-slider-box a:first-of-type {
    // min-height: 325px;
    min-height: 275px;

    display:table;
}
.home .product-slider-box a {
    display: block;
    max-width: 290px;
    max-height: 262px;
    overflow: hidden;
    margin-bottom: 10px;
}
.home .product-slider-box a:first-of-type img {
  display:table-cell;
  vertical-align: bottom;
}

.video-header {
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    min-height: 450px !important;
}
.video-header .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 1em;
}
.video-header .overlay .container .the-content a:hover {
    background-color: $link-hover;
    color: white!important;
}
.video-header .overlay .container .the-content a:last-of-type {
    margin-bottom: 0.5em;
}
.video-header .overlay .container .the-content a,
section.img-pan .the-content a {
    background-color: $link;
    color: white!important;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    padding: 0.5em 1em;
    font-size: 23px;
    border-radius: 1px;
    margin-top: 1em;
}
.video-header .overlay .container .the-content h3 {
    color: white;
    margin-bottom: 0;
    text-transform: none;
}
.video-header .overlay .container .the-content {
    text-align: center;
    color: white;
    position: absolute;
    bottom: 2em;
    padding-right: 1em;
}
.aspot_anchor {
    bottom: 1.5em;
    // left: 0;
    // right: 0;
    // left: 0;
    // position: absolute;
    position:relative;
    margin-top: -8px;
    // width: 100%;
    height: auto;
    text-align: center;
    li {
        list-style: none;
        a {
            display: inline-block;
            border-radius: 50%;
            .bottom {
                background: rgba($primary_nav_bg_hover, .95) !important;
                display: inline-block;
                width: 4em;
                height: 4em;
                border: 0.25em solid $primary_link !important;
                border: 0.25em solid $white !important;
                border-radius: 50%;
                margin-left: 0.75em;
                &:hover {
                    border: 0.25em solid $white !important;
                    animation: bounce .5s;
                }
            }
            .bottom:after {
                content: '';
                display: inline-block;
                margin-top: 0.9em;
                width: 1.2em;
                height: 1.2em;
                border-top: 0.25em solid $white;
                border-right: 0.25em solid $white;
                -moz-transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
            }
        }

        a:hover .bottom:after {
            border-top: 0.25em solid $white;
            border-right: 0.25em solid $white;

        }
    }
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	80% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}

.video-header .overlay .container {
    height: 100%;
    max-width: 1400px;
    // max-width:900px;
    margin: 0 auto;
}
.video-header video {
    display: none;
    width: 100%;
    height: initial;
    position: absolute;
    top: 0;
    left: 0;
}
.video-header .video-filter {
    display: none;
}
@keyframes imgPanTopLeft {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}
@-webkit-keyframes imgPanTopLeft {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}
@keyframes imgPanTopRight {
    from {
        background-position: 100% 0;
    }
    to {
        background-position: 0 100%;
    }
}
@-webkit-keyframes imgPanTopRight {
    from {
        background-position: 100% 0;
    }
    to {
        background-position: 0 100%;
    }
}
@keyframes imgPanBottomLeft {
    from {
        background-position: 0 100%;
    }
    to {
        background-position: 100% 0;
    }
}
@-webkit-keyframes imgPanBottomLeft {
    from {
        background-position: 0 100%;
    }
    to {
        background-position: 100% 0;
    }
}
@keyframes imgPanBottomRight {
    from {
        background-position: 100% 0;
    }
    to {
        background-position: 0 100%;
    }
}
@-webkit-keyframes imgPanBottomRight {
    from {
        background-position: 100% 100%;
    }
    to {
        background-position: 0 0;
    }
}
section.aspot.img-pan {
    min-height: 300px;
    position: relative;
}
section.aspot.img-pan .pan-item.current {
    z-index: 1;
}
section.aspot.img-pan .pan-item {
    width: 100%;
    height: 100%;
    // background-size: auto 125%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

@media (max-width:1024px) {
  section.aspot.img-pan .pan-item {
    background-position: 50% 50%;
  }
}

section.aspot.img-pan .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 100%;
}
section.aspot.img-pan .the-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 600px;
    text-align: center;
    height: 3em;
    z-index: 3;
}
section.aspot.img-pan .container {
    max-width: 1400px;
    height: 100%;
    position: relative;
}
section.aspot.img-pan .the-content h3 {
    margin: 0;
}
@media only screen and (min-width:1024px) {
    section.aspot.img-pan .pan-item {
        // background-size: 125% auto;
        background-size:cover;
    }
    section.aspot.img-pan .the-content h3 {
        font-size: 3em;
    }
    section.aspot.img-pan .the-content.pos-left {
        right: auto;
        left: 0;
    }
    section.aspot.img-pan .the-content.pos-right {
        right: 0;
        left: auto;
    }
    section.aspot.img-pan .the-content.align-left {
        text-align: left;
    }
    section.aspot.img-pan .the-content.align-center {
        text-align: center;
    }
    section.aspot.img-pan .the-content.align-right {
        text-align: right;
    }
}
.pan-item.pos-top-left {
    animation: imgPanTopLeft 11s infinite;
    -webkit-animation-name: imgPanTopLeft;
    -webkit-animation-duration: 11s;
    -webkit-animation-iteration-count: infinite;
}
.pan-item.pos-top-right {
    animation: imgPanTopRight 11s infinite;
    -webkit-animation-name: imgPanTopRight;
    -webkit-animation-duration: 11s;
    -webkit-animation-iteration-count: infinite;
}
.pan-item.pos-bottom-left {
    animation: imgPanBottomLeft 11s infinite;
    -webkit-animation-name: imgPanBottomLeft;
    -webkit-animation-duration: 11s;
    -webkit-animation-iteration-count: infinite;
}
.pan-item.pos-bottom-right {
    animation: imgPanBottomRight 11s infinite;
    -webkit-animation-name: imgPanBottomRight;
    -webkit-animation-duration: 11s;
    -webkit-animation-iteration-count: infinite;
}
/* 1. No object-fit support: */
@media (min-aspect-ratio: 16/9) {
    .video-header video {
        height: 300%;
        top: -100%;
    }
}
@media (max-aspect-ratio: 16/9) {
    .video-header video {
        width: 300%;
        left: -100%;
    }
}
/* 2. If supporting object-fit, overriding (1): */
@supports (object-fit: cover) {
    .video-header video {
        top: 0;
        left: 0;
        width: 100%;
        height: initial;
        object-fit: cover;
    }
}
@media only screen and (min-width:400px) {
    .the-content {
        left: calc(50% - 200px);
    }
}
@media only screen and (min-width:1025px) {
    .video-header .video-filter {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../dist/img/overlay-pattern.png');
    }
    .video-header video {
        display: block;
    }
    .video-header .overlay {
        background-color: transparent;
    }
    .video-header .overlay .container {
        position: relative;
        max-width: 1000px;
    }
    .video-header .overlay .container .the-content,
    .img-pan .overlay .container .the-content, {
        width: 100%;
        // max-width: 1400px;
        max-width: 1000px;
        margin: 0 auto;
        top: 0;
        // height: 100%;
        // left: auto;
        left:0;
        right:0;
    }
    .video-header .overlay .container .the-content h3,
    .img-pan .overlay .container .the-content h3 {
        position: absolute;
        bottom: 0.25em;
        max-width: 560px;
        font-size: 4.85em;
        line-height: 1em;
        text-shadow: 2px 3px 2.91px rgba(1, 1, 1, 0.75);
        text-align: right;
    }
    .video-header .overlay .container .the-content .the-links,
    .img-pan .overlay .container .the-content .the-links {
        padding-right: 1em;
        position: absolute;
        right: 0;
        bottom: 1.5em;
        width: 400px;
    }
    .video-header .overlay .container .the-content .the-links a,
    .img-pan .overlay .container .the-content .the-links a {
        margin: 0 !important;
        text-shadow: 2px 3px 2.91px rgba(1, 1, 1, 0.25);
    }
    .video-header .overlay .container .the-content .the-links a.vertical-center,
    .img-pan .overlay .container .the-content .the-links a.vertical-center {
        margin-bottom: 1.5em !important;
    }
    .video-header .overlay .container .the-content .the-links a:last-of-type,
    .img-pan .overlay .container .the-content .the-links a:last-of-type {
        margin-top: 0.5em !important;
    }
}
@media screen and (max-width:480px) {
    .home .product-slider-box a {
        max-width: 383px;
        max-height: 356px;
    }
}
.home .product-model-slide-title span {
    font-size: 23px;
}
/* end boxes section */
/* Brands Section */
/*
.brands-section {
background-color: $light;
padding: 31px 0 40px;
text-align: center;
border-top: 1px solid $light-border;
}
.brands-section h3,
.contact-section h3 {
font-size: 35px;
line-height: 1;
text-transform: uppercase;
font-weight: bold;
margin-bottom: 40px;
}



.brands-section img {
margin-bottom: 55px;
max-width: 64%
}
*/
/* CARD FLIP */
/* simple */
.flip-container {
    /*-webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    text-align: center;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;*/
}
/* START: Accommodating for IE */
/*.flip-container:hover .back, .flip-container.hover .back {
-webkit-transform: rotateY(0deg);
-moz-transform: rotateY(0deg);
-o-transform: rotateY(0deg);
-ms-transform: rotateY(0deg);
transform: rotateY(0deg);
}

.flip-container:hover .front, .flip-container.hover .front {
-webkit-transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
-o-transform: rotateY(180deg);
transform: rotateY(180deg);
}*/
/* END: Accommodating for IE */
.back,
.flip-container,
.front {
    /*width: 330px;
    height: 465px;*/
}
.
/*flipper {
-webkit-transition: 0.6s;
-webkit-transform-style: preserve-3d;
-ms-transition: 0.6s;

-moz-transition: 0.6s;
-moz-transform: perspective(1000px);
-moz-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;

transition: 0.6s;
transform-style: preserve-3d;

position: relative;
}

.front, .back {
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;

-webkit-transition: 0.6s;
-webkit-transform-style: preserve-3d;
-webkit-transform: rotateY(0deg);

-moz-transition: 0.6s;
-moz-transform-style: preserve-3d;
-moz-transform: rotateY(0deg);

-o-transition: 0.6s;
-o-transform-style: preserve-3d;
-o-transform: rotateY(0deg);

-ms-transition: 0.6s;
-ms-transform-style: preserve-3d;
-ms-transform: rotateY(0deg);

transition: 0.6s;
transform-style: preserve-3d;
transform: rotateY(0deg);


overflow: hidden;
}
*/
.front {
    z-index: 2;
    border: 1px solid $medium-light;
    /*-webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);*/
}
/*
.back {
-webkit-transform: rotateY(-180deg);
-moz-transform: rotateY(-180deg);
-o-transform: rotateY(-180deg);
-ms-transform: rotateY(-180deg);
transform: rotateY(-180deg);
position: absolute;
top: 0;
left: 0;
}
*/
/* end brands */
/* Products & Services Section */
/* end Products & Services Section */
.home .collection-reviews h2.title {
    margin: 0;
}
.home .collection-reviews a {
    color: #333333 !important;
}
.home .collection-reviews a:hover {
    color: #ccc !important;
}
/*ASPOT OVERLAY CONTENT*/
/*-LARGE-*/
.section_content.aspot-content-large {
    max-height: 135px;
}
.section_content.aspot-b {
    bottom: 40px;
    top: auto;
}
.section_content.aspot-t {
    top: 40px;
}
.section_content.aspot-m {
    top: 50%;
    transform: translateY(-50%);
}
/*-MEDIUM-*/
.aspot-content-med.section_content {
    width: 450px;
    max-height: 210px;
    //min-width: 450px;
}
.aspot-content-med.section_content .row .columns {
    width: 100%;
}
/*@media screen and (max-width:1400px){
.aspot-content-med.section_content{
width:75%;
}
}*/
.aspot-content-med.section_content h1.hero {
    font-size: 40px;
    line-height: 1;
}
.aspot-content-med.section_content .aspot-cta-link {
    max-width: 100%;
    font-size: 25px;
    line-height: 1;
    margin-bottom: 5px;
}
.section_content.aspot-tl {
    top: 40px;
}
.section_content.aspot-tc {
    top: 40px;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
}
.section_content.aspot-tr {
    top: 40px;
    left: auto;
    right: 0;
}
.section_content.aspot-ml {
    top: 50%;
    transform: translateY(-50%);
}
.section_content.aspot-mc {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.section_content.aspot-mr {
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: auto;
}
.section_content.aspot-bl {
    top: auto;
    bottom: 40px;
}
.section_content.aspot-bc {
    top: auto;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}
.section_content.aspot-br {
    top: auto;
    bottom: 40px;
    right: 0;
    left: auto;
}
/*******************************/
/****** RESPONSIVE STYLES*******/
/*******************************/
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    /* Video Section */
    .section_content {
        top: 13%;
        margin-left: 0;
        padding-left: 100px;
        padding-right: 100px;
    }
    .section_content.aspot-b {
        bottom: 5px;
    }
    .section_content.aspot-t {
        bottom: 5px;
        top: auto;
    }
    .section_content.aspot-m {
        bottom: 5px;
        transform: none;
    }
    .section_content h1.hero {
        font-size: 37px;
        letter-spacing: 3px;
    }
    .section_content a {
        font-size: 33px;
        width: 103%;
        padding: 5px 0;
        margin-bottom: 5px;
        margin-left: 0;
        margin-right: 0;
        transition: all 0.5s ease-in-out;
    }
    .section_content a:hover {
        background: $secondary;
        border-radius: 10px;
    }
    .links_area {
        /*margin-top: 12px;*/
    }
    .banner {
        height: 352px;
    }
    .banner.big_banner {
        height: 1210px;
    }
    /* end Video Section */
    /* Boxes Section */
    .dist-image {
        margin-bottom: 0 0 10px;
    }
    .dist-image img {
        width: 100%;
    }
    .boxes-section {
        padding: 56px 0 36px;
    }
    .boxes-section .link_area a:after {
        margin-right: -22px;
    }
    .boxes-section .columns {
        padding: 0 0.5em;
    }
    .box {
        position: relative;
        margin-bottom: 33px;
        padding: 30px;
    }
    .box:after {
        content: "";
        position: absolute;
        border-right: 1px solid $medium;
        height: 100%;
        right: 14%;
        top: 0;
        bottom: 0;
    }
    .box:before {
        display: none;
    }
    .box_content.medium-5 {
        padding: 1.0em 0 0 1.5em;
    }
    .box_text {
        float: right;
        text-align: left;
        overflow: hidden;
        padding: 47px 0 0;
    }
    .box h5 {
        font-size: 46px;
    }
    .box p {
        margin: 0;
        line-height: 1.2;
    }
    .link_area.first a {
        font-size: 13px;
        color: $white;
    }
    .link_area.first a:after {
        height: 33px;
        top: 100%;
        margin-top: 18px;
        margin-right: 38px;
    }
    .link_area:before {
        display: none;
    }
    .box-outer-link {
        display: block;
    }
    /* end boxes */
    /* Brands Section */
    .brands-section {
        padding: 54px 0 49px;
    }
    .brands-section h3 {
        font-size: 52px;
        margin-bottom: 80px;
        line-height: 1.4;
    }
    #brand-1 {
        margin-bottom: 70px;
    }
    #brand-1,
    #brand-2 {
        padding-left: 40px;
        padding-right: 40px;
    }
    .brands-section img {
        max-width: 100%;
    }
    /* end Brands Section */
    /* Product/ Services Section */
    .section-1 .medium-12.columns {
        padding-left: 1.875em;
        padding-right: 1.875em;
    }
    .section-1 h4 {
        font-size: 50px;
        margin-bottom: 29px;
    }
    .box-product {
        min-height: 271px;
        margin-top: 12px;
    }
    .box-product .link_area {
        width: 100%;
        padding: 32px 20px;
    }
    .box-product.first {
        min-height: 219px;
        margin-top: 0;
    }
    .box-product .box_content {
        margin-bottom: 41px;
    }
    /* end Product/ Services Section */
    .flip-container {
        padding: 0 0.5em;
    }
}
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
/* Small screens */
@media only screen and (max-width: 40.063em) {
    .section_content a {
        margin-bottom: 5px;
    }
    .section_content.aspot-b {
        bottom: 5px;
    }
    .section_content.aspot-t {
        bottom: 5px;
        top: auto;
    }
    .section_content.aspot-m {
        bottom: 5px;
        transform: none;
    }
}
/* Medium screens */
@media only screen and (min-width: 40.063em) {
    /* Products & Services Section */
    .box-product.first .box_content {
        margin-bottom: 0;
    }
    /* end products/service section */
}
/* min-width 641px, medium screens */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
    .fillWidth {
        width: 100%;
        margin-bottom: 0;
    }
    /* Video Section */
    .section_content {
        top: 57%;
        margin-left: 0;
    }
    .section_content h1.hero {
        font-size: 53px;
        letter-spacing: 3px;
    }
    .section_content a {
        font-size: 29px;
        width: 365px;
    }
    .links_area {
        /*margin-top: 12px;*/
    }
    /*.banner {
    height: 583px;
}*/
    .banner.big_banner {
        height: 675px;
    }
    /* end Video Section */
    /* Boxes Section*/
    .dist-image {
        margin-bottom: 0 0 0;
    }
    .dist-image img {
        width: 100%;
    }
    .boxes-section .columns {
        padding-left: 1em;
        padding-right: 1em;
    }
    .boxes-section {
        padding: 40px 0 20px;
    }
    .boxes-section h2 {
        /* margin: 0;
        text-align: center;
        color: $primary;
        padding-bottom: 40px;*/
    }
    .boxes-section .link_area a:after {
        margin-right: -22px;
    }
    .dist-image {
        margin: 0;
    }
    .box {
        padding: 40px 21px 0;
        /*min-height: 500px;*/
        min-height: auto;
        position: relative;
        overflow: hidden;
    }
    .box:after {
        display: none;
    }
    .box_text {
        float: none;
        text-align: center;
        padding: 0;
        overflow: hidden;
        padding: 0 20px;
        height: 135px;
    }
    .box h5 {
        font-size: 26px;
        /* height: 85px;*/
        height: auto;
        padding: 10px 0;
    }
    .box p {
        margin: 0 17px;
        font-size: 18px;
        font-style: italic;
        line-height: 1;
    }
    .link_area {
        padding-top: 28px;
        margin-bottom: 0;
    }
    .link_area.first {
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
        display: none;
    }
    .link_area.first a {
        font-size: 17px;
        color: $dark;
    }
    .link_area.first a:after {
        margin-right: -5px;
        height: 26px;
    }
    /* end Boxes Section*/
    /* Brands section */
    .brands-section {
        padding: 70px 0 95px;
    }
    .brands-section h3 {
        font-size: 45px;
        margin-bottom: 108px;
        line-height: 1.4;
    }
    #brand-1 {
        margin-bottom: 110px;
    }
    #brand-1,
    #brand-2 {
        padding-left: 200px;
        padding-right: 200px;
    }
    .brands-section img {
        max-width: 100%;
    }
    /* end Brands section */
    /* Product/services */
    .section-1 {
        padding: 50px 0;
        position: relative;
        /*margin-top: -685px;*/
    }
    .section-1 .large-4.columns {
        padding-left: 1.875em;
        padding-right: 1.875em;
    }
    .section-1 h4 {
        font-size: 75px;
        line-height: 1.4;
        margin-bottom: 58px;
    }
    .box-product {
        min-height: 383px;
        margin-top: 0;
    }
    .box-product .box_content {
        line-height: 240px;
        margin-bottom: -36px;
    }
    .box-product .link_area {
        width: 85%;
        padding: 38px 20px;
        margin-left: 30px;
        margin-top: 70px;
    }
    .box-product .link_area a {
        font-size: 21px;
    }
    /* end prodyct/services */
}
/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 90.063em) {
    /* Video Section */
    .section_content {
        /*top: 64%;*/
    }
    .section_content h1.hero {
        font-size: 75px;
        letter-spacing: 3px;
        margin: 0 auto;
        line-height: 0.9;
    }
    .section_content a {
        float: right;
        color: $white !important;
        text-shadow: 2px 3px 2.91px rgba(1, 1, 1, 0.25);
        display: inline-block;
        font-size: 32px;
        background: $primary;
        padding: 7px 3px;
        margin-bottom: 10px;
        font-weight: bold;
        width: 510px;
        text-align: center;
        margin-top: 0;
        /*box-shadow: inset -2px -2px 7px 0px rgba(255,255,255,0.2);*/
        transition: all 0.5s ease-in-out;
    }
    .section_content a:hover {
        background: $secondary;
        border-radius: 10px;
    }
    .links_area {
        /*margin-top: 12px;*/
    }
    .link_area.first {
        display: none;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 0;
    }
    .banner,
    .banner.big_banner {
        height: 768px;
    }
    /* end Video Section */
    /* Boxes Section */
    .dist-image {
        margin: 0 0 10px;
    }
    .dist-image img {
        width: 100%;
    }
    .boxes-section {
        padding: 40px 0 20px;
    }
    .boxes-section h2 {
        /*margin: 0;
        text-align: center;
        color: $primary;
        padding-bottom: 40px;*/
    }
    .boxes-section .link_area a:after {
        margin-right: -22px;
    }
    .boxes-section .columns {
        padding-left: 1.875em;
        padding-right: 1.875em;
    }
    .box {
        position: relative;
        background: transparent;
        padding: 40px 40px 0;
        /*min-height: 560px;*/
        min-height: auto;
        text-align: center;
        font-size: 20px;
        color: $primary;
        overflow: hidden;
    }
    .box:after {
        display: none;
    }
    .box_text {
        height: 160px;
    }
    .box h5 {
        font-size: 32px;
        height: auto;
        padding: 10px 0;
    }
    .link_area {
        margin: 0 0 21px;
        padding: 35px 0 0;
    }
    .link_area a {
        font-size: 22px;
    }
    .link_area a:after {
        margin-right: -55px;
    }
    /* end boxes Section */
    /* Brands Section */
    .brands-section {
        padding: 70px 0 74px;
    }
    .brands-section h3 {
        font-size: 45px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 129px;
        line-height: 1.4;
    }
    #brand-1 {
        margin-bottom: 140px;
    }
    #brand-1,
    #brand-2 {
        padding-left: 200px;
        padding-right: 200px;
    }
    .brands-section img {
        max-width: 100%;
    }
    /* end Brands Section */
    /* Product/services Section */
    .section-1 {
        padding: 45px 0 15px;
        position: relative;
        /*margin-top: -780px;*/
    }
    .section-1 h4 {
        font-size: 127px;
        line-height: 1.4;
        margin-bottom: 100px;
    }
    .box-product {
        min-height: 404px;
    }
    .box-product .box_content {
        line-height: 240px;
        margin-bottom: -36px;
    }
    .box-product .link_area {
        width: 93%;
        padding: 38px 20px;
        margin-left: 23px;
        margin-top: 70px;
    }
    /* end product/services Section */
}
/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
    .hide-desktop {
        display: block!important;
    }
    .video-container {
        display: none!important;
    }
    .videofilter {
        display: none!important;
    }
}
@media screen and (min-width:1024px) {
    .hide-desktop {
        display: none;
    }
    .video-container {
        display: block;
    }
    .videofilter {
        display: block;
    }
}
@media screen and (max-width:1024px) {
    .section_content {
        position: relative !important;
        width: 100% !important;
        top: auto !important;
        bottom: auto !important;
        transform: none !important;
        left: auto !important;
        right: auto !important;
        margin-bottom: 10px;
        margin-top: 0;
        max-height: 1000px !important;
    }
    .full-width {
        background: $secondary;
    }

    .aspot_anchor {
      display:none;
      z-index: 1;
      // bottom: 9.8em;
      // margin-top:125px;
      li a .bottom {
        background: rgba(255, 255, 255, 0.95);
      }
    }
}
@media screen and (max-width:640px) {
    .flip-container {
        display: inline-block;
        float: none !important;
    }
    .section_content h1.hero {
        font-size: 25px !important;
    }
    .section_content a {
        font-size: 18px !important;
    }
}

@media screen and (max-width:768px) {
  body.home .content-container {
    padding-left:1em;
    padding-right:1em;
  }
}
@media screen and (max-width:400px) {
    .brand-inner-block.front {
        border: none !important;
        border-bottom: 1px solid #ccc !important;
    }
}
@media screen and (min-width:2000px) {
    .banner {
        height: 850px;
    }
}

section.img-pan div.aspot-content {
  z-index: 10;
}


.collection-reviews {
  background: #09f;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOTlmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ1ZDFmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #0099ff), color-stop(100%, #45d1ff));
  background-image: -moz-linear-gradient(bottom, #0099ff, #45d1ff);
  background-image: -webkit-linear-gradient(bottom, #0099ff, #45d1ff);
  background-image: url(https://s3.amazonaws.com/wp-agilitysquared/myproductdata/wp-content/uploads/2019/01/hs-reviews-bg.jpg);
  color:#ffffff;
  background-size: cover;
}

.bubble-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  font-family: sans-serif;
  font-size: 13px;
  color: #333;
}
.bubble-toggle:hover {
  background: rgba(255, 255, 255, 0.75);
}

.bubbles {
  overflow: hidden;
  margin: 0 auto;
}

.bubble-container {
  position: absolute;
  bottom: 0;
  will-change: transform;
  -webkit-animation: bubblerise 4s infinite ease-in;
  -moz-animation: bubblerise 4s infinite ease-in;
  -ms-animation: bubblerise 4s infinite ease-in;
  animation: bubblerise 4s infinite ease-in;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.bubble {
  width: 6px;
  height: 6px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.25);
  will-change: transform;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-animation: bubblewobble 0.4s infinite linear;
  -moz-animation: bubblewobble 0.4s infinite linear;
  -ms-animation: bubblewobble 0.4s infinite linear;
  animation: bubblewobble 0.4s infinite linear;
}

@-webkit-keyframes bubblerise {
  0% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  5% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  99% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    bottom: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-moz-keyframes bubblerise {
  0% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  5% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  99% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    bottom: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-ms-keyframes bubblerise {
  0% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  5% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  99% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    bottom: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@keyframes bubblerise {
  0% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  5% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  99% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    bottom: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-webkit-keyframes bubblewobble {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 2px;
  }
}
@-moz-keyframes bubblewobble {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 2px;
  }
}
@-ms-keyframes bubblewobble {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 2px;
  }
}
@keyframes bubblewobble {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 2px;
  }
}
