/* PRODUCT DETAILS PAGE */
/* Fixed Anchor Bar */
.single-product .anchor-links-bar{
    background-color: $primary-nav-bg!important;
}
.single-product .anchor-links-bar a:hover,
.single-product .anchor-links-bar a{
    color:$primary-nav-link!important;
}
.single-product .prod-description,
.page-template-template-categories .prod-description{
    padding-top: 2em !important;
}

.prod-description .tab-content h4.title {
  font-size:30px;
  color:#fff;
}

.hot-spring .prod-description h4 {
  color:#fff;
}

.caldera-spas .prod-description h4 {
  color:white;
}

.prod-description div.tabs div.tab-content a {
    text-decoration:underline !important;
}
ul.swatches{
    margin-bottom: 82px!important;

@media only screen and (min-width:540px){
    margin-bottom: 60px!important;
}

}

.product-anchors{
    display: none;
}
.product-title-line > div > div,
.product-title-line > div > span,
.product-title-line > div > p span {
    // position: absolute;

    // display: none;
    display: block;
    position: relative;
    margin-top: 25px;
}
hr.mobile-only{
    margin-bottom: 0;
}

hr.product-title-line {
  // margin: 2.25rem 0 1.1875rem;
  // margin: 50px 0 0 0;
  margin: 25px 0 0 0;
}

@media only screen and (min-width:1025px){
    hr.mobile-only{
    display:none;
    }
    .product-title-line > div > div,
    .product-title-line > div > span,
    .product-title-line > div > p span {
        display: block;
        // top:11px;
        top: -35px;
        right: 20px;
        position: absolute;
    }
    .product-anchors{
        display: block;
    }
}

@media (max-width: 639px) {
  .product-title-line > div > span {
    position: relative !important;
  }
}

/* SPA SELECTORS */

body.single-product.postid-1000571 img.ds_shell, body.single-product.postid-1676 img.ds_shell {
    margin-bottom: -16% !important;
}


.product-description {
    float: right !important;
}

.product-anchors {
    margin-bottom: 1.25rem;
}

.product-anchors .pill-button {
    float:left;
    /*border-radius: 20px;*/
    padding: 5px 0;
    /*background: $primary;*/
    color: $dark;
    text-align: center;
    /*margin-right: 1px;*/
    border-right: 1px solid $medium-light;
    transition: all .3s ease-in-out;
    /*text-decoration: underline;*/
}
.product-anchors .pill-button:hover {
    text-decoration: none;
    background: $primary;
    color: $light;
    font-weight: bold;
}

.product-anchors a:last-of-type .pill-button {
    border: none;
}

.product-anchors .pill-button p{
    margin: 0;
}

.product-anchors .pill-button p:after{
    padding-left: 10px;
    color: $medium-light;
    content: '\25BC';
    font-size: 12px;
}

.hot-tub .custom-product-view img.product-img { width: 100%; }

.custom-product-view {
    padding: 0px 1.875em;
}

.product-price-button {
    padding: 10px;
    background-color: $primary;
    /*max-width: 200px;*/
    text-align: center;
    color: $white;
    font-weight: bold;
    margin-top: 25px;
    transition: background-color .3s ease-in-out;
    float: left;
    margin: 0 5px;
    width: calc(33% - 10px );
    @media (max-width: 657px) {
        width: 100%;
        margin: 0 0 10px;
    }
}

.product-price-button:hover {
    background-color: $secondary;
    transition: background-color .3s ease-in-out;
}
.custom-product-view {
    text-align: center;
}

.collection-reviews {
    padding: 50px 0 60px;
}

.collection-reviews .spin-img {
    text-align: center;
}

.single-product .collection-reviews h2.title {
    margin: 0;
    text-align: center;
    color: #ffffff;
    padding-bottom: 50px;
}

/* INDIVIDUAL SPA SHELL ALIGNING */

/* Provence */
body.single-product.provence img.ds_shell {margin-bottom: -2.6% !important;}

/* Florence */
body.single-product.florence #spa-selector img:first-of-type {margin-bottom: -2.6% !important;}

/* Cantabria */
body.cantabria #spa-selector img:first-of-type {margin-bottom: -2.6% !important;}

/* Geneva */
body.geneva #spa-selector img:first-of-type {margin-bottom: -2.6% !important;}

/* Niagara */
body.niagara #spa-selector img:first-of-type {margin-bottom: -2.6% !important;}

/* Tahitian */
body.tahitian #spa-selector img:first-of-type {margin-bottom: -2.6% !important;}

//Limelight Flash
.single-product.postid-1018462 #spa-selector img:first-of-type {margin-bottom: -1.3% !important;}

//Limelight Prism
.single-product.postid-1018465 #spa-selector img:first-of-type {margin-bottom: -1.4% !important;}

//Limelight Beam
.single-product.postid-1018459 #spa-selector img:first-of-type {margin-bottom: -1.4% !important;}

//CS Kauai 2016
.single-product.postid-1000576 #spa-selector img:first-of-type {margin-bottom: -1% !important;}

//CS Martinique 2016
.single-product.postid-1000577 #spa-selector img:first-of-type {margin-bottom: -1.6% !important;}

//CS Salina 2016
.single-product.postid-1000578 #spa-selector img:first-of-type {margin-bottom: -1.3% !important;}

//CS Makena 2016
.single-product.postid-1000579 #spa-selector img:first-of-type {margin-bottom: -1.3% !important;}

//CS Reunion
body.reunion #spa-selector img:first-of-type {margin-bottom: -1.6% !important;}

//CS Seychelles
body.seychelles #spa-selector img:first-of-type {margin-bottom: -1.6% !important;}

//CS Aventine 2016

//CS Tarino 2016
.single-product.postid-1000628 #spa-selector img:first-of-type {margin-bottom: -2% !important;}

//CS Vanto 2016
.single-product.postid-1000573 #spa-selector img:first-of-type {margin-bottom: -1.6% !important;}

//CS Marino 2016
.single-product.postid-1000574 #spa-selector img:first-of-type {margin-bottom: -2% !important;}

//CS Palatino 2016
.single-product.postid-1000575 #spa-selector img:first-of-type {margin-bottom: -1.6% !important;}


// Current Model Caldera Spas

//CS Geneva
.single-product.postid-1629 #spa-selector img:first-of-type {margin-bottom: -2% !important;}

//CS Niagara
.single-product.postid-2178 #spa-selector img:first-of-type {margin-bottom: -2.4% !important;}

//CS Tahitian
.single-product.postid-1636 #spa-selector img:first-of-type {margin-bottom: -2.6% !important;}

//CS Salina
.single-product.postid-1643 #spa-selector img:first-of-type {margin-bottom: -2.5% !important;}

//CS Martinique
.single-product.postid-1645 #spa-selector img:first-of-type {margin-bottom: -2.9% !important;}

//CS Kauai
.single-product.postid-1646 #spa-selector img:first-of-type {margin-bottom: -2.4% !important;}

//CS Palatino
.single-product.postid-1649 #spa-selector img:first-of-type {margin-bottom: -2.8% !important;}

//CS Marino
.single-product.postid-1653 #spa-selector img:first-of-type {margin-bottom: -2.3% !important;}

//CS Vanto
.single-product.postid-1654 #spa-selector img:first-of-type {margin-bottom: -2.4% !important;}

//CS Tarino
.single-product.postid-1673 #spa-selector img:first-of-type {margin-bottom: -2.4% !important;}


// HOT SPRING SPAS
//HS Grandee
.grandee-shell {margin-bottom: -3.4% !important;}
//HS Vanguard
.vanguard-shell {margin-bottom: -3% !important;}
//HS Sovereign
.sovereign-shell {margin-bottom: -3.2% !important;}
//HS Envoy
.envoy-shell {margin-bottom: -3% !important;}
//HS Aria
.aria-shell {margin-bottom: -2.7% !important;}
//HS Prodigy
.prodigy-shell {margin-bottom: -2.9% !important;}
//HS Triump
.triump-shell {margin-bottom: -3.2% !important;}
//HS Jetsetter-lx
.jetsetter-lx-shell {margin-bottom: -3.2% !important;}
//HS Jetsetter
.jetsetter-shell {margin-bottom: -3% !important;}
//HS Prism
.prism-shell {margin-bottom: -3% !important;}
//HS Pulse
.pulse--shell {margin-bottom: -3.4% !important;}
//HS Flash
.false-shell {margin-bottom: -1.3% !important;}
//HS Flair
.flair--shell {margin-bottom: -4% !important;}
//HS Beam
.beam-shell {margin-bottom: -1.4% !important;}
//HS Rhythm
.prism-shell {margin-bottom: -3% !important;}
//HS Relay
.relay-shell {margin-bottom: -2.6% !important;}
//HS Pace
.pace-shell {margin-bottom: -2% !important;}
//HS Stride 
.stride-shell {margin-bottom: -2.6% !important;}
//HS SX
.sx-shell {margin-bottom: -1.6% !important;}
// HS TX
.tx-shell { margin-bottom: -14.8% !important; }
.sx-cab, .tx-cab, .stride-cab {
    width: 620px !important;
}


ul.shell-list {
  text-align: center;

}


/*SPECS*/

.prod-specs{
    padding: 50px 0 80px;
}

.prod-specs .row {
  max-width:1400px !important;
}
.prod-specs .spec-liner-left {

    width: 2%;
    margin-right: 2%;
    height: 400px;
    float: left;
    border: 1px solid $black;
    border-right: none;
}

.prod-specs .spec-left {

    width: 10%;
    /*height: 400px;*/
    float: left;
    font-size: 20px;
    /*padding: 190px 0;*/
}

.prod-specs .spec-main-img {
    max-height: 500px;
    max-width: 85%;
}

.prod-specs .spec-liner-right {
    /*width: 440px;*/
    height: 10px;
    margin-top: 10px;
    margin-left: 14%;
    border: 1px solid $black;
    border-top: none;
}


.prod-specs .spec-right {
    margin-left: 14%;
    font-size: 20px;
    text-align: center;
    /*padding: 0 210px;*/
}


.prod-specs .spec-img-wrapper {
    display: inline-block;
    /*max-height: 320px;*/
    max-width: 100%;
}

/* PROD SPECS*/

.prod-specs h2.title {
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
}

table.prod-specs-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $light;
}

table.prod-specs-table td {
    height: 40px;
    width: 50%;
}

table.prod-specs-table td p {
    margin: 0;
    margin-left: 20px;
    padding: 5px 10px;
    font-size: 16px;
}

table.prod-specs-table td p.table-key {
    font-weight: bold;
    text-align: right;
    margin-right: 20px;
}

table.prod-specs-table tr:nth-child(2n) {
    background: $light;
}

.spec-details{
    margin-bottom: 40px;
}

ul.prod-specs-list {
    list-style: none;
    margin: 0 0 0 0;
}

ul.prod-specs-list li {
    background-color: $medium-light;
    border-top: 1px solid $medium-dark;
    height: 40px;
}

ul.prod-specs-list li a {
    line-height: 40px;
    color: $black !important;
    font-weight: bold;
    width: 200px;
    display: block;
    margin: 0 auto;
    white-space: nowrap;
}

ul.prod-specs-list li a:before {
    content: '\f054';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-right: 20px;
}

ul.prod-specs-list li.ui-state-active a:before {
    content: '\f078';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-right: 15px;
}

p.note-tab{
    text-align: center;
    margin: 0;
    padding: 8px 0;
    width: 100%;
    background: $medium-light;
    font-weight: bold;
    border-top: 1px solid $medium;
}

.spec-image {
    text-align: center;
}

.warranty-container {
    text-align:center;
    margin-top:10px;
}

div.specs-buttons {
  width: 100%;
  max-width: 600px;
  display:block;
  margin: 0 auto;
}

a.warranty-link {

    color: $white!important;
    display:inline-block;
    padding: .5em 1em;
    float:left;
    margin: 1em .25em 0;
    width: 100%;
}

a.secondary-button-link {

    color: $white!important;
    display:inline-block;
    padding: .5em 1em;
    float:left;
    margin: 1em .25em 0;
    width: 100%;
}



/* PRODUCT EXCLUSIVE FEATURES*/
.exclusive {
    background: url('https://s3.amazonaws.com/wp-agilitysquared/myproductdata/wp-content/uploads/2015/06/strip-blue.jpg');
    color: $white;
}

.product-exclusive {
    background-color: transparent !important;
}

.exclusive h2.title {
    color: $white;
    padding-bottom: 40px;
}

.exclusive h3.title {
    color: $white;
}

.product-desc-list a, .product-desc-list a:hover {
  color:$white !important;
}

.exclusive .slider .slick-dots li > button {
    background-color: $medium-dark !important;
}

.exclusive .slick-dots li.slick-active > button {
    background-color: $white !important;
}



.exclusive .feat-content {
    text-align: left;
}

.exclusive .image-feature {
    margin: 0 auto;
}

/*PRODUCT PRICING FORM SECTION*/
.get-pricing {
    padding: 40px 0;
}

.get-pricing h2.title {
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
}

/*PRODUCT REVIEW VIEW ALL */
.view-more-reviews {
    max-width: 200px;
    padding: 10px;
    margin: 20px auto;
    color: $dark;
    background-color: $white;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    transition: all .5s ease;
}

.view-more-reviews:hover {
    background-color: $secondary;
    color: $white;
}

/*.jet-details{display: none;}*/
/* Interactive Jet (+) Signs */
.jet-system-img-wrapper { text-align: center;}
.plus-container{
  display: block;
margin: 0 auto;
    max-height: 500px;
    max-width: 80%;
    position: relative;
    display: inline-block;
}
.plus-container .plus-icon{
  // background-image: url('../dist/img/reg-plus.png');
  background-size: cover;
  background-repeat: no-repeat;
  /*background-position: 0 -34px;*/
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
  // opacity: 0.7;
  opacity: 0.8;
  color: #333 !important;
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
  -webkit-box-shadow: 4px 4px 14px -1px rgba(0,0,0,0.27);
  -moz-box-shadow: 4px 4px 14px -1px rgba(0,0,0,0.27);
  box-shadow: 4px 4px 14px -1px rgba(0,0,0,0.27);
}

.plus-icon {
  // background-image: url('../dist/img/reg-plus.png');
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: 0 -34px;*/
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 0.7;
}

// Moving the numbers over that "look" off-centered.
.plus-container .plus-icon#test-link-1 {
  padding-right: 2px;
}
.plus-container .plus-icon#test-link-4 {
  padding-right: 1px;
}
.plus-container .plus-icon#test-link-7 {
  padding-left: 2px;
}



.plus-container .plus-icon:hover {
    opacity: 1;
    background: $dark;
    color: $white !important;
    -webkit-box-shadow: 4px 4px 14px -1px rgba(0,0,0,0.27);
    -moz-box-shadow: 4px 4px 14px -1px rgba(0,0,0,0.27);
    box-shadow: 4px 4px 14px -1px rgba(0,0,0,0.27);
}
.plus-container .plus-icon.selected {
  // background-image: url('../dist/img/selected-plus.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  background: $dark;
  color: $white !important;
  -webkit-box-shadow: 4px 4px 14px -1px rgba(0,0,0,0.27);
  -moz-box-shadow: 4px 4px 14px -1px rgba(0,0,0,0.27);
  box-shadow: 4px 4px 14px -1px rgba(0,0,0,0.27);
}

// Brand specific colors

body.caldera-spas .plus-container {

  .plus-icon {
    color: $white !important;
    background: $caldera-light;

    &:hover {
      background: $caldera;
      color: $white !important;
      opacity: .8;
    }

    &.selected {
      background: $caldera;
      color: $white !important;
      opacity: .8;
    }
  }
}

body.hot-spring .plus-container {

  .plus-icon {
    color: $white !important;
    background: $hotspring;

    &:hover {
      background: $hotspring-blue;
      color: $white !important;
      opacity: 0.8;
    }

    &.selected {
      background: $hotspring-blue;
      color: $white !important;
      opacity: 0.8;
    }
  }
}

body.freeflow-spas .plus-container {

  .plus-icon {
    color: $white !important;
    background: $freeflow;

    &:hover {
      background: $hotspring-blue;
      color: $white !important;
    }

    &.selected {
      background: $hotspring-blue;
      color: $white !important;
    }
  }
}

body.fantasy-spas .plus-container {

  .plus-icon {
    color: $white !important;
    background: $fantasy;

    &:hover {
      // background: $hotspring-blue;
      color: $white !important;
    }

    &.selected {
      // background: $hotspring-blue;
      color: $white !important;
    }
  }
}




div.accessories.exclusive-features div.feature-block {
   float: none !important;
   display:inline-block;
}

.accessories.exclusive-features {
  text-align:center;
}


@media screen and (max-width:480px) {
    .plus-container .plus-icon {
        width: 15px;
        height: 15px;
    }
}

/****************************************/
/***** RESPONSIVES STYLES ***************/
/****************************************/

@media screen and (max-width:1250px) {

    .custom-product-view { padding:  0px 1.875em 120px; }
}

@media screen and (max-width:1024px) {

  h1.title.hot-tub-title {
    // padding: 0 10px;
  }

    /* Product Top Area*/
    .prod-customize-content {
        padding-bottom: 30px;
    }
    .custom-product-view { padding:  0px 1.875em; }
    .product-title-line h2.title { text-align: center; }
    .product-heading h3 {
        text-align: left;
        margin-top: .75em;
    }
    .product-price-button {/* max-width: 100%; margin: 0 30%;*/}
    /* EXCLUSIVE FEATS*/
    .exclusive h3.title { text-align: center; }
    .collection-reviews { padding: 40px 0; }
    .exclusive h2.title { padding-bottom: 40px; }
    /*JET SYSTEM*/

    .jet-system-img-wrapper {
        text-align: center;
    }
    .jets-info {
        padding-top: 20px;
    }
    .jets-info .tab-content {
        text-align: center;
    }
    .jets-info .ui-tabs-anchor {
        width: 400px;
        margin: 0 auto;
    }

    .jet-system .ui-tabs-vertical .ui-tabs-nav li a { font-size: 20px }
    .acc-content iframe { height: 450px !important; }

    /* PRODUCT SPECS*/
    .spec-image {
        text-align: center;
    }
    /*.spec-image img.spec-main-img {
    max-width: 85%;
}*/


    /*.prod-specs .spec-liner-right { margin-left: 70px; }*/


    /* ACCESSORIES*/
    .feature-block {
        padding: 0 1.875em 40px !important;
        text-align: center;
        float: none !important;
        display: inline-block;
        vertical-align: top;
    }
    .feature-desc {
        min-height: 100px;
    }

    /*PRICING */
    .pricing-spinner {
        text-align: center;
    }

}

@media screen and (max-width:640px) {
    .product-anchors .pill-button {
        background: $primary;
        color: white;
    }
    /*Exclusive Feats*/
    .collection-reviews { padding: 20px 0; }
    .exclusive h2.title { padding-bottom: 0px; }

    /*Jet System*/
    .jet-system .ui-tabs-vertical .ui-tabs-nav li a { padding:  10px 0px; }
    .single-product .jet-system .ui-tabs-vertical .ui-tabs-nav li a:before { padding-right:10px; }
    .single-product .jet-system .ui-tabs-vertical .ui-tabs-nav li.ui-state-active a:before { padding-right: 9px !important; }
    .cat-page p.description { margin-bottom: 20px !important; }
    .jet-system-img-wrapper { padding-bottom: 20px; }
    .acc-content iframe { height: 350px !important; }

    /*Specs*/
    /*.spec-image img.spec-main-img { height: auto; }*/
    .spec-main-img { max-width:85% !important; }
    /*.prod-specs .spec-liner-right { margin-left: 70px; }*/

    /*Accessories*/
    .accessories-all-link { margin-top: 20px; }
    .feature-block:nth-child(5) { padding-bottom: 0 !important; }

    .product-anchors .pill-button{
        width: 50% !important;
        border: none;
    }
}

@media screen and (max-width:480px) {
    /*Jet System*/
    .jets-info { padding: 20px 1em !important; }

    .jets-info .ui-tabs-anchor { width: 300px; }
    .jet-system .ui-tabs-vertical .ui-tabs-nav li a { font-size: 14px;}
    .acc-content iframe { height: 230px !important; }
}

@media screen and (max-width:465px) {
    .spec-image {display: none; }

    .product-anchors .pill-button{
        width: 100% !important;
        border: none;
    }
}

@media screen and (min-width:1024px) {
  a.warranty-link,
  a.secondary-button-link {
    width: 48%;
  }
}
