//- Main -//
$primary: #007297;
$secondary: #707070;
$tertiary: #cccccc;
$link: #007296;
$body_link: #007bf7;
$link-hover: #cccccc;
// Light through Dark //
$dark: #333;
$medium-dark: #999;
$medium: #aaa;
$medium-light: #ccc;
$light: #f1f1f1;
// White and Black and Transparent //
$white: #fff;
$black: #000;
$trans-black: rgba(0,0,0,0.5);
$trans-black-low: rgba(0,0,0,0.2);
$trans-white: rgba(255,255,255,0.5);
$trans-white-low: rgba(255,255,255,0.2);
$trans: rgba(0,0,0,0);
// Borders //
$light-border: #c2c2c2;
// Header //
$header-primary-bg: #0098ea;
$header-secondary-bg: #275af4;
$header_logo_bg: #007296;
$primary-nav-bg: #00a1f2;
$primary-nav-bg-hover: #275af4;
$utility-nav-bg: #275af4;
$utility-nav-bg-hover: #81d742;
$primary-nav-link: #ffffff;
$primary-nav-link-action: #ffffff;
$primary-nav-link-active: #020202;
$util-nav-link: #ffffff;
$util-nav-link-action: #ffffff;
$util-nav-link-active: #000000;
$primary-nav-link-padding: 47px;
$search-bg: #275af4;
$search-text: #000000;
// Footer //
$footer-text: #ffffff;
$footer-link: #ffffff;
$footer-link-hover: #ffffff;
$footer-primary-bg: #333333;
$footer-secondary-bg: #000000;
$footer-nav-bg: #555555;
$footer-nav-item-bg: #444444;
$footer-nav-link: #ffffff;
$footer-nav-link-action: #ffffff;
$footer-nav-link-active: #ffffff;
// Mobile Menu Colors //
$mobile-menu-bg: #6b6b6b;
$mobile-menu-link: #ffffff;
$mobile-menu-link-action: #dd3333;
// Watkins Branding //
$hotspring: #009AA6; //Lagoon (Teal)
$hotspring-blue: #0039A6; //Royal Blue
$caldera:#D93B20; //Vibrant Orange
$caldera-light: #F47A55; //Light Orange
$fantasy: #13BFBF;
$freeflow: #3498DB;
