/*page for https://staging.myproductdata.com/uncategorized/financial-benefits/*/
.postid-1022589 h2.entry-title {
    text-align: center;
    line-height: 1.3;
    color: #2c45b2;
    font-weight: 600;
}

.postid-1022589 h2.aspot-page-title {
    text-decoration: unset !important;
}

.postid-1022589 * {
    font-family: "Roboto", Sans-serif;
}

.postid-1022589 h3 {
    text-align: left !important;
    font-weight: 600;
    font-size: 2em;
}

.postid-1022589 section h3:first-of-type {
    text-transform: none;
    font-size: 32px !important;
}

.postid-1022589 .single-post-wrap {
    max-width: 850px !important;
}

.postid-1022589 ul {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 1.25rem;
    list-style-position: outside;
    font-family: inherit;
}

.postid-1022589 h2 {
    font-size: 3em !important;
}

/*page for https://staging.myproductdata.com/uncategorized/financial-benefits/*/


/*https://staging.myproductdata.com/endless-pools-aquatic-fitness-exercises/*/
.page-id-1022672 .default.body_container h2 {
    text-decoration: unset !important;
    font-size: 3em;
    margin-bottom: 20px;
}
.page-id-1022672  .line-qty-2.h3-medium {
    height: auto !important;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 70px;
}
.page-id-1022672 .aspot-color-overlay {
    background-color: transparent !important;
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, #000000 54%) !important;
    opacity: .7 !important;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.page-id-1022672 div.aspot-content h3 {
    font-size: 1.5em !important;
    letter-spacing: 4px !important;
}


  
.container.aquatic__fitness__block__1 iframe {
    width: 100%;
}

.container.aquatic__fitness__block__1 iframe {
    width: 100%;
    height: 100%;
}


.container.aquatic__fitness__block__1 {
    max-width: 1140px !important;
}

a.blog__button {
    color: #ffffff !important;
    background-color: #15a0db;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: 600;
    margin-top: .5em;
    display: inline-block;
}

.container.aquatic__fitness__block__1 p {
    font-size: 1.3em;
    margin-bottom: 20px;
    color: #000000;
}
    .container.email__marketing__container * {
        font-family: "Roboto", Sans-serif;
        line-height: 24px;
        text-rendering: optimizeLegibility;
    }

    .container.email__marketing__container h3 {
        margin-top: 2em;
        margin-bottom: 1em;
        font-weight: 600;
    }

    .page-id-1022734 .default.body_container {

        .container,
        .row {
            max-width: 850px !important;
            margin: 0 auto;
        }
    }

    .page-id-1022734 .aspot-content.middle.text-container-med.line-qty-1.h3-medium {
        display: flex;
        justify-content: center;
        align-items: flex-end;
      }
      
      
      .page-id-1022734 .aspot-color-overlay {
        background-color: transparent !important;
        background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 45%, #000 80%) !important;
        opacity: 0.7 !important;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
      }

      .page-id-1022734 h2.aspot-page-title {
        text-decoration: unset !important;
        margin-bottom: 1.5em;
      }
      
      @media(max-width: 1023px){ 
        .page-id-1022734 .aspot-content.middle {
          height: 100%;
          width: 100%;
          margin-bottom: 0;
          display: flex;
          align-items: flex-end;
          padding-bottom: 3em;
        }
      }
      
      .page-id-1022734 div.aspot-content h2 {
        font-size: 3em;
      }


    /*https://staging.myproductdata.com/are-hot-tubs-a-good-investment/*/





    /*https://staging.myproductdata.com/how-much-does-it-cost-to-run-a-hot-tub/*/


    .page-id-1022749 h2.aspot-page-title {
        text-decoration: unset !important;
    }



    .page-id-1022749 p {
        line-height: 24px;
        margin-bottom: 1.25rem;
        text-rendering: optimizeLegibility;
        font-family: "Roboto", Sans-serif;
    }

    @media(max-width:1023px) {
        .page-id-1022749 iframe.elementor-video-iframe {
            width: 100%;
            min-height: 350px;
        }
    }

    @media(min-width: 1024px) {
        .page-id-1022749 iframe.elementor-video-iframe {
            width: 100%;
            min-height: 550px;
        }
    }
    .page-id-1022749 .page-50-50-content .row {
        max-width: 850px !important;
    }
    .page-id-1022749 .aspot-content.middle.text-container-med.line-qty-1.h3-medium {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
      
      
      @media(min-width: 1024px){
        .page-id-1022708 .line-qty-2.h3-medium {
            top: 0 !important;
            display: flex;
            align-items: center;
        }
        
        .page-id-1022708 .line-qty-2.h3-medium {
            top: 0 !important;
            display: flex;
            align-items: center;
            width: 100% !important;
            max-width: 1800px;
            justify-content: end;
            text-align: left !important;
        }
      }
      .page-id-1022708 .aspot-color-overlay {
        background-color: transparent !important;
        background-image: linear-gradient(150deg, rgba(0,0,0,0.91) 0%, rgba(0,0,0,0) 100%) !important;
        opacity: .8 !important;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
      }
      
      body.page-template-default.page.page-id-1022708.logged-in.admin-bar.woocommerce-js.installation-gallery.inside-page.sidebar-primary.customize-support {
        background: #fff;
        color: #333;
        padding: 0;
        margin: 0;
        font-weight: normal;
        font-style: normal;
        line-height: 1.5;
        position: relative;
        cursor: auto;
        font-size: 100% !important;
        line-height: initial;
      }
      
      html  {
        font-size: 100% !important;
      }
      
      .page-id-1022708 .nav>li>a {
        position: initial !important;
        margin: initial;
        font-size: initial;
        display: initial;
        padding: inherit;
      }

    .header2 ul.main.nav li a:hover {
      background: initial;
    }


    /*CODING gallery css */
    /*https://staging.myproductdata.com/installation-gallery/*/









    /*https://staging.myproductdata.com/are-hot-tubs-a-good-investment/*/
    .page-id-1022734 h2.aspot-page-title {
        text-decoration: unset !important;
    }

    .container.email__marketing__container>* {
        font-weight: normal;
        line-height: 24px;
        margin-bottom: 1.25rem;
        text-rendering: optimizeLegibility;
        font-family: "Roboto", Sans-serif;
    }

    .container.email__marketing__container {
        max-width: 1140px !important;
        margin: 0 auto;
    }

    .container.email__marketing__container p {
        line-height: 24px;
        margin-bottom: 1.25rem;
        text-rendering: optimizeLegibility;
        font-family: "Roboto", Sans-serif;
    }

    .container.email__marketing__container strong {
        line-height: 24px;
        margin-bottom: 1.25rem;
        text-rendering: optimizeLegibility;
        font-family: "Roboto", Sans-serif;
        font-size: 2em;
    }
    .page-id-1022708 ul.list-inline li img {
        width: 100% !important;
        height: auto !important;
    }

    .page-id-1022708 .row {
        margin: 0 auto;
    }

    .page-id-1022708 .modal-header,
    .page-id-1022708 .modal-footer {
        display: none;
    }

    .page-id-1022708 .modal-dialog {
        width: 50%;
        top: 50%;
        transform: translateY(-50%) !important;
    }

    .page-id-1022708 .modal-body {
        background: #4a4a4a;
    }

    .page-id-1022708 .glyphicon-chevron-left:before,
    .page-id-1022708 .glyphicon-chevron-right:before {
        color: white;
    }

    .page-id-1022708 .modal-content {
        background-color: transparent;
    }

    .page-id-1022708 .modal-body .item img {
        width: 100% !important;
        max-width: 800px;
        height: auto !important;
    }


    @media(max-width: 1023px) {
        .page-id-1022708 .modal.fade .modal-dialog {
            width: 90%;
        }
    }


    @media(min-width: 768px) and (max-width: 1023px) {
        .page-id-1022708 ul.list-inline li {
            width: 50%;
        }
    }

    @media(max-width: 767px) {
        .page-id-1022708 ul.list-inline li {
            width: 100%;
        }
    }


    .page-id-1022708 h2.aspot-page-title {
        font-size: 4em !important;
    }
    .page-id-1022708 h3.aspot-subheading.aspot-h3-medium {
    text-transform: capitalize;
    letter-spacing: 1px !important;
    }

    @media(min-width: 1024px){
        .page-id-1022708 .line-qty-2.h3-medium {
            top: 0 !important;
            display: flex;
            align-items: center;
        }
        
        .page-id-1022708 .line-qty-2.h3-medium {
            top: 0 !important;
            display: flex;
            align-items: center;
            width: 100% !important;
            max-width: 1800px;
            justify-content: end;
        }
    }




    .page-id-1022708 h2.aspot-page-title {
        font-size: 3em !important;
        margin-bottom: 20px;
      }
      .page-id-1022708 h3.aspot-subheading.aspot-h3-medium {
        text-transform: capitalize;
        letter-spacing: 1px !important;
        font-size: 1.5em !important;
      }

@media(max-width: 1023px) {
    .iframe__gallery p {
        width: 100%;
        text-align: center;
    }

    .the__right__spa>div {
        width: 100%;
    }
}








/*https://staging.myproductdata.com/endless-pools-aquatic-fitness-exercises/*/

/*https://staging.myproductdata.com/installation-gallery/*/
    .page-id-1022708 .container {
        max-width: 1800px !important;
        width: 100%;
    }

    .page-id-1022708 .default.body_container h2 {
        text-decoration: unset !important;
    }

    .page-id-1022708 h3 {
        text-align: center;
        margin-bottom: 1em;
        font-size: 2.5em;
    }

    .page-id-1022708 .default.body_container .container {
        max-width: 1140px !important;
        margin: 0 auto;
    }

    .page-id-1022708 {

        .max__width__container {
            max-width: 900px;
            text-align: center;
            margin: 0 auto;
            color: #7a7a7a;
            font-family: inherit;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 1.25rem;
            font-family: "Roboto", Sans-serif;
        }

        .gallery__of__images {
            display: flex;
            flex-wrap: wrap;
            margin-top: 3em;
            margin-bottom: 3em;
        }

        .gallery__of__images div {
            width: 33.333%;
            padding: .5em;
        }


        @media(min-width: 768px) and (max-width: 1023px) {

            .gallery__of__images div {
                width: 50%;
            }
        }

        @media (max-width: 767px) {
            .gallery__of__images div {
                width: 50%;
            }
        }

        .gallery__of__images div {
            cursor: pointer;
        }
    }

    /*CODING gallery css */

    .page-id-1022708 ul.list-inline {
        display: flex;
        flex-wrap: wrap;
    }



    .page-id-1022708 ul.list-inline li {
        width: 33%;
        font-family: "Roboto", Sans-serif;
    }

.secundary__menu__aquatic {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3em;
    margin-bottom: 3em;
}

.row.block__1 {
    margin-top: 2em;
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
}

.secundary__menu__aquatic a {
    color: #15a0db !important;
}

h3.aquatic__title {
    width: 100%;
    text-align: center;
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
    margin-bottom: 1em;
    font-size: 2.5em;
}

.container.aquatic__fitness__block__1 {
    max-width: 1140px !important;
}

.title__block h3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: prelobold;
    font-size: 2.5em;
    text-transform: uppercase;
    color: white;
}

.title__block h3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: prelobold;
    font-size: 2.5em;
    text-transform: uppercase;
    color: white;
}

.title__block {
    background: #3689ae;
    padding: 1em;
    margin-bottom: 3em;
}

.title__block h5 {
    color: white;
}

.iframe__gallery {
    display: flex;
    flex-wrap: wrap;
}

.iframe__gallery p {
    width: 33.3%;
    padding: .5em;
    padding-bottom: 2em;
}

.the__right__spa {
    display: flex;
    flex-wrap: wrap;
}

.the__right__spa>div {
    width: 33.3%;
    padding: .7em;
}

p.center__children {
    text-align: center;
    padding-top: 1em;
}

.the__right__spa a {
    font-weight: 600;
    display: block;
}

.the__right__spa img {
    margin-bottom: 1em;
}
        
    .page-id-1022749 .aspot-color-overlay {
        background-color: transparent !important;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 73%) !important;
        opacity: 0.7 !important;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }
    
    /*https://staging.myproductdata.com/how-much-does-it-cost-to-run-a-hot-tub/*/



    /*https://staging.myproductdata.com/health-benefits-of-a-hot-tub/*/

    .page-id-1022759 h2.aspot-page-title {
        text-decoration: unset !important;
    }


    .page-id-1022759 {
        line-height: 24px;
        margin-bottom: 1.25rem;
        text-rendering: optimizeLegibility;
        font-family: "Roboto", Sans-serif;
    }


        
    .page-id-1022759 .page-50-50-content .row {
        max-width: 850px !important;
    }
    .page-id-1022759 .aspot-content.middle.text-container-med.line-qty-1.h3-medium {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    .page-id-1022759 .aspot-color-overlay {
        background-color: transparent !important;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 86%) !important;
        opacity: 0.7 !important;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }

    /*https://staging.myproductdata.com/health-benefits-of-a-hot-tub/*/





    /*global rules for all of the marketing pages  */
    .postid-1022589 .row p,
    .page-id-1022734 .row p,
    .page-id-1022749 .row p,
    .page-id-1022759 .row p {
        font-size: 24px;
        line-height: 1.5;
    }



    /*global rules for all of the marketing pages */